In [2]:
a=13
b=364
trudiv=a/b
trudiv

0.03571428571428571

In [3]:
floor_div=a//b
floor_div

0

In [4]:
c=47564.36474
round(c)

47564

In [5]:
type(c)

float

In [6]:
isinstance(a,int)

True

In [7]:
isinstance(b,float)

False

In [8]:
name="Talib"
age=21
print(f"Name:{name} & Age:{age}")

Name:Talib & Age:21

In [9]:
print("Name",name,"Age",age)

Name Talib Age 21

In [ ]:
string manipulation
1..upper()
2..lower()
3..title()
4.captalize()
5.replace()
6..strip()

string search
1..endswith()
2..startswith()
3..find()
4..index()

Validation
1..isdigit()
2..isalpha()
3..isalnum()
4..isspace()

other
1..count()
2..zfill()
3..swapcase()

In [ ]:
string manipulation
1..upper()
2..lower()
3..title()
4.captalize()
5.replace()
6..strip()

In [11]:
st_1="my name is talib and i'm an engineer of AI"
uppercase=st_1.upper()
uppercase

"MY NAME IS TALIB AND I'M AN ENGINEER OF AI"

In [13]:
st_2="THE CODING WHICH IS REALTED TO PYTHON IS EASIER THAN JAVA WE CAN SEE THAT"
lowercase=st_2.lower()
type(lowercase)

str

In [14]:
st_3="Have A Good day"
st_3.title()

'Have A Good Day'

In [16]:
st_4="hello mr.talib are you there"
st_4.capitalize()

'Hello mr.talib are you there'

In [17]:
st_5="Having Fun in life is an great achievement"
st_5.replace("Fun","Success")

'Having Success in life is an great achievement'

In [18]:
st_6=" No One will be therr to help you at this point of time because everyone is busy to have sleep  "
st_6.strip()

'No One will be therr to help you at this point of time because everyone is busy to have sleep'

In [ ]:
string search
1..endswith()
2..startswith()
3..find()
4..index()

In [19]:
st_7="Hello Man you are gotted"
st_7.startswith("H")

True

In [20]:
st_7.startswith("Hello")

True

In [22]:
st_7.startswith("HELLO")

False

In [23]:
st_7.endswith("d")

True

In [24]:
st_7.endswith("gotted")

True

In [25]:
st_7.endswith("gottEd")

False

In [26]:
st_7.find("E")

-1

In [27]:
st_7.find("H")

0

In [28]:
st_7.find("a")

7

In [29]:
st_7.index("E")

ValueError: substring not found

In [31]:
st_7.index("a")

7

In [32]:
st_7.index("H")

0

In [33]:
type(st_7.index("e"))

int

In [ ]:
Validation
1..isdigit()
2..isalpha()
3..isalnum()
4..isspace()

In [40]:
st_8=" Hey Man can you give me your number ? "
st_8.isdigit()

False

In [35]:
st_8.isalpha()

False

In [36]:
st_8.isalnum()

False

In [41]:
st_8.isspace()

False

In [42]:
st_9="My number is 36547"
st_9.isdigit()

False

In [43]:
st_9.isalpha()

False

In [44]:
st_9.isalnum()

False

In [45]:
st_10="eyd2534"
st_10.isalpha()

False

In [46]:
st_10.isalnum()

True

In [47]:
st_10.isspace()

False

In [1]:
st_11=" "
st_11.isspace()

True

In [2]:
st_12="Hello we here to learn about the coding for interview"
st_12.lower()

'hello we here to learn about the coding for interview'

In [3]:
st_12.upper()

'HELLO WE HERE TO LEARN ABOUT THE CODING FOR INTERVIEW'

In [6]:
print("Capitalize:",st_12.capitalize())
print("\n Title:",st_12.title())
print("\n Replaced(H to y):",st_12.replace("H","Y"))
print("\nStrip the leading and trailing space from both the ends:",st_12.strip())
print("\nSearching String")
print("Startswith :",st_12.startswith("Hello"))
print("Endswith:",st_12.endswith("y"))
print("Find (default=-1):", st_12.find("Z"))
print("Index (Default Error):",st_12.index("a"))
print("\nValidation")
print("Check if digit is there:",st_12.isdigit())
print("Check is it alpha char:",st_12.isalpha())
print("Check if it is alpha numeric value(Char+Num):",st_12.isalnum())
print("Check if string is empty or not:",st_12.isspace())
print("\nOther")
print("Zfill value (Fill values with 0 if needed):",st_12.zfill(20))
print("Change the case of the string:",st_12.swapcase())
print("Count the Char in the string:",st_12.count("a"))

Capitalize: Hello we here to learn about the coding for interview

 Title: Hello We Here To Learn About The Coding For Interview

 Replaced(H to y): Yello we here to learn about the coding for interview

Strip the leading and trailing space from both the ends: Hello we here to learn about the coding for interview

Searching String
Startswith : True
Endswith: False
Find (default=-1): -1
Index (Default Error): 19

Validation
Check if digit is there: False
Check is it alpha char: False
Check if it is alpha numeric value(Char+Num): False
Check if string is empty or not: False

Other
Zfill value (Fill values with 0 if needed): Hello we here to learn about the coding for interview
Change the case of the string: hELLO WE HERE TO LEARN ABOUT THE CODING FOR INTERVIEW
Count the Char in the string: 2

In [10]:
st_13="We are future of the coding and we will replace it with AI Coding"
st_14=" Password123@6 "
print("String Manipulation...")
print("Upper case:",st_13.upper())
print("Lower case:",st_13.lower())
print("Capitalize(Only the 1st char):",st_13.capitalize())
print("Title (Very 1st char will be in Upper case):",st_13.title())
print("Replace (Old ,New):",st_13.replace("We","You"))
print("Strip(Remove the leading and trailing space from both the ends):",st_14.strip())
print("\nSting Searching...")
print("Startswith:",st_13.startswith("you"),st_14.startswith(" "))
print("Endswith:",st_13.endswith("Coding"),st_14.endswith(" "))
print("Find(default=-1):",st_13.find("N"),st_14.find("1"))
print("Index(default= Error):",st_13.index("f"),st_14.index(" "))
print("\n Validation...")
print("Isdidgit:",st_13.isdigit(),st_14.isdigit())
print("Alphabet:",st_13.isalpha(),st_14.isalpha())
print("Alpha Numeric(Char+Num):",st_13.isalnum(),st_14.isalnum())
print("Space(Check for space):",st_13.isspace(),st_14.isspace())
print("\nOther..")
print("Zfill:",st_13.zfill(50),st_14.zfill(30))
print("Change the case :",st_13.swapcase(),st_14.swapcase())
print("Count (Character count):",st_13.count("w"),st_14.count("1"))

String Manipulation...
Upper case: WE ARE FUTURE OF THE CODING AND WE WILL REPLACE IT WITH AI CODING
Lower case: we are future of the coding and we will replace it with ai coding
Capitalize(Only the 1st char): We are future of the coding and we will replace it with ai coding
Title (Very 1st char will be in Upper case): We Are Future Of The Coding And We Will Replace It With Ai Coding
Replace (Old ,New): You are future of the coding and we will replace it with AI Coding
Strip(Remove the leading and trailing space from both the ends): Password123@6

Sting Searching...
Startswith: False True
Endswith: True True
Find(default=-1): -1 9
Index(default= Error): 7 0

 Validation...
Isdidgit: False False
Alphabet: False False
Alpha Numeric(Char+Num): False False
Space(Check for space): False False

Other..
Zfill: We are future of the coding and we will replace it with AI Coding 000000000000000 Password123@6
Change the case : wE ARE FUTURE OF THE CODING AND WE WILL REPLACE IT WITH ai cODING  pASSWORD123@6
Count (Character count): 3 1

In [12]:
for i in st_13:
    print(i,end=" ")

W e   a r e   f u t u r e   o f   t h e   c o d i n g   a n d   w e   w i l l   r e p l a c e   i t   w i t h   A I   C o d i n g

In [14]:
list_1=list(st_13)
print(list_1,end=" ")

['W', 'e', ' ', 'a', 'r', 'e', ' ', 'f', 'u', 't', 'u', 'r', 'e', ' ', 'o', 'f', ' ', 't', 'h', 'e', ' ', 'c', 'o', 'd', 'i', 'n', 'g', ' ', 'a', 'n', 'd', ' ', 'w', 'e', ' ', 'w', 'i', 'l', 'l', ' ', 'r', 'e', 'p', 'l', 'a', 'c', 'e', ' ', 'i', 't', ' ', 'w', 'i', 't', 'h', ' ', 'A', 'I', ' ', 'C', 'o', 'd', 'i', 'n', 'g']

In [15]:
tuple_1=tuple(st_14)
print(tuple_1,end=" ")

(' ', 'P', 'a', 's', 's', 'w', 'o', 'r', 'd', '1', '2', '3', '@', '6', ' ')

In [18]:
set_1={st_13}
print(set_1,type(set_1))

{'We are future of the coding and we will replace it with AI Coding'} <class 'set'>

In [19]:
set_2=set(st_13)
print(set_2,type(set_2))

{'l', 'h', 'r', ' ', 'c', 'I', 't', 'f', 'p', 'g', 'C', 'a', 'n', 'w', 'W', 'o', 'u', 'i', 'd', 'A', 'e'} <class 'set'>

In [21]:
list_2=[st_13]
print(list_2,type(list_2))

['We are future of the coding and we will replace it with AI Coding'] <class 'list'>

In [23]:
tuple_2=(st_13,)
print(tuple_2,type(tuple_2))

('We are future of the coding and we will replace it with AI Coding',) <class 'tuple'>

In [24]:
st_15="Hello Hello Hello Hello"
set_3={st_15}
print(set_3,type(set_3))

{'Hello Hello Hello Hello'} <class 'set'>

In [25]:
set_4=set(st_15)
print(set_4,type(set_4))

{'l', 'H', ' ', 'o', 'e'} <class 'set'>

In [26]:
set_4.add("Hello")
set_3.add("Hello")
print(set_3)
print(set_4)

{'Hello Hello Hello Hello', 'Hello'}
{'l', 'H', ' ', 'o', 'Hello', 'e'}

In [27]:
set_3.add("Hello")
set_4.add("Hello")
print(set_3)
print(set_4)

{'Hello Hello Hello Hello', 'Hello'}
{'l', 'H', ' ', 'o', 'Hello', 'e'}

In [28]:
list_2.append("Python")
print(list_2)

['We are future of the coding and we will replace it with AI Coding', 'Python']

In [31]:
st_16="1"
print(st_16*5)

11111

In [42]:
st_17="lib"
st_18="Ta"
print("".join(st_18) + "".join(st_17))

Talib

In [46]:
list_a=["t","a","l","i","b"]
list_b=["A","n","s","r","i"]
name="".join(list_a)
endname="".join(list_b)
print(name+endname)

talibAnsri

In [52]:
st_a="Hello man"
print(st_a.split("l"))

['He', '', 'o man']

In [53]:
print(st_a.split("e"))

['H', 'llo man']

In [54]:
print(st_a.split("o"))

['Hell', ' man']

In [55]:
print(st_a.split("H"))

['', 'ello man']

# List 
1.list_name.append()---elements can be added in empty list,list,nested list
2.list_name.extend()---it iterates on the given exactly one argument and then add it into the list
3.list_name.insert(,)--it takes exactly 2 arguments one is index second one is what to insert in the list
4.list_name.index()----it takes one element as argument from the list and then return its index & does not provide the index of nested list element
5.list_name.remove()---give value or item from the list to remove it
6.list_name.pop()------give index of that value to remove it
7.list_name.sort()----it takes no arg & work for  integer & character both and for single list
8.list_name.reverse()-just reverse the list element not the character
9.list_name.count()---it takes one arg to count that number in the 1-D list not the nested list

In [56]:
list_a=[]
print(list_a,type(list_a))

[] <class 'list'>

In [57]:
list_b=list()
print(list_b,type(list_b))

[] <class 'list'>

In [63]:
list_c=[3,4,36,64,465,384,3648,465,]
print("Append (10) at last:",list_c.append(10))
print("Insert (index,value):",list_c.insert(2,46))
print("Index(Take element from the list to provide its index):",list_c.index(465))
print("Remove(Take element from the list to remove it):",list_c.remove(46))
print("Pop(Take element or index number to remove that value it return the value ):",list_c.pop(0))
#print("Reverse the list:",list_c.reverse())
#print("Extend (40):",list_c.extend(40))
print("Count (Number element it returns):",list_c.count(4))
print("Sort in place not return anything:",list_c.sort())
print("Sorted it return the value :",sorted(list_c))

Append (10) at last: None
Insert (index,value): None
Index(Take element from the list to provide its index): 5
Remove(Take element from the list to remove it): None
Pop(Take element or index number to remove that value it return the value ): 3
Count (Number element it returns): 1
Sort in place not return anything: None
Sorted it return the value : [4, 10, 36, 64, 384, 465, 465, 3648]

In [2]:
list_d=[13,5,46,364,8,"Mango","Apple",34]
list_e=[
    [35,26,47,90,12,21,32,43],
    ["Talib","Vipul","Brijesh","anil"],
    ["#","@","76","Fruit",56,475]
]
print("List_d:",list_d)
print("List_c:",list_e)
print("Working in list_d...")
print("Append:(999)",list_d.append(999))
print("After Append:",list_d)
print("Insert(index,value):(1,10)",list_d.insert(1,10))
print("After Insert:",list_d)
print("Index(Value):(4)",list_d.index(46))
print("Remove(element):(364)",list_d.remove(364))
# print("Remove (element):Defalut(Error)",list_d.remove(500))
print("Pop(index):(1)",list_d.pop(1))
print("Count(element):",list_d.count(460))
print("Count(Elment):Default(Error)",list_d.count(4647))
print("Sorted(list_d):",sorted(list_d))

List_d: [13, 5, 46, 364, 8, 'Mango', 'Apple', 34]
List_c: [[35, 26, 47, 90, 12, 21, 32, 43], ['Talib', 'Vipul', 'Brijesh', 'anil'], ['#', '@', '76', 'Fruit', 56, 475]]
Working in list_d...
Append:(999) None
After Append: [13, 5, 46, 364, 8, 'Mango', 'Apple', 34, 999]
Insert(index,value):(1,10) None
After Insert: [13, 10, 5, 46, 364, 8, 'Mango', 'Apple', 34, 999]
Index(Value):(4) 3
Remove(element):(364) None
Pop(index):(1) 10
Count(element): 0
Count(Elment):Default(Error) 0

TypeError: '<' not supported between instances of 'str' and 'int'

In [73]:
try:
    print("Remove (element):Defalut(Error)",list_d.remove(500))
except ValueError as e:
    print(f"Value not found '{e}' ")

Value not found 'list.remove(x): x not in list'

In [74]:
try:
    print("Sorted :",sorted(list_d))
except TypeError as t:
    print(f"Not Supported '{t}' ")

Not Supported ''<' not supported between instances of 'str' and 'int''

In [13]:
list_e=[
    [35,26,47,90,12,21,32,43],
    ["Talib","Vipul","Brijesh","anil"],
    ["#","@","76","Fruit",56,475]
]

print(list_e)
print("Working in List_e...")
print("Appending the value at last..")
list_e.append(20)
list_e[1].append("Pranav")
print("Value appended:",list_e)
print("\n Inserting the value with their index..")
list_e.insert(2,"*")
list_e.insert(1,"&")
print("Inserted Value:",list_e)
print("\n Extend..")
extend=list_e.extend("Talib")
print(list_e)

[[35, 26, 47, 90, 12, 21, 32, 43], ['Talib', 'Vipul', 'Brijesh', 'anil'], ['#', '@', '76', 'Fruit', 56, 475]]
Working in List_e...
Appending the value at last..
Value appended: [[35, 26, 47, 90, 12, 21, 32, 43], ['Talib', 'Vipul', 'Brijesh', 'anil', 'Pranav'], ['#', '@', '76', 'Fruit', 56, 475], 20]

 Inserting the value with their index..
Inserted Value: [[35, 26, 47, 90, 12, 21, 32, 43], '&', ['Talib', 'Vipul', 'Brijesh', 'anil', 'Pranav'], '*', ['#', '@', '76', 'Fruit', 56, 475], 20]

 Extend..
[[35, 26, 47, 90, 12, 21, 32, 43], '&', ['Talib', 'Vipul', 'Brijesh', 'anil', 'Pranav'], '*', ['#', '@', '76', 'Fruit', 56, 475], 20, 'T', 'a', 'l', 'i', 'b']

In [15]:
try:
    print("\n Index..:",list_e.index("anil"))
except ValueError as v:
    print(f"Error:Value '{v}' ")

try:
    print("Remove Value:",list_e.remove(43))
except ValueError as v:
    print(f"Error:Value '{v}' ")
    
print("Pop Value:",list_e[1].pop(1))

reverse=list_e.reverse()
print("Reverse..:",reverse)
try:
    print("Reverse..:",list_e[1].reverse())
except AttributeError as a:
    print(f"Error:'{a}' ")
print("Count..:",list_e.count("Talib"))

Error:Value ''anil' is not in list'
Error:Value 'list.remove(x): x not in list'

AttributeError: 'str' object has no attribute 'pop'

In [11]:
list_f=["Talib","Vipul","Brijesh","anil"]
print(list_f.pop(1))

Vipul

In [8]:
list_f.remove("Vipul")
print(list_f)

['Brijesh', 'anil']

In [21]:
list_6=[1,2,3,4,"Pranav","Brijesh"]
list_7=[
    [4,3,5,6,48],
    ["Pista","Strawberry","Mango Shake"]
]
st=str(list_6)
print(st,type(st))
print(str(list_7),type(str(list_7)))

[1, 2, 3, 4, 'Pranav', 'Brijesh'] <class 'str'>
[[4, 3, 5, 6, 48], ['Pista', 'Strawberry', 'Mango Shake']] <class 'str'>

In [28]:
# set_a={list_6}
# print(set_a,type(set_a))
# set_b={list_7}
# print(set_b,type(set_b))

set_c=set(list_6)
print(set_c,type(set_c))
set_d=set(list_7)
print(set_d,type(set_d))

{1, 2, 3, 4, 'Brijesh', 'Pranav'} <class 'set'>

TypeError: unhashable type: 'list'

In [30]:
list_8=[]
list_9=[487,364,254,2083,3647,"Talib","Ansari"]
for i in list_9:
    list_8.append(i)
print(list_8)

print(list_8 is list_9)
print(list_8==list_9)

[487, 364, 254, 2083, 3647, 'Talib', 'Ansari']
False
True

In [33]:
list_10=[x for x in range(10)]
print(list_10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list_11=range(20)
print(list_11)

range(0, 20)

In [35]:
list_12=[x for x in range(20) if x%2==0]
print(list_12)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [38]:
list_13=["Even" if x%2==0 else "Odd" for x in range(10) ]
print(list_13)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [40]:
list_14=[x*x for x in range(10) if x%2==0]
print(list_14)

[0, 4, 16, 36, 64]

# Tuple
1.count()
2.index()
3.sort()

In [41]:
tup_a=()
print(tup_a,type(tup_a))

() <class 'tuple'>

In [42]:
tup_b=tuple()
print(tup_b,type(tup_b))

() <class 'tuple'>

In [44]:
tup_c=("Talib",)
print(tup_c,type(tup_c))

('Talib',) <class 'tuple'>

In [53]:
tup_d=((x for x in range(10)),)
for i in tup_d[0]:
    print(i,end=" ")
print(type(tup_d))

0 1 2 3 4 5 6 7 8 9 <class 'tuple'>

In [60]:
tup_e=tuple(x*x for x in range(5))
print(tup_e)
print(tup_e.count(16))
print(tup_e.index(4))

(0, 1, 4, 9, 16)
1
2

AttributeError: 'tuple' object has no attribute 'sort'

In [65]:
tup_f=((x+x for x in range(10) if x*x!=x),)
for i in tup_f[0]:
    print(i,end=" ")
print(type(tup_f))

4 6 8 10 12 14 16 18 <class 'tuple'>

In [70]:
st_1="Hey i have 10 rs in my pocket"
for i in st_1:
    print(i,end="")

Hey i have 10 rs in my pocket

In [74]:
for i in st_1.split():
    print(i,end=" ")

Hey i have 10 rs in my pocket

In [78]:
list_str=st_1.split()
print(list_str)
for word in list_str:
    print(word.isdigit())

['Hey', 'i', 'have', '10', 'rs', 'in', 'my', 'pocket']
False
False
False
True
False
False
False
False

In [81]:
if "" in st_1:
    print(True)

True

In [83]:
digit=[words.isdigit() for words in list_str]
print(digit)

[False, False, False, True, False, False, False, False]

In [84]:
alpha=[words.isalpha() for words in st_1]
print(alpha)

[True, True, True, False, True, False, True, True, True, True, False, False, False, False, True, True, False, True, True, False, True, True, False, True, True, True, True, True, True]

In [85]:
alpha_1=[words.isalpha() for words in list_str]
print(alpha_1)

[True, True, True, False, True, True, True, True]

In [ ]:
1.set_name.add()     --> it takes one arg and this to the set
2.set_name.remove()  -->it takes the element name to remove it
3.set_name.pop()     -->it removes the element and return to variable in which it has stored
4.set_name.discard() -->it also removes the element which is given to it if the element does not found in the set then id does not generate "error"
5.set_name.clear()   -->it used to remove all the element from the set or to empty the set
6.set_name.copy()    -->it used to maintain the local copy of a set which is stored in the other variable
7.len(set_name)      -->it used to find the length of the set or how many elements a set have

In [86]:
set_a=set()
print(set_a,type(set_a))

set() <class 'set'>

In [87]:
set_b={}
print(set_b,type(set_b))

{} <class 'dict'>

In [88]:
set_c={1,2,3,4,5,6,7,8,1,23}
print(set_c,type(set_c))

{1, 2, 3, 4, 5, 6, 7, 8, 23} <class 'set'>

In [89]:
set_d={1,2,3,3,"Talib","Ansari","Talib"}
print(set_d,type(set_d))

{1, 2, 3, 'Talib', 'Ansari'} <class 'set'>

In [90]:
set_e={11,22,33,11,22,33,True,True,False,False}
print(set_e,type(set_e))

{False, 33, True, 22, 11} <class 'set'>

In [91]:
set_f={True,True,True,1,1,1,2,2,2,False,False,False,0,0,0}
print(set_f,type(set_f))

{False, True, 2} <class 'set'>

In [92]:
set_g={21,True,False}
print(set_g)

{False, True, 21}

In [93]:
set_h={
    {True,True,True,1,1,1,1},
    {False,False,False,0,0,0},
    {1,1,1,0,0,0,True,11,False,0,33}
}
print(set_h,type(set_h))

TypeError: unhashable type: 'set'

In [97]:
set_1={1,2,3,2,34,5,4}
print(set_1)
set_1.add(20)
print("ADD:",set_1)
set_1.remove(2)
print("Remove:",set_1)
print("Pop:",set_1.pop())

{1, 2, 3, 34, 5, 4}
ADD: {1, 2, 3, 34, 5, 4, 20}
Remove: {1, 3, 34, 5, 4, 20}
Pop: 1

In [100]:
try:
    set_1.remove(30)
except KeyError as v:
    print(f"ERROR:Value '{v}' is not in Set ")

ERROR:Value '30' is not in Set

In [103]:
copy=set_1.copy()
print(copy)
clear=set_1.clear()
print(clear)

{34, 3, 4, 5, 20}
None

In [106]:
value=set_1.discard(50)
print(value)

None

In [107]:
set_2={x for x in range(10)}
print(set_2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [110]:
remove=set_2.discard(20)
print(set_2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [112]:
set_3={1,2,3,4,"Ansari","Talib","Vipul","Brijesh",1,2,3}
for i in set_3:
    print(i)

1
2
3
4
Brijesh
Talib
Ansari
Vipul

In [114]:
st_set=str(set_3)
print(st_set,type(st_set))

{1, 2, 3, 4, 'Brijesh', 'Talib', 'Ansari', 'Vipul'} <class 'str'>

In [115]:
list_set=list(set_3)
print(list_set,type(list_set))

[1, 2, 3, 4, 'Brijesh', 'Talib', 'Ansari', 'Vipul'] <class 'list'>

In [116]:
tuple_set=tuple(set_3)
print(tuple_set,type(tuple_set))

(1, 2, 3, 4, 'Brijesh', 'Talib', 'Ansari', 'Vipul') <class 'tuple'>

# Packing and unpacking

In [3]:
list_1=[x for x in range(10)]
a,*b=list_1
print(a,b)

0 [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
*c,d=list_1
print(c,d)
type(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8] 9

list

In [8]:
e=list_1
print(*e)
type(e)

0 1 2 3 4 5 6 7 8 9

list

In [10]:
tup=((x*x for x in range(10)),)
for i in tup[0]:
    print(i,end=" ")

0 1 4 9 16 25 36 49 64 81

In [15]:
b=tup[0]
print(*b)

In [16]:
set_a={1,2,3,4}
set_b={3,4,5,6}
union=set_a | set_b
print(union)

{1, 2, 3, 4, 5, 6}

In [17]:
union_2=set_a.union(set_b)
print(union_2)

{1, 2, 3, 4, 5, 6}

In [18]:
intersection=set_a & set_b
print(intersection)

{3, 4}

In [19]:
intersection_2=set_a.intersection(set_b)
print(intersection_2)

{3, 4}

In [20]:
difference=set_a-set_b
print(difference)

{1, 2}

In [23]:
symmetric=set_a^(set_b)
print(symmetric)

{1, 2, 5, 6}

In [24]:
subset=set_a.issubset(set_b)
print(subset)

False

In [25]:
disjoint=set_a.isdisjoint(set_b)
print(disjoint)

False

# Dictionary
.keys()
.values()
.get()
.update()
.items()
.popitem()

In [26]:
dict_1={}
print(dict_1,type(dict_1))

{} <class 'dict'>

In [27]:
dict_2=dict()
print(dict_2,type(dict_2))

{} <class 'dict'>

In [42]:
dict_3={
    "name":"Talib",
    "age":21,
    "Profession":"Student"
}
print(dict_3)
print(dict_3.keys())
print(dict_3.values())
print(dict_3.get("name"))
print(dict_3.get("work","NA"))
print(dict_3.popitem())
print(dict_3.update(name="Vipul"))
print(dict_3.values())
print(dict_3.update(status="Unmarried"))
print(dict_3.values())
print(dict_3.keys())
print(dict_3.setdefault("salary",46356))
print(dict_3.keys())

{'name': 'Talib', 'age': 21, 'Profession': 'Student'}
dict_keys(['name', 'age', 'Profession'])
dict_values(['Talib', 21, 'Student'])
Talib
NA
('Profession', 'Student')
None
dict_values(['Vipul', 21])
None
dict_values(['Vipul', 21, 'Unmarried'])
dict_keys(['name', 'age', 'status'])
46356
dict_keys(['name', 'age', 'status', 'salary'])

In [43]:
for key in dict_3:
    print(key,end=" ")

name age status salary

In [44]:
for key,value in dict_3.items():
    print(f"{key}:{value}")

name:Vipul
age:21
status:Unmarried
salary:46356

In [45]:
product={
    "Product_Name":"Icecream",
    "PRice":645,
    "Quantity":5
}
print(product)

{'Product_Name': 'Icecream', 'PRice': 645, 'Quantity': 5}

In [54]:
print(product.keys())
print(product.values())
print(product.get("PRice"))
print(product.get("Quant","NA"))
print(product.popitem())
print(product)

dict_keys([])
dict_values([])
None
NA

KeyError: 'popitem(): dictionary is empty'

In [55]:
print(product.update(p_name_1="Mango Shake",p_name_2="Strawberry",p_name_3="Pista",price=300,quantity=10))
print(product)

None
{'p_name_1': 'Mango Shake', 'p_name_2': 'Strawberry', 'p_name_3': 'Pista', 'price': 300, 'quantity': 10}

In [56]:
print(product.setdefault("order","online"))

online

In [57]:

print(product)

{'p_name_1': 'Mango Shake', 'p_name_2': 'Strawberry', 'p_name_3': 'Pista', 'price': 300, 'quantity': 10, 'order': 'online'}

In [58]:
for key in product:
    print(key,end="  ")

p_name_1  p_name_2  p_name_3  price  quantity  order

In [59]:
for values in product.values():
    print(values,end=" ")

Mango Shake Strawberry Pista 300 10 online

In [60]:
for keys in product.keys():
    print(keys,end=" ")

p_name_1 p_name_2 p_name_3 price quantity order

In [61]:
for key in product:
    print(product[key],end=" ")

Mango Shake Strawberry Pista 300 10 online

In [62]:
merge=dict_3 | product
print(merge)

{'name': 'Vipul', 'age': 21, 'status': 'Unmarried', 'salary': 46356, 'p_name_1': 'Mango Shake', 'p_name_2': 'Strawberry', 'p_name_3': 'Pista', 'price': 300, 'quantity': 10, 'order': 'online'}

# dict comprehension

In [67]:
phones=["Redmi","Motorola","Oppo","Vivo"]
prices=[10000,20000,30000,35646]
phone_dict={phone:price for phone in phones for  price in prices}
print(phone_dict)

{'Redmi': 35646, 'Motorola': 35646, 'Oppo': 35646, 'Vivo': 35646}