## BASIC LABEL PROGRAM ##

1.Create a variable `customer_name` with the value"priya" customer_name. Print a personalized greeting
message: "Hello, Priya! Welcome."

In [1]:
customer_name="priya"
print(f"Hello,{customer_name}! Welcome")

Hello,priya! Welcome

2.Create two variables: `item_name` with item_name"Mango Blast" and `price_per_item` with 80. Print
a formatted label showing both pieces of information: "Item: Mango Blast, Price: 80 INR".

In [3]:
item_name="Mango Blast"
price_per_item=80
print(f"Item: {item_name},Price: {price_per_item} INR")

Item: Mango Blast,Price: 80 INR

3.Create variables `item1` ("Vanilla Delight"), `item2` ("Chocolate Chip"), and `total_cost`
(300). Print a summary line: "Order: Vanilla Delight, Chocolate Chip. Total: 300 INR."

In [4]:
item1=("Vanilla Delight")
item2=("Chocolate Chip")
total_cost=(300)
print(f"Order:{item1,item2}.: total: {total_cost} INR")

Order:('Vanilla Delight', 'Chocolate Chip').: total: 300 INR

In [7]:
item1=("Vanilla Delight")
item2=("Chocolate Chip")
total_cost=(300)
print(f"Order:{item1}, {item2}.: total: {total_cost} INR")

Order:Vanilla Delight, Chocolate Chip.: total: 300 INR

4.Create variables `staff_name` ("Arjun") and `current_time` ("10:00 AM"). Print a message
announcing the staff member on duty: "Current staff member on duty: Arjun. Time: 10:00
AM."

In [8]:
staff_name="Arjun"
current_time="10:AM"
print(f"Current staff member on duty:{staff_name}. Time:{current_time}")

Current staff member on duty:Arjun. Time:10:AM

5.Find and print the length of the string "Strawberry Sensation".

In [9]:
st="Strawberry Sensation"
print(len(st))

20

In [12]:
st="Strawberry Sensation"
length=0
for i in st:
    length+=1
print(length)

20

6.Create a variable `flavor_name` with "butterscotch crunch". Print the flavor name with the
first letter of each word capitalized.

In [14]:
flavor_name="butterscotch crunch"
flavor_name.title()

'Butterscotch Crunch'

In [20]:
flavor_name="butterscotch crunch"
st=flavor_name.split()
for i in st:
    st1=i.capitalize()
    print(st1)

Butterscotch
Crunch

7.Check if the word "Milk" is present in the ingredient list string "Milk, Cream, Sugar,
Vanilla". Print `True` or `False` based on the result

In [21]:
list_str=["Milk", "Cream", "Sugar","Vanilla"]
if "Milk" in list_str:
    print("True")
else:
    print("False")

True

In [22]:
"sugar" in list_str

False

8.In the string "The order is for Rahul. Total amount: 250 INR.", replace the name "Rahul"
with "Sneha". Print the new string.

In [34]:
st="The order is for Rahul. Total amount: 250 INR."
st.replace("Rahul","Sneha")

'The order is for Sneha. Total amount: 250 INR.'

9.Remove any leading or trailing spaces from the string " Chocolate Fudge " and print the
cleaned string

In [37]:
st2=" Chocolate Fudge "
st2.strip()

'Chocolate Fudge'

10.Split the string "Monday,Tuesday,Wednesday" by the comma and print the resulting list
of days.

In [38]:
st3="Monday,Tuesday,Wednesday"
st3.split()

['Monday,Tuesday,Wednesday']

11.Join the list of ingredients `['Milk', 'Sugar', 'Cream']` into a single string separated by
hyphens: "Milk-Sugar-Cream"

In [44]:
list_i=['Milk', 'Sugar', 'Cream']
for i in list_i:
    a=''.join(i)
    print(a,end="-")

Milk-Sugar-Cream-

12.Use an f-string to print a receipt line for an item. The item is "Pista" and the price is 120
INR. The output should be "Item: Pista, Price: 120.00 INR"

In [45]:
item="Pista"
price=120
print(f"Item: {item}, Price:{price:.2f} INR")

Item: Pista, Price:120.00 INR

13.Create a multi-line string that holds an address: "Shop No. 5, Main Road, City Center".
Print this string.

In [46]:
shop="Shop No. 5"
address="Main Road"
nearest="City Center"
print(f"{shop},{address},{nearest}")

Shop No. 5,Main Road,City Center

14.Take the string "Daily Report" and print it in reverse order.

In [47]:
st1="Daily Report"
print(st1[::-1])

tropeR yliaD

In [48]:
st1="Daily Report"
char=''
for i in st1:
    char=i+char
print(char)

tropeR yliaD

15.Count the number of times the letter 'a' appears in the string "Banana Caramel".

In [51]:
st2="Banana Caramel"
count=0
for i in st2:
    if i=="a":
        count+=1
print(count)

5

In [52]:
st2="Banana Caramel"
count=st2.count("a")
print(count)

5

In [8]:
st2="Banana Caramel"
count_letter=sum(1 for x in st2  if x=="a")
count_letter

5

In [15]:
from functools import reduce
st2=st2="Banana Caramel"
count=reduce(lambda x,y:x+(1 if y=="a" else 0),st2,0)
print(count)

5

## FLOW CONTROL ##

1.Create a variable `current_stock` with the value 50. If `current_stock` is less than 20, print
"Low stock warning."

In [18]:
current_stock=50
if current_stock<20:
    print("stock is there")
else:
    print("Low stock warning.")

Low stock warning.

2.Create a variable `order_status` with "Pending". If the status is "Pending", print "Order is
being prepared.". Otherwise, print "Order is complete."

In [19]:
order_status="Pending"
if order_status=="Pending":
    print("Order is being prepared")
else:
    print("Order is complete")

Order is being prepared

3.Create a variable `temperature` with 25. If the temperature is above 30, print "High
ambient temperature.". If it's between 20 and 30 (inclusive), print "Normal operating
temperature.". Otherwise, print "Low ambient temperature."

In [20]:
temperature=25
if temperature>30:
    print("High ambient temperature.")
elif 20<=temperature<=30:
    print("Normal operating temperature.")
else:
    print("Low ambient temperature.")

Normal operating temperature.

In [26]:
temperature=int(input("Enter Temperature:"))
if temperature>30:
    print("High ambient temperature.")
elif 20<=temperature<=30:
    print("Normal operating temperature.")
else:
    print("Low ambient temperature.")

Enter Temperature: 32

High ambient temperature.

4.A customer's total bill is 550 INR. If the total is over 500 INR, a 10% discount is applied.
Calculate and print the final amount. Otherwise, print the original total.

In [30]:
customer_total_bill=550
discount=0.1*customer_total_bill
if customer_total_bill>500:
    final_amount=customer_total_bill-discount
    print(f"After Discount:{final_amount}")

After Discount:495.0

In [34]:
customer_total_bill=int(input("Enter Bill for discount:"))
discount=0.1*customer_total_bill
rs_sign=chr(8377)
if customer_total_bill>500:
    final_amount=customer_total_bill-discount
    print(f"After Discount:{final_amount}{rs_sign}")
else:
    print(f"No Discount Availale On:{customer_total_bill}{rs_sign}")

Enter Bill for discount: 200

No Discount Availale On:200‚Çπ

5.Print each item from the list of flavors: `['Vanilla', 'Chocolate', 'Strawberry']`.

In [37]:
flavors=['Vanilla', 'Chocolate', 'Strawberry']
ice_image=chr(127846)
for flavor in flavors:
    print(f"{ice_image}{flavor}")

üç¶Vanilla
üç¶Chocolate
üç¶Strawberry

6.Iterate through the list of flavors `['Vanilla', 'Chocolate', 'Strawberry', 'Mango']`. Print only
the flavors that are not 'Strawberry

In [40]:
flavors =['Vanilla', 'Chocolate', 'Strawberry', 'Mango']
ice_image=chr(127846)
for flavor in flavors:
    if flavor=='Strawberry':
        continue
    print(f"{ice_image}{flavor}")

üç¶Vanilla
üç¶Chocolate
üç¶Mango

In [42]:
flavors =['Vanilla', 'Chocolate', 'Strawberry', 'Mango']
ice_image=chr(127846)
for flavor in flavors:
    if flavor!='Strawberry':
       print(f"{ice_image}{flavor}")

üç¶Vanilla
üç¶Chocolate
üç¶Mango

7.Simulate a timer for a process that takes 5 minutes. Start a variable `timer` at 5 and print
a message each time it decreases, until it reaches 0. E.g., "5 minutes remaining...", "4
minutes remaining...", etc.

In [43]:
import time
time.sleep(1)
print("4 minutes remaning")

4 minutes remaning

In [52]:
for time in range(5,-1,-1):
    print(f"{time} minutes remaining...")

5 minutes remaining...
4 minutes remaining...
3 minutes remaining...
2 minutes remaining...
1 minutes remaining...
0 minutes remaining...

In [54]:
timer=int(input("Enter Time to simulate:"))
while timer>=0:
    print(f"{timer} minutes remaining...")
    timer-=1

Enter Time to simulate: 5

5 minutes remaining...
4 minutes remaining...
3 minutes remaining...
2 minutes remaining...
1 minutes remaining...
0 minutes remaining...

8.You have a list of flavors `['Vanilla', 'Chocolate']` and a list of toppings `['Sprinkles', 'Nuts']`.
Use nested loops to print all possible combinations of a flavor with a topping.

In [55]:
flavors=['Vanilla', 'Chocolate']
toppings=['Sprinkles', 'Nuts']
ice_image=chr(127846)
for flavor in flavors:
    for topping in toppings:
        print(f"{ice_image}{flavor}:{topping}")

üç¶Vanilla:Sprinkles
üç¶Vanilla:Nuts
üç¶Chocolate:Sprinkles
üç¶Chocolate:Nuts

9.Create a list `daily_tasks = []`. Write a condition that checks if the list is empty. If it is, print
"No new tasks for today."

In [56]:
# when the list is empty if condition checks that that there is some element in it if not then else condition will run
daily_tasks = []
if daily_tasks:
    print("some remaining tasks")
else:
    print("No new tasks for today.")

No new tasks for today.

In [57]:
# here if condition runs beacuse we are applying condition that there is no element in list in if condition
daily_tasks = []
if not daily_tasks:
    print("No new tasks for today.")
else:
    print("some remaining tasks")

No new tasks for today.

10.Iterate through a list of daily revenue figures `[12000, 15000, 9000, 18000, 20000]`. Stop
and print a message when the revenue for a day falls below 10000 INR.

In [60]:
figures=[12000, 15000, 9000, 18000, 20000]
for figure in figures:
    if figure<10000:
        print(f"{figure} falls below 10000 INR")
        break

9000 falls below 10000 INR

11.Iterate through a list of production batches `['Batch-A', 'Batch-B', 'Batch-C']`. If a batch
name is 'Batch-B', skip the rest of the loop for that iteration and just print "Skipping
quality check for Batch-B." For others, print "Running quality check for [Batch Name]".

In [61]:
production_batches=['Batch-A', 'Batch-B', 'Batch-C']
for batch in production_batches:
    if batch=="Batch-B":
        print(f"Skipping quality check for {batch}")
    else:
        print(f"Running quality check for {batch}")

Running quality check for Batch-A
Skipping quality check for Batch-B
Running quality check for Batch-C

12.An employee, Rohan, has worked 9 hours. His shift is from 9 AM to 6 PM, which is a total
of 9 hours. Write a condition that checks if his hours worked are equal to 9 and the
current time is after 6 PM. If both are true, print "Rohan's shift is complete."

In [1]:
Rohan_working_hour=input("Enter Working Hour:")
time=input("Enter Current Time:")
if Rohan_working_hour=="9 hours" and time=="6 PM":
    print("Rohan's shift is complete.")
else:
    print("Shift not completed at")

Enter Working Hour: 1
Enter Current Time: 1

Shift not completed at

In [2]:
Rohan_working_hour=int(input("Enter Working Hour:"))
time=int(input("Enter Current Time:"))
if Rohan_working_hour>=9 and time>=6:
    print("Rohan's shift is complete.")
else:
    print("Shift not completed at")

Enter Working Hour: 1
Enter Current Time: 4

Shift not completed at

13.Iterate through a list of daily sales `[8500, 9200, 7800, 11500, 10200]` and find the highest
sale amount. Print the result

In [71]:
daily_sales=[8500, 9200, 7800, 11500, 10200]
max_of=max(daily_sales)
print(max_of)

11500

In [72]:
daily_sales=[8500, 9200, 7800, 11500, 10200]
max_of_1=daily_sales[0]
for sale in daily_sales:
    if sale>max_of_1:
        max_of_1=sale
print(max_of_1)

11500

In [77]:
daily_sales=[8500, 9200, 78900, 11500, 10200]
def max_of_2(daily_sales,max_1=0):
    if len(daily_sales)-1==0:
        return max_1
    if max_1<daily_sales[0]:
        max_1=daily_sales[0]
    return max_of_2(daily_sales[1:],max_1)
max_of_2(daily_sales)

78900

14.You have a list of customer feedback scores `[5, 4, 5, 3, 5, 5, 2]`. Count how many
customers gave a rating of 5. Print the count.

In [78]:
customer_feedback_scores =[5, 4, 5, 3, 5, 5, 2]
print(customer_feedback_scores.count(5))

4

In [80]:
customer_feedback_scores =[5, 4, 5, 3, 5, 5, 2]
count_1=0
for feedback in customer_feedback_scores:
    if feedback==5:
        count_1+=1
print(count_1)

4

In [82]:
customer_feedback_scores =[5, 4, 5, 3, 5, 5, 2]
def feedback(customer_feedback_scores,count_2=0):
    for i in customer_feedback_scores:
        if i==5:
            count_2+=1
    return count_2

feedback(customer_feedback_scores)

4

In [87]:
from functools import reduce
customer_feedback_scores =[5, 4, 5, 3, 5, 5, 2]
count_3=reduce(lambda x,y:x+1 if y==5 in customer_feedback_scores else x,customer_feedback_scores,0)
count_3

4

15.A machine takes 10 seconds to make a batch. Simulate this process using a loop that
counts down from 10 to 1, printing the remaining time at each step. End with "Process
complete."

In [88]:
time=10
for i in range(10,-1,-1):
    print(f"{i} second remains")
print("Process complete.")

10 second remains
9 second remains
8 second remains
7 second remains
6 second remains
5 second remains
4 second remains
3 second remains
2 second remains
1 second remains
0 second remains
Process complete.

## input() ##

1.Ask the user for their name and then print a greeting message that includes their name

In [1]:
user=input("Enter your good name sir:")
def greeting_msg(user):
    print(f"{user},Hii sir! Welcome to the programming world")
greeting_msg(user)

Enter your good name sir: Talib Ansari

Talib Ansari,Hii sir! Welcome to the programming world

2.Ask the user, "What is today's special flavor?" and store the response in a variable. Print
the user's response to confirm.

In [2]:
print("staff:Hello sir,what would you like to have sir?")
user=input("What is today's special flavor?")
def flavor(user):
    print(f"Sir,please confirm your order,order is :{user}")
flavor(user)

staff:Hello sir,what would you like to have sir?

What is today's special flavor? Vanilla

Sir,please confirm your order,order is :Vanilla

3.Ask the user for the number of scoops they want. Convert the input to an integer and
print a confirmation message, e.g., "You ordered 3 scoops."

In [4]:
scoops=int(input("Enter scoops number:"))
print(f"You ordered {scoops} scoops.")

Enter scoops number: 5

You ordered 5 scoops.

4.Ask the user for the total price of their purchase. Convert the input to a floating-point
number and print the total with two decimal places, e.g., "Your total is 125.50 INR."

In [5]:
total_price=float(input("Enter purchase amount:"))
print(f"Your total is {total_price:.2f} INR.")

Enter purchase amount: 123.4567

Your total is 123.46 INR.

5.Ask for the number of scoops and the price per scoop (e.g., 80 INR). Calculate and print
the total cos

In [6]:
scoops=int(input("Enter scoop number:"))
price_per_scoop=int(input("Enter price for 1 scoop:"))
total_cost=scoops*price_per_scoop
print(f"your total cost is {total_cost} INR.")

Enter scoop number: 3
Enter price for 1 scoop: 20

your total cost is 60 INR.

6.Ask the user for a password. If the password is "password123", print "Access granted."
Otherwise, print "Access denied."

In [9]:
print("Please!provide your password to get access")
password=input("Enter your password:")
if password=="password123":
    print("Access granted.")
else:
    print("Wrong password !")

Please!provide your password to get access

Enter your password: password123

Access granted.

7.Ask the user how many items they want to add to their order. Use a loop to repeatedly
ask for the name of an item that many times, and then print a final message confirming
the number of items added.

In [12]:
n=int(input("Enter items number:"))
count=0
list_item=[]
while n>0:
    item=input("Enter the item name:")
    list_item.append(item)
    count+=1
    n-=1
print(list_item)
print(count)

Enter items number: 2
Enter the item name: Vanilla
Enter the item name: Pista

['Vanilla', 'Pista']
2

8.Ask the user for their age. Write a program that can handle non-numeric input gracefully
by printing an error message like "Invalid input. Please enter a number." (Hint: Use a `tryexcept` block)

In [16]:
try:
    age=int(input("Enter your age:"))
    print(f"your age is :{age}")
except:
    print("Invalid input. Please enter a number.")

Enter your age: ta

Invalid input. Please enter a number.

9.Ask for the customer's name, the item they purchased, and the total amount. Print a
complete transaction summary on a single line, e.g., "Transaction for: Anjali, Item: Mango,
Amount: 150 INR."

In [18]:
customer_name=input("Enter name:")
purchased_item=input("Item name:")
amount=int(input("Enter amount:"))
print(f"Transaction for: {customer_name}, Item: {purchased_item} ,Amount: {amount} INR.")

Enter name: talib
Item name: protien powder
Enter amount: 5000

Transaction for: talib, Item: protien powder ,Amount: 5000 INR.

10.Display a menu: "1. View Menu, 2. Place Order, 3. Exit". Ask the user to enter a number
and then print a message based on their choice (e.g., "You chose to place an order.").

In [24]:
user=int(input("Enter a number:"))
if user==1:
    print("You chose to View Menu")
elif user==2:
    print("You chose to place an order.")
elif user==3:
    print("You chose to Exit.")
else:
    print("Enter number between 1 to 3")

Enter a number: 1

You chose to View Menu

In [28]:
print("Display Menu:")
print(f"1.View Menu,2.Place Order,3.Exit")
user=int(input("Enter a number:"))
if user==1:
    print("You chose to View Menu")
elif user==2:
    print("You chose to place an order.")
elif user==3:
    print("You chose to Exit.")
else:
    print("Enter number between 1 to 3")

Display Menu:
1.View Menu,2.Place Order,3.Exit

Enter a number: 8

Enter number between 1 to 3

11.Ask for the customer's first name and last name separately. Combine them and print their
full name

In [30]:
user_first_name=input("Enter 1st name:")
user_last_name=input("Enter last name:")
user_full_name=user_first_name + user_last_name
print(user_full_name)

Enter 1st name: talib
Enter last name: ansari

talibansari

12.Ask the user for an ingredient name. If the ingredient is "Milk", print "Stock is available."
Otherwise, print "Ingredient not in stock."

In [37]:
ingredient_name=input("ingredient name:")
if ingredient_name.capitalize()=="Milk":
    print("Stock is available.")
else:
    print("Ingredient not in stock.")

ingredient name: milk

Stock is available.

13.A variable `daily_target` is 50. Ask the user for the number of items sold today. If the sales
number is greater than or equal to the target, print "Daily target met!"

In [40]:
daily_target=50
item_sold=int(input("Enter number:"))
if item_sold>=daily_target:
    print("Daily target met!")
else:
    print("sales is not achieved")

Enter number: 213

Daily target met!

14.Ask the user for input. The program should continue to ask for input until the user types
"exit".

In [41]:
while True:
    user=input("string")
    if user=="exit":
        break

string talib
string ansari
string class
string fight
string coaching
string exit

15.Ask the user for a password. If it is incorrect, tell them and ask again. The loop should
stop only when the correct password is entered. The correct password is "admin".

In [42]:
while True:
    password=input("Enter Password:")
    if password=="admin":
        print("Password Detected!")
        break
    else:
        print("Wrong Password! Enter Again")

Enter Password: talib

Wrong Password! Enter Again

Enter Password: ansari

Wrong Password! Enter Again

Enter Password: hello

Wrong Password! Enter Again

Enter Password: admin

Password Detected!

## Function Arguments And Global & Local Variable #

1.Define a function named `welcome_message` that simply prints "Welcome to our store!"
Call this function.

In [1]:
def welcome_message():
    print("Welcome to our store!")
welcome_message()

Welcome to our store!

In [2]:
def welcome_message():
    return "Welcome to our store!"
welcome_message()

'Welcome to our store!'

2.Define a function `greet_customer` that takes one argument, `name`. Inside the function,
print "Hello, [name]! What can I get for you?". Call this function with the name "Rohan".

In [3]:
def greet_customer(name):
    print(f"Hello,{name}!")
greet_customer("Rohan")

Hello,Rohan!

In [5]:
name=input("Enter Name:")
def greet_customer(name):
    print(f"Hello {name}!")
greet_customer(name)

Enter Name: Talib

Hello Talib!

3.Define a function `calculate_total` that takes two arguments, `price` and `quantity`. It
should print the total cost. Call the function with `price=100` and `quantity=2`.

In [7]:
def calculate_total(price,quantity):
    total_cost=price*quantity
    print(f"Total_cost is {total_cost} INR")
calculate_total(10,8)

Total_cost is 80 INR

In [10]:
price=int(input("Enter Price:"))
quantity=int(input("Enter Quantity:"))
def calculate_total(price,quantity):
    total_cost=price*quantity
    return total_cost
calculate_total(price,quantity)

Enter Price: 5
Enter Quantity: 8

40

4.Define a function `get_discounted_price` that takes a `price` and `discount_percentage=10` as
arguments. The function should calculate and return the discounted price. Call the
function with `price=500` and `discount_percentage=10`, and print the returned value.

In [14]:
def get_discounted_price(price,discount_percentage):
    discount=discount_percentage/100*price
    final_price=price-discount
    print(f"After Discount {final_price}")
get_discounted_price(500,10)

After Discount 450.0

In [15]:
price=int(input("Enter Price:"))
discount_percentage=int(input("Enter Percentage:"))
def get_discounted_price(price,discount_percentage):
    discount=discount_percentage/100*price
    final_price=price-discount
    print(f"After Discount {final_price}")
get_discounted_price(price,discount_percentage)

Enter Price: 600
Enter Percentage: 20

After Discount 480.0

5.Create a global variable `shop_name` with the value "Sweet Treats". Define a function
`print_shop_name` that tries to access and print this global variable. Also, inside the
function, create a local variable `staff_name` with "Pooja" and print it. What happens if
you try to print `staff_name` outside the function?

In [18]:
# IF WE TRY TO PRINT staff_name OUTSIDE THE FUNCTION IT GIVES THE NameError
shop_name="Sweet Treats"
def print_shop_name():
    staff_name="Pooja"
    print(shop_name)
    print(staff_name)
print_shop_name()
#print(staff_name)

Sweet Treats
Pooja

6.Define a function `serve_order` that takes `customer_name` and an optional `item`
argument with a default value of "Classic Vanilla". If the `item` is not provided, the
function should use the default. Call the function in two ways: once with just the name
"Amit", and once with "Anjali" and the item "Mango Delight".

In [19]:
def serve_order(customer_name,item="Classic Vanilla"):
    print(customer_name)
    print(item)
serve_order("Amit")

Amit
Classic Vanilla

In [20]:
def serve_order(customer_name,item="Classic Vanilla"):
    print(customer_name)
    print(item)
serve_order("Amit","Mango Delight")

Amit
Mango Delight

7.Define a function `create_receipt_line` that takes `item`, `quantity`, and `price` as
arguments. Call the function using keyword arguments, for example:
`create_receipt_line(item="Chocolate", quantity=3, price=90)`. This makes the function
call more readable.

In [23]:
def create_receipt_line(item,quantity,price):
    print(f"Your item is {item} with quantity of {quantity} & the price is {price} INR")
create_receipt_line(item="Chocolate", quantity=3, price=90)

Your item is Chocolate with quantity of 3 & the price is 90 INR

8.Create a function `process_orders` that takes a list of orders. Each order is a string like
"Anjali - Vanilla". The function should loop through the list and print a personalized
message for each order. Use this function with a sample list of orders.

In [24]:
def process_orders(list_orders):
    for order in list_orders:
        print(f"{order} has prepared ,Thank You for Your kind patience!")
list_orders=["Anajli-Vanilla","Aditya-Pista","Talib-Chocolate"]
process_orders(list_orders)

Anajli-Vanilla has prepared ,Thank You for Your kind patience!
Aditya-Pista has prepared ,Thank You for Your kind patience!
Talib-Chocolate has prepared ,Thank You for Your kind patience!

9.Define a function `get_stock_info` that returns the `stock_level` (integer) and
`last_updated_date` (string). Call the function and unpack the two returned values into
separate variables. Print both.

In [26]:
def get_stock_info(*info):
    return info
stock_level,last_updated_date=get_stock_info(12,"07-08-2025")
print(stock_level,last_updated_date)

12 07-08-2025

In [29]:
def get_stock_info(*info):
    stock_lavel,last_updated_date=info
    return stock_lavel,last_updated_date
get_stock_info(12,"07-08-2025")

(12, '07-08-2025')

10.Define a function `check_for_promo` that takes a `total_bill`. If the total is over 1000 INR,
the function should return `True`. Otherwise, it should return `False`. Use this function with
an if statement to print "Promo applied" or "No promo."

In [32]:
def check_for_promo(total_bill):
    if total_bill>1000:
        print("Promo applied")
        return True
    else:
        print("No promo")
        return False
check_for_promo(900)

No promo

False

In [33]:
def check_for_promo(total_bill):
    if total_bill>1000:
        return True
    else:
        return False
total_bill=1200
if not check_for_promo(total_bill):
    print("No Promo")
else:
    print("Promo applied")

Promo applied

In [34]:
def check_for_promo(total_bill):
    if total_bill>1000:
        return True
    else:
        return False
total_bill=1200
if check_for_promo(total_bill):
    print("Promo applied")
else:
    print("No Promo")

Promo applied

11.Define a function `print_menu` that takes a list of menu items. The function should loop
through the list and print each item with a bullet point.

In [37]:
def print_menu(menu_items):
    for item in menu_items:
        print(f"*{item}")
menu_items=["Chicken-Chilli","Biryani","Paneer","Kadhai-Paneer"]
print_menu(menu_items)

*Chicken-Chilli
*Biryani
*Paneer
*Kadhai-Paneer

12.Declare a global variable `total_sales_count = 0`. Define a function `record_sale` that
increments this variable by 1. Call this function a few times and then print the final
`total_sales_count` to show it has been updated.

In [46]:
total_sales_count = 0
def record_sale():
    global total_sales_count
    total_sales_count+=1
record_sale()
record_sale()
record_sale()
record_sale()
record_sale()
print(total_sales_count)

5

In [40]:
total_sales_count = 0
n=int(input("Enter Number To Call That Time Function:"))
def record_sales(n):
    global total_sales_count
    total_sales_count+=1
    if n==0:
        return total_sales_count
    return record_sales(n-1)
record_sales(n)

Enter Number To Call That Time Function: 5

6

13.Define a function `calculate_order_sum` that accepts any number of prices as arguments.
The function should sum all the prices and print the total. Call it with a few different sets
of prices.

In [53]:
def calculate_order_sum(*prices):
    total_sum=0
    for i in prices:
       total_sum+=i
    print(total_sum)
calculate_order_sum(11,10.5,8,3)

32.5

14.Define a function `display_transaction_details` that takes a transaction ID and a variable
number of keyword arguments (like `item`, `price`, `staff`). It should print all the details.
Call this function with a transaction ID and a few key-value pairs

In [56]:
def display_transaction_details(**item):
    print("All details are here:")
    return item
display_transaction_details(transaction_id="01",item1="Mango",price=100)

All details are here:

{'transaction_id': '01', 'item1': 'Mango', 'price': 100}

15.Create a function `process_new_order` that takes `customer_name` as a positional
argument, a variable number of items as `*args`, and additional order details as
`**kwargs` (e.g., `payment_method`). Print all the information nicely.

In [57]:
def process_new_order(customer_name,*args,**kwargs):
    print("All details of cutomer is here:")
    return customer_name,args,kwargs
process_new_order("Vipul","icecream","food",total_bill=1000,payment_method="UPI")

All details of cutomer is here:

('Vipul', ('icecream', 'food'), {'total_bill': 1000, 'payment_method': 'UPI'})

In [58]:
def process_new_order(customer_name,*args,**kwargs):
    print("All details of cutomer is here:")
    print(f"Customer name:{customer_name}")
    print(f"Order details :{args}")
    print(f"Bill:{kwargs}")
process_new_order("Vipul","icecream","food",total_bill=1000,payment_method="UPI")

All details of cutomer is here:
Customer name:Vipul
Order details :('icecream', 'food')
Bill:{'total_bill': 1000, 'payment_method': 'UPI'}

## RANGE ##

1.Print the numbers from 0 to 4 using a `for` loop and `range()`

In [60]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

2.Simulate a countdown from 5 to 1. Print the numbers using a `for` loop with `range()`.

In [62]:
for i in range(5,0,-1):
    print(i,end=" ")

5 4 3 2 1

3.Print every other number from 1 to 10 (i.e., 1, 3, 5, ...)

In [64]:
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

4.You have a list of weekly expenses: `[5000, 4800, 5500]`. Use `range()` to loop through the
list by index and print each expense with its corresponding week number (e.g., "Week 1:
5000 INR").

In [78]:
weekly_expenses=[5000, 4800, 5500]
n=len(weekly_expenses)
for i in range(0,n):
    print(f" Week {i}:{weekly_expenses[i]} INR")

 Week 0:5000 INR
 Week 1:4800 INR
 Week 2:5500 INR

In [79]:
weekly_expenses=[5000, 4800, 5500]
list_of_week=["week 1","Weak 2","Weak 3"]
for k,v in zip(list_of_week,weekly_expenses):
    print(f"{k}:{v} INR")

week 1:5000 INR
Weak 2:4800 INR
Weak 3:5500 INR

5.Use `range()` to print numbers from 10 down to 1.

In [80]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

6.Calculate the sum of all numbers from 1 to 100. Print the result

In [84]:
sum_of_100=0
for i in range(1,100+1):
    sum_of_100+=i
print(sum_of_100)

5050

In [87]:
from functools import lru_cache
@lru_cache(maxsize=None)
#n=int(input("Enter number:"))
def sum_of_n(n):
    if n==0:
        return 0
    return n+sum_of_n(n-1)
n=int(input("Enter number:"))
sum_of_n(n)

Enter number: 100

5050

7.Print all even numbers from 2 to 20 using `range()` and an `if` condition

In [89]:
for i in range(1,20):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18

8.Create an empty list called `order_numbers`. Use a `for` loop and `range()` to add the first
5 order numbers (101, 102, 103, 104, 105) to this list

In [90]:
order_numbers=[]
for i in range(101,106):
    order_numbers.append(i)
print(order_numbers)

[101, 102, 103, 104, 105]

9.You have two lists: `products = ['Vanilla', 'Chocolate']` and `prices = [100, 110]`. Use
`range()` with the length of one of the lists to print each product and its price on a
separate line.

In [91]:
products = ['Vanilla', 'Chocolate']
prices = [100, 110]
for i in range(len(products)):
    print(f'{products[i]}:{prices[i]}')

Vanilla:100
Chocolate:110

10.Print the odd numbers from 9 down to 1.

In [93]:
for i in range(9,0,-2):
    print(i,end=" ")

9 7 5 3 1

11.Ask the user to enter 3 new employee names. Use a `for` loop with `range()` to get the
names and store them in a list

In [98]:
list_emp_name=[]
for i in range(3):
    emp_name=input("Enter  name:")
    list_emp_name.append(emp_name)
print(list_emp_name)

Enter  name: Talib
Enter  name: Vipul
Enter  name: Raj

['Talib', 'Vipul', 'Raj']

In [99]:
# for n employee_name
n=int(input())
list_emp_name=[]
for i in range(n):
    emp_name=input("Enter  name:")
    list_emp_name.append(emp_name)
print(list_emp_name)

 4
Enter  name: Talib
Enter  name: Vipul
Enter  name: Raj
Enter  name: Brijesh

['Talib', 'Vipul', 'Raj', 'Brijesh']

12.Create a dictionary to hold daily sales targets for 5 days. Use a `for` loop with `range()` to
initialize the dictionary with keys `Day 1` through `Day 5` and a default value of `10000`
for each.

In [101]:
n=int(input("Enter Number:"))
sales_dict={}
for i in range(n):
    key=input("Enter key as Day 1..:")
    value=input("Enter value only 10000:")
    sales_dict[key]=value
print("The Dictionary is:")
print(sales_dict)

Enter Number: 5
Enter key as Day 1..: Day 1
Enter value only 10000: 10000
Enter key as Day 1..: Day 2
Enter value only 10000: 10000
Enter key as Day 1..: Day 3
Enter value only 10000: 10000
Enter key as Day 1..: Day 4
Enter value only 10000: 10000
Enter key as Day 1..: Day 5
Enter value only 10000: 10000

The Dictionary is:
{'Day 1': '10000', 'Day 2': '10000', 'Day 3': '10000', 'Day 4': '10000', 'Day 5': '10000'}

In [ ]:
13.Calculate the factorial of 5 (5!) using a loop and `range()`. The factorial of 5 is `5 * 4 * 3 * 2
* 1`. Print the result

In [105]:
fact=1
for i in range(1,5+1):
    fact*=i
print(fact)

120

In [110]:
n=int(input())
def factorial(n ):
    if n<=1:
        return 1
    return n*factorial(n-1)
factorial(n)

 5

120

14.Print a simple 3x3 grid of asterisks (`*`) using nested `for` loops and `range()`. The outer
loop should control rows, and the inner loop should control columns.

In [131]:
for i in range(3):
    for j in range(1):
        print("*"*3)

***
***
***

15.Use a `while` loop to print numbers from 0 to 4. Do not use a `for` loop for this problem.
This is a practice to show the flexibility of loop structures

In [144]:
n=int(input())
while n<=4:
    print(n,end=" ")
    n+=1

 0

0 1 2 3 4

## LIST ##

1.Create a list of ingredients `['Milk', 'Sugar', 'Cream']` and print its length

In [145]:
ingredients=['Milk', 'Sugar', 'Cream']
print(len(ingredients))

3

2.Add "Mango Pulp" to the end of the `ingredients` list from the previous problem and
print the updated list.

In [146]:
ingredients=['Milk', 'Sugar', 'Cream']
ingredients.append("Mango Pulp")
print(ingredients)

['Milk', 'Sugar', 'Cream', 'Mango Pulp']

3.Remove the last item from the updated list using `pop()` and print the removed item as
well as the new list.

In [149]:
ingredients=['Milk', 'Sugar', 'Cream', 'Mango Pulp']
poped_item=ingredients.pop()
print([poped_item])

['Mango Pulp']

4.Insert "Vanilla Extract" at the second position (index 1) of the list `['Milk', 'Sugar', 'Cream']`
and print the new list

In [150]:
ingredients=['Milk', 'Sugar', 'Cream']
ingredients.insert(1,"Vanilla Extract")
print(ingredients)

['Milk', 'Vanilla Extract', 'Sugar', 'Cream']

5.From the list `['Vanilla', 'Chocolate', 'Strawberry']`, remove the item "Chocolate" and print
the final list

In [151]:
list_flavors=['Vanilla', 'Chocolate', 'Strawberry']
list_flavors.remove("Chocolate")
print(list_flavors)

['Vanilla', 'Strawberry']

6.You have a list of weekly sales data `[12000, 15000, 9000, 18000, 20000]`. Create a new list
containing only the sales from the first three days.

In [153]:
weekly_sales_data=[12000, 15000, 9000, 18000, 20000]
new_list=weekly_sales_data[:3]
print(new_list)

[12000, 15000, 9000]

7.From the same list of sales data, create a new list containing the sales from the last two
days using negative slicing.

In [157]:
weekly_sales_data=[12000, 15000, 9000, 18000, 20000]
last_2_sales=weekly_sales_data[-2:]
last_2_sales

[18000, 20000]

8.From a list of numbers `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`, create a new list containing every
other number starting from the first one.

In [159]:
numbers=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list=numbers[0::2]
new_list

[1, 3, 5, 7, 9]

9.You have a list of morning shift employees `['Priya', 'Rahul']` and an evening shift list
`['Anjali', 'Kunal']`. Create a single list of all employees

In [160]:
morning_shift_employees=['Priya', 'Rahul']
evening_shift_list=['Anjali', 'Kunal']
all_employees=morning_shift_employees+evening_shift_list
all_employees

['Priya', 'Rahul', 'Anjali', 'Kunal']

10.You have a list of recent purchases `['Vanilla', 'Chocolate', 'Vanilla', 'Strawberry',
'Chocolate', 'Vanilla']`. Count how many times "Vanilla" was purchased.

In [163]:
recent_purchases=['Vanilla', 'Chocolate', 'Vanilla', 'Strawberry','Chocolate', 'Vanilla']
count_vanilla=recent_purchases.count("Vanilla")
print(count_vanilla)

3

In [164]:
count=0
for item in recent_purchases:
    if item=="Vanilla":
        count+=1
print(count)

3

11.In the list `['Milk', 'Sugar', 'Cream']`, find the index of "Sugar"

In [166]:
list_1=['Milk', 'Sugar', 'Cream']
print(list_1.index("Sugar"))

1

In [168]:
for i in range(len(list_1)):
    if list_1[i]=="Sugar":
        print(i)

1

12.Reverse the order of the list `['Priya', 'Rahul', 'Anjali']` using slicing and print the new
reversed list

In [169]:
list_2=['Priya', 'Rahul', 'Anjali']
rev_list=list_2[::-1]
print(rev_list)

['Anjali', 'Rahul', 'Priya']

In [193]:
list_2=['Priya', 'Rahul', 'Anjali']
list_2.reverse()
list_2

['Anjali', 'Rahul', 'Priya']

In [195]:
list_2=['Priya', 'Rahul', 'Anjali']
reversed(list_2)
list_2

['Priya', 'Rahul', 'Anjali']

In [196]:
list_2=['Priya', 'Rahul', 'Anjali']
list_3=[]
for i in range(len(list_2)):
    list_3.append(list_2[2-i])
print(list_3)

['Anjali', 'Rahul', 'Priya']

13.Check if the item "Mango" is present in the list of flavors `['Vanilla', 'Chocolate',
'Strawberry']` and print a message based on the result.

In [197]:
flavors=['Vanilla', 'Chocolate','Strawberry']
if "Mango" in flavors:
    print("It is there in the list")
else:
    print("Not there in the list")

Not there in the list

14.Sort the list of employee names `['Rahul', 'Priya', 'Anjali']` in alphabetical order. Print the
sorted list.

In [198]:
employee_names=['Rahul', 'Priya', 'Anjali']
sorted_list=sorted(employee_names)
print(sorted_list)

['Anjali', 'Priya', 'Rahul']

In [199]:
employee_names=['Rahul', 'Priya', 'Anjali']
employee_names.sort()
employee_names

['Anjali', 'Priya', 'Rahul']

15.Create a list of lists to represent daily stock levels: `[[100, 80], [90, 75]]` where the first
number is stock of Item A and the second is Item B. Access and print the stock of Item A
on the second day

In [200]:
daily_stock_levels=[[100, 80], [90, 75]]
daily_stock_levels[0][1]

80

## SETS ##

1.Create a set of unique customer IDs `{'C101', 'C102', 'C103'}` and print its length.

In [1]:
customer_IDs={'C101', 'C102', 'C103'}
print(len(customer_IDs))

3

2.To the `customer_ids` set, add a new ID 'C104' and print the set. Try adding 'C101' again
and observe the result

In [2]:
customer_IDs={'C101', 'C102', 'C103'}
customer_IDs.add('C104')
customer_IDs

{'C101', 'C102', 'C103', 'C104'}

In [3]:
customer_IDs.add('C101')
customer_IDs

{'C101', 'C102', 'C103', 'C104'}

3.Remove the ID 'C102' from the set and print the result. What happens if you try to
remove an ID that isn't in the set?

In [4]:
customer_IDs={'C101', 'C102', 'C103', 'C104'}
customer_IDs.remove('C102')
customer_IDs

{'C101', 'C103', 'C104'}

In [6]:
# IT THROUGHS THE KeyError
customer_IDs.remove('C105')
customer_IDs

KeyError: 'C105'

4.From the set `{'Vanilla', 'Chocolate', 'Strawberry'}`, use `pop()` to remove an item and print
the removed item and the new set. Note that sets are unordered.

In [7]:
flavors={'Vanilla', 'Chocolate', 'Strawberry'}
flavor=flavors.pop()
print(flavor)
print(flavors)

Vanilla
{'Chocolate', 'Strawberry'}

5.You have a list of morning shift employees `set_morning_shift = {'Priya', 'Rahul'}` and
evening shift employees `set_evening_shift = {'Anjali', 'Rahul'}`. Find and print the set of
all unique employees.

In [10]:
set_morning_shift = {'Priya', 'Rahul'}
set_evening_shift = {'Anjali', 'Rahul'}
#unique_employees=set_morning_shift.union(set_evening_shift)
unique_employees=set_morning_shift | set_evening_shift
unique_employees

{'Anjali', 'Priya', 'Rahul'}

6.From the same two sets, find and print the names of employees who work both shifts

In [11]:
set_morning_shift = {'Priya', 'Rahul'}
set_evening_shift = {'Anjali', 'Rahul'}
# common_employees=set_morning_shift.intersection(set_evening_shift)
common_employees=set_morning_shift & set_evening_shift
common_employees

{'Rahul'}

7.Find and print the names of employees who work only the morning shift, not the evening
shift

In [12]:
set_morning_shift = {'Priya', 'Rahul'}
set_evening_shif t= {'Anjali', 'Rahul'}
morning_shift_emp=set_morning_shift-set_evening_shift
morning_shift_emp

{'Priya'}

8.You have a set of available toppings `{'Sprinkles', 'Nuts', 'Chocolate Sauce'}` and a
customer's requested toppings `{'Nuts', 'Sprinkles'}`. Check if the customer's request is a
subset of the available toppings and print `True` or `False`.

In [13]:
available_toppings={'Sprinkles', 'Nuts', 'Chocolate Sauce'}
customer_requested_toppings={'Nuts', 'Sprinkles'}
is_subset=customer_requested_toppings.issubset(available_toppings)
is_subset

True

9.You have a list of all sales `['Vanilla', 'Chocolate', 'Vanilla', 'Strawberry', 'Chocolate']`. Find
all the unique flavors that were sold. Print the result as a list.

In [14]:
all_sales=['Vanilla', 'Chocolate', 'Vanilla', 'Strawberry', 'Chocolate']
unique_flavors=set(all_sales)
print(list(unique_flavors))

['Vanilla', 'Chocolate', 'Strawberry']

In [15]:
all_sales=['Vanilla', 'Chocolate', 'Vanilla', 'Strawberry', 'Chocolate']
unique_flavors_2=[]
for item in all_sales:
    if item not in unique_flavors_2:
        unique_flavors_2.append(item)
print(unique_flavors_2)

['Vanilla', 'Chocolate', 'Strawberry']

10.Empty the set of available toppings from the previous problem and print the empty set.

In [16]:
available_toppings={'Sprinkles', 'Nuts', 'Chocolate Sauce'}
available_toppings.clear()
available_toppings

set()

## TUPLES ##

1.Create a tuple to hold the coordinates of a location: `(19.0760, 72.8777)`. Print the tuple

In [17]:
coordinates_of_a_location=(19.0760, 72.8777)
print(coordinates_of_a_location)

(19.076, 72.8777)

2.From the `coordinates` tuple, print the first element (the latitude).

In [18]:
coordinates_of_a_location=(19.0760, 72.8777)
print(coordinates_of_a_location[0])

19.076

3.Assign the two elements of the `coordinates` tuple to two new variables, `latitude` and
`longitude`, in a single line. Print both variables

In [19]:
coordinates_of_a_location=(19.0760, 72.8777)
latitude,longitude=coordinates_of_a_location
print(latitude,longitude)

19.076 72.8777

4.You have a tuple of product codes `('P101', 'P102', 'P103', 'P104', 'P105')`. Create a new
tuple containing the first three product codes

In [21]:
product_codes=('P101', 'P102', 'P103', 'P104', 'P105')
product_code_3=product_codes[:3:]
product_code_3

('P101', 'P102', 'P103')

5.Try to change the second element of the `product_codes` tuple to 'P200'. What kind of
error do you get? Add a comment explaining why this happens.

In [22]:
product_codes=('P101', 'P102', 'P103', 'P104', 'P105')
# SINCE TUPLE IS AN IMMUTABLE DATA OBJECT SO WE CAN ADD ANYTHING TO IT
product_codes.append('P200')
product_codes

AttributeError: 'tuple' object has no attribute 'append'

6.Iterate through the `product_codes` tuple and print each code on a separate line

In [23]:
product_codes=('P101', 'P102', 'P103', 'P104', 'P105')
for code in product_codes:
    print(code)

P101
P102
P103
P104
P105

7.Create a dictionary where the keys are employee names (strings) and the values are
tuples containing their shift start and end times, e.g., `{'Priya': ('9 AM', '5 PM')}`. Access
and print Priya's start time.

In [24]:
dict_emp={
    "talib":("7 AM","9 PM"),
    "priya":("9 AM","5 PM"),
    "vipul":("10 AM","4 PM"),
    "Anil":("11 AM","6 PM")
}
start_times,end_times=dict_emp["priya"]
print(start_times)

9 AM

8.You have two tuples: `t1 = (1, 2, 3)` and `t2 = (4, 5, 6)`. Create a new tuple that is a
combination of these two.

In [25]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6)

In [27]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
list_tuple=[]
for i in range(len(t1)):
    if t1[i] not in list_tuple:
        list_tuple.append(t1[i])
    if t2[i] not in list_tuple:
        list_tuple.append(t2[i])
print(tuple(list_tuple))

(1, 4, 2, 5, 3, 6)

9.Create a tuple of orders where each order is itself a tuple of `(item_name, quantity)`. For
example: `(('Vanilla', 2), ('Chocolate', 1))`. Access and print the quantity of the first item

In [28]:
tuple_orders=(('Vanilla', 2), ('Chocolate', 1),('Pista',2),('Mango Shake',3))
print(tuple_orders[0][1])

2

10.Check if the item 'P103' is in the `product_codes` tuple and print `True` or `False`.

In [33]:
product_codes=('P101', 'P102', 'P103', 'P104', 'P105')
if 'P103' in product_codes:
    print(True)
else:
    print(False)

True

## DICTIONARIES ##

1.Create a dictionary named `stock` to store inventory levels: `{'Vanilla': 50, 'Chocolate': 40}`.
Print the entire dictionary.

In [34]:
stock={'Vanilla': 50, 'Chocolate': 40}
print(stock)

{'Vanilla': 50, 'Chocolate': 40}

2.From the `stock` dictionary, print the current stock level for 'Chocolate'.

In [35]:
stock={'Vanilla': 50, 'Chocolate': 40}
print(stock["Chocolate"])

40

3.Add a new flavor, 'Strawberry', with a stock level of 35 to the `stock` dictionary. Print the
updated dictionary.

In [36]:
stock={'Vanilla': 50, 'Chocolate': 40}
stock['Strawberry']=35
print(stock)

{'Vanilla': 50, 'Chocolate': 40, 'Strawberry': 35}

In [38]:
stock1={'Vanilla': 50, 'Chocolate': 40}
stock1.update(Strawberry=35)
print(stock1)

{'Vanilla': 50, 'Chocolate': 40, 'Strawberry': 35}

4.The stock for 'Vanilla' has been updated. Change its value to 45 and print the dictionary
to see the change.

In [39]:
stock2={'Vanilla': 50, 'Chocolate': 40, 'Strawberry': 35}
stock2.update(Vanilla=45)
stock2

{'Vanilla': 45, 'Chocolate': 40, 'Strawberry': 35}

5.A flavor, 'Chocolate', is being discontinued. Remove this item from the dictionary. Print
the dictionary to confirm the removal.

In [41]:
stock3={'Vanilla': 45, 'Chocolate': 40, 'Strawberry': 35}
stock3.pop("Chocolate")
stock3

{'Vanilla': 45, 'Strawberry': 35}

6.Print a list of all the flavor names available in the `stock` dictionary.

In [43]:
stock4={'Vanilla': 45, 'Strawberry': 35}
print(stock4.keys())

dict_keys(['Vanilla', 'Strawberry'])

7.Print a list of all the stock levels (the values) from the dictionary.

In [44]:
stock5={'Vanilla': 45, 'Strawberry': 35}
stock5.values()

dict_values([45, 35])

8.Using a `for` loop, iterate through the `stock` dictionary and print each flavor name and
its stock level, e.g., "Vanilla: 45 units

In [45]:
stock6={'Vanilla': 45, 'Chocolate': 40, 'Strawberry': 35}
for key,value in stock6.items():
    print(f'{key}:{value} units')

Vanilla:45 units
Chocolate:40 units
Strawberry:35 units

9.Try to get the stock level for a flavor that doesn't exist, like 'Mango'. Use the `get()`
method with a default value of `0` so the program doesn't crash. Print the result

In [47]:
stock7={'Vanilla': 45, 'Chocolate': 40, 'Strawberry': 35}
print(stock7.get("Mango","0"))

0

10.Create a dictionary `employees` where keys are employee IDs and values are other
dictionaries containing details like `name` and `role`. For example: `{'E101': {'name': 'Priya',
'role': 'Manager'}}`. Access and print the role of employee 'E101'.

In [48]:
employees={
    'E101': {'name': 'Priya','role': 'Manager'},
    'E102':{'name':'Anil','role':'HR'},
    'E103':{'name':'Raj','role':'Finance'}
}
role_E101=employees['E101']['role']
print(role_E101)

Manager

In [ ]:
11.Create a new dictionary with the same keys as the `stock` dictionary but with a doubled
stock value using a dictionary comprehension.

In [51]:
stock7={'Vanilla': 45, 'Chocolate': 40, 'Strawberry': 35}
stock8={key:value*2 for (key,value) in stock7.items()}
stock8

{'Vanilla': 90, 'Chocolate': 80, 'Strawberry': 70}

12.You have a new dictionary `new_flavors = {'Mango': 30, 'Pista': 25}`. Merge this into your
existing `stock` dictionary. Print the final combined dictionary.

In [52]:
stock8={'Vanilla': 90, 'Chocolate': 80, 'Strawberry': 70}
new_flavors = {'Mango': 30, 'Pista': 25}
stock8=stock8 | new_flavors
stock8

{'Vanilla': 90, 'Chocolate': 80, 'Strawberry': 70, 'Mango': 30, 'Pista': 25}

13.Check if the key 'Strawberry' exists in the `stock` dictionary and print a message based on
the result

In [53]:
stock9={'Vanilla': 90, 'Chocolate': 80, 'Strawberry': 70, 'Mango': 30, 'Pista': 25}
if 'Strawberry' in stock9.keys():
    print("Yes! it is avilable")
else:
    print("No! it is not available")

Yes! it is avilable

14.Clear all key-value pairs from the `stock` dictionary and print the empty dictionary.

In [54]:
stock9={'Vanilla': 90, 'Chocolate': 80, 'Strawberry': 70, 'Mango': 30, 'Pista': 25}
stock9.clear()
stock9

{}

15.Loop through the `stock` dictionary and print key-value pairs using the `items()` method
to unpack them directly in the loop, e.g., `for key, value in dictionary.items():`.

In [56]:
stock10={'Vanilla': 90, 'Chocolate': 80, 'Strawberry': 70, 'Mango': 30, 'Pista': 25}
ice_cream_image=chr(127846)
for key ,value in stock10.items():
    print(f'{ice_cream_image}{key}:{value}.')

üç¶Vanilla:90.
üç¶Chocolate:80.
üç¶Strawberry:70.
üç¶Mango:30.
üç¶Pista:25.