 ## 01-08-2025 Practice Problem Recursion

In [26]:
# down printing
def fun(n):
    if n==0:
        return
    print(n,end=" ")
    fun(n-1)
fun(5)

5 4 3 2 1

In [31]:
def fun_up(n):
    if n==0:
        return
    fun_up(n-1)
    print(n)
fun_up(5)

1
2
3
4
5

In [33]:
def fun_up(n):
    if n==10:
        return
    fun_up(n+1)
    print(n,end=" ")
fun_up(0)

9 8 7 6 5 4 3 2 1 0

In [45]:
def fibonacci(n):
    a,b=0,1
    if n<=1:
        return n
    for _ in range(n):
       a,b=b,a+b
    return a
    print(a)
fibonacci(11)

89

In [53]:
def fibonacci(n):
    a,b=0,1
    if n<=1:
        return n
    for _ in range(n):
       a,b=b,a+b
       print(a,end=" ")
    return a
fibonacci(11)

1 1 2 3 5 8 13 21 34 55 89

89

In [56]:
def fibo(n):
    if n<=1:
        return n
    return fibo(n-1)+fibo(n-2)
fibo(5)

5

In [75]:
def fibo(n):
    if n<=1:
        return n
    print(n)
    return fibo(n-1)+fibo(n-2)
fibo(5)

5
4
3
2
2
3
2

5

In [76]:
list_a=[]
def list_fibo(n):
    a,b=0,1
    for _ in range(n):
        a,b=b,a+b
        list_a.append(a)
        print(list_a)
list_fibo(10)

[1]
[1, 1]
[1, 1, 2]
[1, 1, 2, 3]
[1, 1, 2, 3, 5]
[1, 1, 2, 3, 5, 8]
[1, 1, 2, 3, 5, 8, 13]
[1, 1, 2, 3, 5, 8, 13, 21]
[1, 1, 2, 3, 5, 8, 13, 21, 34]
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [89]:
list_b=[0,1]
n=int(input())
for i in range(2,n):
    list_b.append(list_b[-1]+list_b[-2])
print(list_b)

 10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [94]:
n=int(input())
def factorial(n):
    if n==0 or n==1:
        return n
    return n*factorial(n-1)
    print(n)
factorial(n)

 6

720

In [95]:
n=int(input())
def factorial(n):
    if n==0 or n==1:
        return n
    print(n)
    return n*factorial(n-1)
factorial(n)

 4

4
3
2

24

In [100]:
n=int(input())
fact=1
for i in range(1,n+1):
    fact*=i
    print(fact)

 4

1
2
6
24

In [3]:
str_name="madam"
print(str_name[1:-1])

ada

In [7]:
#sum of Digits
n=int(input("enter number here:"))
def sum_of_digit(n):
    if n==0:
        return 0
    return (n%10)+sum_of_digit(n//10)
sum_of_digit(n)

enter number here: 1200

3

In [11]:
#string reversing
s=input("enter the string:")
def string_rev(s):
    if len(s)==0:
        return s
    return string_rev(s[1:])+s[0]
string_rev(s)

enter the string: pyhton is a coding language

'egaugnal gnidoc a si nothyp'

In [17]:
# palindrome
a=input()
def check_palindrome(a):
    if len(a)==0:
        return True
    if a[0]!=a[-1]:
        return False
    return check_palindrome(a[1:-1])
check_palindrome(a)

 malayalam

True

In [22]:
#power
def power_of_num(n,p):
    if p==0:
        return 1
    print(n)
    return n*power_of_num(n,p-1)
power_of_num(2,3)

2
2
2

8

In [23]:
#power
n=int(input("enter base :"))
p=int(input("enter power :"))
def power_of_num(n,p):
    if p==0:
        return 1
    print(n)
    return n*power_of_num(n,p-1)
power_of_num(n,p)

enter base : 5
enter power : 3

5
5
5

125

In [30]:
n=int(input("enter base :"))
p=int(input("enter power :"))
product=1
while p>0:
    product*=n
    p-=1
print(product)

enter base : 8
enter power : 3

512

In [35]:
n=int(input("enter base :"))
p=int(input("enter power :"))
power_value=1
for i in range(p,0,-1):
    power_value*=n
print(power_value)

enter base : 4
enter power : 4

256

1. Print numbers from 1 to N

In [65]:
n=int(input())
def print_1_N(n):
    if n==0:
        return
    
    print_1_N(n-1)
    print(n)
print_1_N(n)

 5

1
2
3
4
5

In [66]:
#power
n=int(input("enter base :"))
p=int(input("enter power :"))
def power_of_num(n,p):
    if p==0:
        return 1
    print(n)
    return n*power_of_num(n,p-1)
power_of_num(n,p)

enter base : 4
enter power : 3

4
4
4

64

2. Print numbers from N to 1

In [68]:
n=int(input())
def print_N_1(n):
    if n==0:
        return
    print(n,end=" ")
    print_N_1(n-1)
print_N_1(n)

 20

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

3. Find factorial of a number

In [71]:
n=int(input("enter factorial number:"))
def factorial_of(n):
    if n<=1:
        return 1
    #print(n)
    return n*factorial_of(n-1)
factorial_of(n)

enter factorial number: 4

24

4. Sum of first N natural numbers

In [74]:
n=int(input("enter number to sum:"))
def sum_of(n):
    if n==0:
        return 0
    return (n%10)+sum_of(n//10)
sum_of(n)

enter number to sum: 2345

14

5. Reverse a string using recursion

In [75]:
s=input("Enter string:")
def rev_str1(s):
    if len(s)==0:
        return s
    return rev_str1(s[1:])+s[0]
rev_str1(s)

Enter string: ansari

'irasna'

6. Check if a string is palindrome

In [80]:
str_name=input("enter String here:")
def pali(str_name):
    if len(str_name)==0:
        return True
    if str_name[0]!=str_name[-1]:
        return False
    return pali(str_name[1:-1])
pali(str_name)

enter String here: 22222222222222222222

True

7. Find nth Fibonacci number

In [81]:
def fibo_of_n(n):
    if n==0 or n==1:
        return n
    return fibo_of_n(n-1)+fibo_of_n(n-2)
fibo_of_n(7)

13

8. Sum of first N natural numbers

In [85]:
n=int(input("enter number:"))
def sum_of_n_num(n):
    if n==0:
        return 0
    return n+sum_of_n_num(n-1)
sum_of_n_num(n)

enter number: 10

55

10. Convert number to binary using recursion

In [22]:
n=int(input("Enter Number:"))
def binary_conv(n):
    if n==0:
        return ''
    return binary_conv(n//2)+str(n % 2)
result=binary_conv(n)
print("binary:",result if result else '0')

Enter Number: 4

binary: 100

In [19]:
def binary_conv(n):
    if n == 0:
        return ''
    return binary_conv(n // 2) + str(n % 2)

n = int(input("Enter Number: "))
binary = binary_conv(n)
print("Binary:", binary if binary else '0')

Enter Number:  5

Binary: 101


9. Count number of digits in a number

In [45]:
n=int(input("Enter Number:"))
def count_digits(n):
    if n==0:
        return 0
    return 1+count_digits(n//10)
count_digits(n)

Enter Number: 123

3

In [25]:
n=int(input("Enter Number:"))
def count(n):
    count=0
    n=str(n)
    for i in n:
        count+=1
    print(count)
count(n)

Enter Number: 123456789

9

In [31]:
n=int(input())
count=0
while n>0:
    count+=1
    n=n//10
print(count)

 63542

5

12. Check if array is sorted (increasing order)

In [69]:
arr_list=[1,2,5,4,5,6,7]
def increasing_ord(arr_list,idx=0):
    if idx==len(arr_list)-1:
        return True
    if arr_list[idx]>arr_list[idx+1]:
        return False
    return increasing_ord(arr_list,idx+1)
increasing_ord(arr_list)

False

In [75]:
arr_list=[1,2,5,4,5,6,7]
def increasing_ord(arr_list):
   return all(arr_list[i]<arr_list[i+1] for i in range(len(arr_list)-1))
    
increasing_ord(arr_list)

False

In [77]:
tuple_arr=(9,8,7,6,5,4)
def check_order_is_correct(tuple_arr):
    return all(tuple_arr[i]>tuple_arr[i+1] for i in range(len(tuple_arr)-1))
check_order_is_correct(tuple_arr)

True

In [78]:
arr_list=[1,2,5,4,5,6,7]
for i in range(len(arr_list)-1):
    if arr_list[i]<arr_list[i+1]:
        print("True")
    else:
        print("False")

True
True
False
True
True
True

In [87]:
arr_list=[1,2,3,4,5,6,7]
def order(arr_list):
    for i in range(len(arr_list)-1):
        if arr_list[i]>arr_list[i+1]:
            return False
    return True
order(arr_list)

True

13. Product of elements in a list

In [89]:
list_a=[4,4,4,4,5]
def product_of_list(list_a):
    if len(list_a)==0:
        return 1
    return list_a[0]*product_of_list(list_a[1:])
product_of_list(list_a)

1280

In [94]:
list_a=[4,4,4,4,5]
product=1
for i in range(len(list_a)):
    product*=list_a[i]
print(product)

1280


14. Find the maximum element in a list recursively

In [105]:
list_b=[1,2,3,4,5]
def max_of(list_b,idx=0):
    max_num=1
    if idx==len(list_b)-1:
        return list_b[idx]
    max_num=max_of(list_b,idx+1)
    return max(list_b[idx],max_num)
max_of(list_b)

5

## Class Work Practice On 03-08-2025 ##

In [2]:
def count_down(n):
    if n==0:
        return
    print(n,end=" ")
    count_down(n-1)
count_down(5)

5 4 3 2 1

In [6]:
def count_down(n):
    if n==0:
        return 
    count_down(n-1)
    print(n,end=" ")
count_down(5)

1 2 3 4 5

In [11]:
# sum of n number
n=int(input("enter number:"))
def sum_of_n(n):
    if n==1:
        return 1
    return n+sum_of_n(n-1)
result=sum_of_n(n)
print(result)

enter number: 12

78

In [13]:
# factorial
n=int(input("enter number:"))
def factorial(n):
    if n==0 or n==1:
        return n
    return n*factorial(n-1)
factorial(n)

enter number: 4

24

In [16]:
# power calculation
n=int(input("enter the base here:"))
p=int(input("enter the power here:"))
def power_calc(n,p):
    if p==0:
        return 1
    return n*power_calc(n,p-1)
power_calc(n,p)

enter the base here: 9
enter the power here: 2

81

In [29]:
# Fibonacci Series
n=int(input("enter number to create fibo series:"))
def fibonacci_1(n):
    a,b=0,1
    for _ in range(n):
        a,b=b,a+b
        print(a,end=" ")
    return a
fibonacci_1(n)

enter number to create fibo series: 10

1 1 2 3 5 8 13 21 34 55

55

In [27]:
n=int(input("enter number to create fibo series:"))
def fibonacci_2(n):
    if n<=1:
        return n
    return fibonacci_2(n-1)+fibonacci_2(n-2)
fibonacci_2(n)

enter number to create fibo series: 10

55

In [44]:
from functools import lru_cache
@lru_cache(maxsize=None)
#n=int(input("enter number:"))
def fibonacci_3(n):
    if n<=1:
        return n
    return fibonacci_3(n-1)+fibonacci_3(n-2)
n=int(input("enter number:"))
fibonacci_3(n)

enter number: 10

55

In [46]:
n=int(input("enter number :"))
def fibonacci_4(n):
    a,b=0,1
    list_a=[]
    for _ in range(n):
        list_a.append(a)
        a,b=b,a+b
    return list_a
fibonacci_4(n)

enter number : 10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [48]:
n=int(input("enter number here:"))
def fibonacci_5(n):
    list_b=[0,1]
    for i in range(n):
        list_b.append(list_b[-1]+list_b[-2])
    return list_b
fibonacci_5(n)

enter number here: 10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [53]:
n=int(input("enter number here:"))
def fibonacci_6(n):
    list_c=[0,1]
    for i in range(2,n+2):
        list_c.append(list_c[i-1]+list_c[i-2])
    return list_c
fibonacci_6(n)

enter number here: 10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## Reverse of a list

In [54]:
list_d=[1,2,3,4,5]
print(list_d[::-1])

[5, 4, 3, 2, 1]

In [58]:
list_e=[2,3,4,5,6]
def rev_list(list_e):
    return reversed(list_e)
result=rev_list(list_e)
print(list(result))

[6, 5, 4, 3, 2]

In [67]:
def rev_list_2(list_f):
    return list_f.reverse()
list_f=[11,12,13,14,15]
rev_list_2(list_f)
print(list_f)
#print(list(result))

[15, 14, 13, 12, 11]

In [66]:
# using reverse 
def reverse_list_2(lst):
    return lst.reverse()

list1 = [1, 2, 3, 4]
reverse_list_2(list1)
print(list1)

[4, 3, 2, 1]

In [68]:
def rev_list_4(list_2):
    list_3=[]
    for item in list_2:
        list_3.insert(0,item)
    return list_3
list_2=[12,13,14,15,16,17]
rev_list_4(list_2)

[17, 16, 15, 14, 13, 12]

In [72]:
#list_5=[10,20,30,40,50,60]
def rev_list_5(list_5):
    rev_list=[list_5[i] for i in range(len(list_5)-1,-1,-1)]
    return rev_list
list_5=[10,20,30,40,50,60]
rev_list_5(list_5)

[60, 50, 40, 30, 20, 10]

## Max and Min ##

In [75]:
list_1=[1,8,9,4,13,-2,4,-8]
def max_min_of(list_1):
    if not list_1:
        return none,none
    max_of=min_of=list_1[0]
    for i in list_1:
        if max_of<i:
            max_of=i
        if min_of>i:
            min_of=i
    return max_of,min_of
max_min_of(list_1)

(13, -8)

In [2]:
list_2=[19,23,45,-1,36,-9,0,34,75,-98]
def max_min_of_2(list_2):
    return max(list_2),min(list_2)
max_min_of_2(list_2)

(75, -98)

In [11]:
list_3=[5,6,-4,-3,7,90,-23]
def max_min_of_3(list_3,max_1=None):
    if len(list_3)==0:
        return max_1
    if max_1 is None or list_3[0]>max_1:
        max_1=list_3[0]
    return max_min_of_3(list_3[1:],max_1)
max_min_of_3(list_3)

90

In [14]:
list_3=[5,6,-4,-3,7,90,-23]
def max_min_of_3(list_3,max_1=None,min_1=0):
    if len(list_3)==0:
        return max_1,min_1
    if max_1 is None or list_3[0]>max_1:
        max_1=list_3[0]
    if min_1>list_3[0]:
        min_1=list_3[0]
    return max_min_of_3(list_3[1:],max_1,min_1)
max_min_of_3(list_3)

(90, -23)

## 3. Remove duplicates from list preserving order

In [16]:
list_1=[1,2,3,4,5,5,5,8]
set_1=set(list_1)
set_1
print(list(set_1))

[1, 2, 3, 4, 5, 8]

In [17]:
list_2=[1,2,3,4,4,4,4,4,4,6,7,8]
list_3=[]
for i in list_2:
    if i not in list_3:
        list_3.append(i)
print(list_3)

[1, 2, 3, 4, 6, 7, 8]

In [23]:
list_2=[1,2,3,4,4,4,4,4,4,6,7,8]
list_4=[]
for i in list_2:
    if i in list_4:
        list_4.remove(i)
    else:
        list_4.append(i)
print(list_4)

[1, 2, 3, 6, 7, 8]

## 4. Check if two lists have common element

In [45]:
# there is a problem in this code
list_5=[1,9,4,13,8,22]
list_6=[2,5,7,9,3]
#check_common=True
def common_list(list_5,list_6):
    if len(list_5)==0:
        return False 
    if list_5[0] in list_6:
        return True
    return common_list(list_5[1:],list_6)
common_list(list_5,list_6)

True

In [36]:
list_7=[1,3,5,7]
list_8=[2,4,1,8]
def common_list_2(list_7,list_8):
    set_7=set(list_7)
    for item in list_8:
        if item in set_7:
            return True
    
    return False
common_list_2(list_7,list_8)

True

In [46]:
# there is a problem in this code
list_5=[1,9,4,13,8,22]
list_6=[2,5,7,9,3]
#check_common=True
def common_list(list_5,list_6):
   for i in list_5:
       for j in list_6:
           if i==j:
               return True
   return False
common_list(list_5,list_6)

True

In [50]:
list_7=["apple","banana","cherry","apple","cherry","banana",1,1,2,2,3,4,5]
dict_7={}
count=1
def count_freq(list_7):
    global count
    for item in list_7:
        if item in dict_7:
            dict_7[item]=count+1
        else:
            dict_7[item]=count
    return dict_7
count_freq(list_7)

{'apple': 2, 'banana': 2, 'cherry': 2, 1: 2, 2: 2, 3: 1, 4: 1, 5: 1}

## 6. Find first index of element in a list (or -1 if not found)

In [55]:
list_8=[1,2,3,4,4,5]
def index_of_ele(list_8,idx=0):
    if len(list_8)-1==0:
        return -1
    for i in list_8:
        return list_8[idx]
    return index_of_ele(list_8,idx+1)
index_of_ele(list_8)

1

In [60]:
list_9=[9,4,5,6,3,2]
def index_of_ele_2(list_9,ele):
    for idx,val in enumerate(list_9):
        if val ==ele:
            return idx
    return -1
index_of_ele_2(list_9,2)

5

## 7. Merge two dictionaries

In [61]:
dict_a={
    "a":1,
    "b":2
}
dict_b={
    "c":3,
    "d":4
}
dict_c=dict_a | dict_b
print(dict_c)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [62]:
dict_a={
    "a":1,
    "b":2
}
dict_b={
    "c":3,
    "d":4
}
dict_a.update(dict_b)

In [63]:
dict_a

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [67]:
dict_a={
    "a":1,
    "b":2
}
dict_b={
    "c":3,
    "d":4
}
dict_d={}
def dict_merged(dict_a,dict_b):
    for k,v in dict_a.items():
        if k not in dict_d.keys():
            dict_d[k]=v
    for k1,v1 in dict_b.items():
        if k1 not in dict_d.keys():
            dict_d[k1]=v1
    return dict_d
dict_merged(dict_a,dict_b)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [65]:
d1={
    "name":"talib",
    "phone":"redmi"
}
d2={
    "name":"brijesh",
    "phone":"motorola"
}
    
def merge_dicts(d1, d2):
    merged = {}
    for key in d1:
        merged[key] = d1[key]
    for key in d2:
        merged[key] = d2[key]
    return merged
merge_dicts(d1,d2)

{'name': 'brijesh', 'phone': 'motorola'}

In [70]:
d3={
    "name":"talib",
    "phone":"redmi"
}
def key_exist(d3,key):
    if key in d3.keys():
        return True
    return False
key_exist(d3,"name")

True

In [71]:
d4={
    "a":3,
    "b":4,
    "c":8
}
def key_exist(d4,key):
    for k,v in d4.items():
        if k==key:
            return True
    return False
key_exist(d4,"c")

True

## 9. Create dict from two lists (keys and values)

In [85]:
key=["banana","apple","cherry","grapes","kiwi"]
value=[2,3,4,5,6]
dict_list={}
def dict_creation(key,value):
    for i in range(min(len(key),len(value))):
        dict_list[key[i]]=value[i]
    return dict_list

dict_creation(list_name,list_quant)

{'banana': 2, 'apple': 3, 'cherry': 4, 'grapes': 5, 'kiwi': 6}

In [96]:
dict_value={'banana': 6, 'apple': 3, 'cherry': 2, 'grapes': 7, 'kiwi': 1}
def sort_by_value(dict_value):
    value=sorted(dict_value.items(),key=lambda x:x[1])
    return dict(value)
sort_by_value(dict_value)

{'kiwi': 1, 'cherry': 2, 'apple': 3, 'banana': 6, 'grapes': 7}

## 11. Find union and intersection of two sets

In [97]:
set_a={1,2,3,4,"talib"}
set_b={9,5,4,6,"ansari"}
def union_intersection(set_a,set_b):
    return set_a.union(set_b) ,set_a.intersection(set_b)
union_intersection(set_a,set_b)

({1, 2, 3, 4, 5, 6, 9, 'ansari', 'talib'}, {4})

In [110]:
#set_c=set(input())
set_c={2,3,4}
set_d={2,3,4,5,6,7}
def check_subset(set_c,set_d):
    return set_c.issubset(set_d)
check_subset(set_c,set_d)

True

## 13. Count unique characters in string using set

In [111]:
st="Welcome here Programmer:"
set_st=set()
count=0
def count_unique_char(st):
    global count
    for i in st:
        if i not in set_st:
            set_st.add(i)
            count+=1
    return count,set_st
count_unique_char(st)

(13, {' ', ':', 'P', 'W', 'a', 'c', 'e', 'g', 'h', 'l', 'm', 'o', 'r'})

In [112]:
st1="malayalam"
def count_char_2(st1):
    return len(set(st1))
count_char_2(st1)

4

## 14. Convert list of tuples to dictionary

In [113]:
list_tup=[("apple",4),("cherry",3),("kiwi",8),("pineapple",7)]
dict_list_tup={}
def list_tuple_dict(list_tup):
    for k,v in list_tup:
        dict_list_tup[k]=v
    return dict_list_tup
list_tuple_dict(list_tup)

{'apple': 4, 'cherry': 3, 'kiwi': 8, 'pineapple': 7}

In [116]:
def tuples_to_dict(lst):
    d = {}
    #for k, v in lst: #
       # d[k] = v
    for i in lst:    
        d[i[0]] = i[1]      
    return d

# Test
print(tuples_to_dict([('a',1),('b',2)]))

{'a': 1, 'b': 2}

## 15. Swap two tuples without temp variable

In [119]:
tup1=(1,2,3,4)
tup2=(8,9,7)
def swap_tuples(tup_a,tup_b):
    return tup_b,tup_a
swap_tuples(tup1,tup2)

((8, 9, 7), (1, 2, 3, 4))

## 16. Find length of tuple without len()

In [123]:
tup_a=(1,2,3,4,5,60,13,11,12,26,19)
length=0
def length_tuple(tup_a):
    global length
    for i in tup_a:
        length+=1
    return length
length_tuple(tup_a)

11

## 17. Find common elements between two tuples

In [125]:
tup_b=(1,9,23,41,78,35,97)
tup_c=(3,4,6,1,9,97,27,98,45,35)
list_d=[]
def common_ele(tup_b,tup_c):
    for num in tup_b:
        if num in tup_c:
            list_d.append(num)
    return list_d
common_ele(tup_b,tup_c)

[1, 9, 35, 97]

## 18. Convert tuple of digits to integer

In [131]:
tup_d=(1,2,3,4)
a,*b=tup_d
print(a,*b)

1 2 3 4

In [133]:
tup_e=(1,2,3,4,5,6,7)
a=tup_e
print(*a)

1 2 3 4 5 6 7

In [139]:
tup_f=(1,2,3,4,5,6)
char=''
def tuple_to_int(tup_f):
    global char
    for i in tup_f:
        char+=str(i)
    return int(char)
tuple_to_int(tup_f)

123456

## 19. Check if string has all unique characters

In [1]:
st3="ansari"
set_3=set()
def st_unique_char(st3):
    if len(st3)==0:
        return True
    for i in st3:
        if i not in set_3:
            set_3.add(i)
        else:
            return False
    return set_3
st_unique_char(st3)

False

In [145]:
def all_unique_chars(s):
    seen = []
    for ch in s:
        if ch in seen:
            return False
        seen.append(ch)
    return True

# Test
print(all_unique_chars("hello"))  # False
print(all_unique_chars("world"))

False
True

## 20. Remove keys with duplicate values from dictionary

In [153]:
dict_a={
    "name":"talib",
    "phone":"redmi",
    "price":27000,
    "phone2":"redmi"
}
dict_b={}
set_b=set()
def r_key(dict_a):
    for k,v in dict_a.items():
        if v not in set_b:
            dict_b[k]=v
            set_b.add(v)
    return dict_b
r_key(dict_a)

{'name': 'talib', 'phone': 'redmi', 'price': 27000}