In [2]:
a=int('101',2)
print(a)

5

In [1]:
x=[1,2,3]
y=x

In [2]:
y

[1, 2, 3]

In [5]:
y.append(4)

[1, 2, 3, 4]

In [2]:
str_name="programming"
str_split=len(str_name.split("g"))
str_split

3

In [3]:
x=10
print(x)

10

In [4]:
x=20

In [5]:
x

20

In [6]:
user_name="talib" #this is a string

In [7]:
user_name

'talib'

In [1]:
x=39.50
y=27.02

In [2]:
x*y

1067.29

In [13]:
x/y # to get the qutiont value with decimal value

1.461880088823094

In [14]:
x%y # to get remainder from the value

12.48

In [15]:
x//y # to get only qutiont withou any decimal value

1.0

 ## basics of print function

In [21]:
print('hello talib')

hello talib

In [22]:
print('hii we are here to learn basics of python')

hii we are here to learn basics of python

In [23]:
print('talib')# both seprates in different lines
print('ansari')

talib
ansari

In [25]:
print('talib','ansari')# both find the gap in between them

talib ansari

In [27]:
print('talib',end=' ','ansari') # after putting end then we can not write anything this will through an error

SyntaxError: positional argument follows keyword argument (581172752.py, line 1)

In [28]:
print('talib',end=' ')

talib

In [29]:
print('talib','ansari')

talib ansari

In [34]:
print('talib','ansari',sep=',') # seprator is used to denote space among the strings by regulating with the any seprator

talib,ansari

In [39]:
print('ansari')
print('hello talib',end=' ')# end just end the process from there a new process starts without changing a line
print ('ansari')

ansari
hello talib ansari

In [60]:
with open("file1.txt", "r+") as file:
    print(file.read())

In [52]:
with open('file1.txt', 'r+') as f:      # abc.txt should exist before opening
    print(f.tell())

0

In [77]:
with open('file1.txt','r+') as f:
    print(f.write('10'))

2

In [86]:
with open("file1.txt","r+") as f:
    print(f.read(3))

10l

In [93]:
with open("file1.txt","w+") as f:
    print(f.wirte(10))

AttributeError: '_io.TextIOWrapper' object has no attribute 'wirte'

In [1]:
with open("f1.txt","w") as f:
    print(f.write("talib"))

5

In [3]:
with open("f1.txt","r") as f:
    print(f.read())

talib

In [12]:
with open("f1.txt","a") as f:
    print(f.write("5"))

1

## typecasting

In [13]:
x=10
print(x)

10

In [14]:
type(x)

int

In [15]:
x=10 # here we typecasted the int to str
str_y=str(x)
print(str_y)

10

In [16]:
type(str_y)

str

In [3]:
y=20
x=str(y)
type(x)

str

In [4]:
s="talib"     # here we can see that there is no conversion from str to int 
x=int(s,16)
type(x)

ValueError: invalid literal for int() with base 16: 'talib'

In [40]:
s ="48556"   # here only number or digits can be converted but letters or characters can be converted with base 36
num=int(s)
print(num,type(num))

48556 <class 'int'>

In [23]:
num=2732736
num_1=float(num)
print("the float num_1 is{},and the type is",num_1,type(num_1))

the float num_1 is{},and the type is 2732736.0 <class 'float'>

In [27]:
num=2732736 # here we can use format
num_1=float(num)
print("the float num_1 is{},and the type is{}".format(num_1,type(num_1)))

the float num_1 is2732736.0,and the type is<class 'float'>

In [51]:
str_name="talib"
f_num=float(str_name)
print("the float num is {}",f_num,"type is {}",type(f_num))

ValueError: could not convert string to float: 'talib'

In [50]:
str_name="38383"
f_num=float(str_name)
print("the float num is :",f_num,"type is : ",type(f_num))

the float num is : 38383.0 type is :  <class 'float'>

In [63]:
user=3646.47548
num_str=str(user)
print(num_str,type(num_str))

3646.47548 <class 'str'>

In [60]:
del str

In [61]:
x = 10
print(str(x), type(str(x)))

10 <class 'str'>

In [64]:
x=120
y=bool(x)
print(y,type(y))

True <class 'bool'>

In [65]:
x=0
print(bool(x),type(bool(x)))

False <class 'bool'>

In [5]:
bool=True
bool=int(bool)
print(bool==True,type(bool))

True <class 'int'>

In [6]:
s=True
int_s=int(s)
print(int_s,type(int_s))

1 <class 'int'>

In [11]:
s1=" "
s2=bool(s1)
print(s2,type(s2))

TypeError: 'int' object is not callable

In [74]:
my_list=[3,4,5,6]
print(my_list)

[3, 4, 5, 6]

In [79]:
my_list=[4,5,6,7]
print(my_list[0])

4

In [83]:
my_list=[4,5,6,7]
print(my_list)
my_list.append(9)
my_list.append("talib")
print(my_list)

[4, 5, 6, 7]
[4, 5, 6, 7, 9, 'talib']

In [84]:
my_tuple=(1,2,3,4)
print(my_tuple)

(1, 2, 3, 4)

In [85]:
my_tuple=(1,2,3,4)   # here we can not append any value because tuple is immutable 
my_tuple.append(5)
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'append'

In [86]:
my_set={2,3,4,2,4}
print(my_set)

{2, 3, 4}

In [89]:
my_set={2,3,4,2,4} #set is mutable and can be change its value but it can not have repeated value 
my_set.add(5)
my_set.remove(4)
print(my_set)

{2, 3, 5}

In [90]:
my_tuple=(3,4,5,6)
my_list=list(my_tuple)
print(my_list,type(my_list))

[3, 4, 5, 6] <class 'list'>

In [93]:
my_tuple=(3,4,5,5,6)
my_set=set(my_tuple)
print(my_set,type(my_set))

{3, 4, 5, 6} <class 'set'>

In [96]:
my_list=[3,4,5,6]
my_tuple=tuple(my_list)
my_list.append(7)
print(my_list)
print(my_tuple,type(my_tuple))

[3, 4, 5, 6, 7]
(3, 4, 5, 6) <class 'tuple'>

In [2]:
my_list=["atalib","fruits",46,90,26.4]
print(my_list)
len(my_list)

['atalib', 'fruits', 46, 90, 26.4]

5

In [27]:
my_tuple=(37,"talib",7,48,98.0)
x=len(my_tuple)

In [4]:
x

5

In [5]:
my_set={"talib","ansari",5,5,6,7} # it doesn't count the repeated number
x=len(my_set)

In [6]:
x

5

In [7]:
x=input()   # here we can see that the default value of the input() is str
print(x,type(x))

 56

56 <class 'str'>

In [13]:
x=input()  # it will convert one character to integer
val=int(x,16)
print(val,type(val))

 f

15 <class 'int'>

In [14]:
my_list=input()  # it prints character by character
my_tuple=tuple(my_list)
my_set=set(my_list)
print(my_tuple,my_set)

 "talib",57,4,3,3

('"', 't', 'a', 'l', 'i', 'b', '"', ',', '5', '7', ',', '4', ',', '3', ',', '3') {'t', 'l', '7', 'b', 'a', '5', ',', 'i', '3', '4', '"'}

In [16]:
my_list=input()  # it prints character by character
#my_tuple=tuple(my_list)
my_set=set(my_list)
print(my_set,end=',')

 talib

{'i', 'b', 'a', 'l', 't'},

In [13]:
my_list=input()  
#my_tuple=tuple(my_list)
my_set=set(my_list.split())
print(my_set)

 "banana" "apple" "banana"

{'"apple"', '"banana"'}

## operators : arithmatic ,assignment,logical,membership

 # Arithmatic Opertaor

In [28]:
a=10
b=13
print(a+b)

23

In [33]:
a=10
b=9.5
print(a+b)

19.5

In [37]:
a=3 # it is considered as the power of a to the b where a is the base and b its power
b=2
print(a**b)

9

Assignment Operator

In [38]:
a=5
b=3
a**=b
print(a)

125

In [41]:
a=5
b=3
a/=b
print(a)

1.6666666666666667

In [42]:
a%=b
print(a)

1.6666666666666667

In [43]:
a//=b
print(a)

0.0

In [48]:
x=5 # here it is comapraing with its binary bits that is changed in binary number such as 5=101 ,2=010
x&=2
print(x)

0

In [49]:
x=5 # here it is comapraing with its binary bits that is changed in binary number such as 5=101 ,2=010
x|=2
print(x)

7

logical Operator

In [57]:
a=10
b=10
c=a
print(c)
print(b is c)
id(a)
id(c)

10
True

140718191981768

In [63]:
list_a=[1,2,3] # here it compares the value of the list
list_b=[1,2,3]
list_c=list_a
print(list_a == list_b)

True

In [59]:
list_a=[1,2,3] # here it compares the memory location of the list
list_b=[1,2,3]
list_c=list_a
print(list_a is list_b)

False

In [60]:
id(list_a)
#(list_b)
#id(list_c)

2851791181312

In [61]:
id(list_c)

2851791181312

In [62]:
id(list_b)

2851791122560

In [67]:
tuple_a=("talib","ansari",5,6)
tuple_b=("talib","ansari",5,6)
tuple_c=tuple_b=tuple_a
print(tuple_c)
print(tuple_c==tuple_a)
print(tuple_a==tuple_b)
print(tuple_a is tuple_b)

('talib', 'ansari', 5, 6)
True
True
True

In [68]:
id(tuple_a)

2851791152896

In [69]:
id(tuple_b)

2851791152896

In [70]:
id(tuple_c)

2851791152896

In [72]:
list_a=[2.5,3.2,1.8] # list tuples sets can be directly typecasted in str but not in int or float
x=str(list_a)
print(x)

[2.5, 3.2, 1.8]

In [73]:
list_a=[2.5,3.2,1.8] # list tuples sets can be directly typecasted in str but not in int or float
int_num=[int(x) for x in list_a]
print(int_num)

[2, 3, 1]

In [74]:
list_a=["talib","ansari","23"]
float_num=[float(x) for x in list_a]
print(float_num)

ValueError: could not convert string to float: 'talib'

In [77]:
list_a=["talib","ansari","23"]
int_num=[int(x,36) for x in list_a]
print(int_num)

[49203299, 644613246, 75]

In [89]:
list_a=["talib","ansari","23",56]
int_num=[int(x,36) for x in list_a]
print(int_num)

TypeError: int() can't convert non-string with explicit base

Practice Problem

In [1]:
## 1.Ask the user for their favorite number (as a string) and convert it
#to an integer. Then, print the number multiplied by 5. (Hint: Use
#`input()` and `int()`)
str_x=1914
int_value=int(str_x)
print(f"the number is :{int_value*5}")

the number is :9570

In [7]:
#2. Given a string `price_str = "25.99"`, convert it to a float and then
#to an integer. Print both results and their types. Explain why the
#integer conversion might lose information. (Hint: Use `float()`,
#`int()`, `type()`)
price_str="25.99"
price_float=float(price_str)
#print(price_float,type(price_float))
price_int=int(price_float)
#print(price_int,type(price_int))
print(f"the float value is:{price_float},{type(price_float)} and the int value is:{price_int},{type(price_int)}")

25.99 <class 'float'>
25 <class 'int'>
the float value is:25.99,<class 'float'> and the int value is:25,<class 'int'>

In [17]:
#You have a list of numbers `data = ["10", "20", "30", "40.5"]`. Write
#code to convert all elements in `data` to integers. What happens
#when you try to convert "40.5" directly to an integer? How would
#you handle it if you wanted to convert all to floats first? (Hint:
#Use `int()`, `float()`, `list()`, `try-except`)
data = ["10", "20", "30", "40.5"]
for item in data:
    try:
        value=int(item)
        print("convereted:",value)
    except:
        print("invalid :",item)
   

#except:
#print("this can not be directly converted in int")

convereted: 10
convereted: 20
convereted: 30
invalid : 40.5

In [18]:
c="50.5"
r=int(c)
print(r)

ValueError: invalid literal for int() with base 10: '50.5'

In [19]:
c="50.5"
r=int(float(c))
print(r,type(r))

50 <class 'int'>

In [5]:
data = ["10", "20", "30", "40.5"]
value=[float(x) for x in data]
print(value)

[10.0, 20.0, 30.0, 40.5]

In [30]:
data=("23","48","a","c","9.3")
for i in data:
    try:
        int_val=int(i)
        print("converted value is:",int_val)
    except:
        print("not converted value is:",i)

converted value is: 23
converted value is: 48
not converted value is: a
not converted value is: c
not converted value is: 9.3

In [33]:
set_val={"talib","ansari","45","9.3"}
for i in set_val:
    try:
        int_val=int(i)
        print("converted value is:",int_val)
    except:
        print("not converetd value is:",i)

not converetd value is: 9.3
not converetd value is: talib
converted value is: 45
not converetd value is: ansari

In [5]:
#4. Create a boolean variable `is_sunny = True`. Convert this boolean
#to a string and an integer. Print both conversions. (Hint: Use
#`str()`, `int()`)
is_sunny=True
str_val=str(is_sunny)
print(str_val)
isinstance(str_val,str)

True

True

In [6]:
str_val

'True'

In [7]:
is_sunny=True
int_val=int(is_sunny)
print(int_val,isinstance(int_val,int))

1 True

In [39]:
#5. Explain the difference between `int("10")` and `str(10)`. Provide a
#scenario where each would be useful.
x=int("10")
y=str(10)
print(x,type(x))
print(y,type(y))

10 <class 'int'>
10 <class 'str'>

Variables

In [41]:
#1. Declare three variables: `city` (string), `population` (integer), and
#`average_temp_celsius` (float). Assign appropriate values to them
#and print a sentence using all three variables (e.g., "The city of
#[city] has a population of [population] and an average
#temperature of [temp]C."). (Hint: Use f-strings for printing)
city="Rewa"
population=int("2000000")
average_temp_celcius=35.5
print(f"There is city named {city} has population of {population} and there we can see the high temprature which is around {average_temp_celcius}")

There is city named Rewa has population of 2000000 and there we can see the high temprature which is around 35.5

In [42]:
#2. Swap the values of two variables `a = 5` and `b = 10` without
#using a temporary variable. Print `a` and `b` after swapping.
a=5
b=10
b=b-a
a=a+b
print(a,b)

10 5

In [56]:
#4. Declare a global variable `company_name = "TechCorp"`. Inside a
#function `print_company_info()`, try to print `company_name`.
#Then, inside the same function, try to declare a new local variable
#`company_name = "GlobalSoft"` and print it. What is the scope of
#each `company_name`? (Hint: Use `def` to define a function)
company_name="TechCorp"
def company():
    company_name="GlobalSoft"
    print(company_name)
print(company_name)
company()

TechCorp
GlobalSoft

company()

In [62]:
h_value=10
b_value=20
def function():
    global h_value
    print(h_value,b_value)
    h_value=b_value
    print(h_value)

In [63]:
function()

10 20
20

In [67]:
a_value=19.5
b_value=29
def add():
    global a_value
    print(a_value,b_value)
    a_value+=b_value
    print(a_value)
print(a_value)
add()

19.5
19.5 29
48.5

In [68]:
#5. You are building a simple inventory system. Create variables for
#`item_name`, `item_quantity`, and `item_price`. Calculate the
#`total_stock_value` and print all information using f-strings for
#clear output.
item_name="books"
item_quantity=50
item_price=500
total_stock_value=item_quantity*item_price
print(f"item_name is:{item_name}, item_quantity is:{item_quantity},item_price is:{item_price},so the total_stock_value will be :{total_stock_value}")

item_name is:books, item_quantity is:50,item_price is:500,so the total_stock_value will be :25000

operator

In [74]:
#1. Write a program that takes two numbers as input from the user
#and prints their sum, difference, product, division (float), and
#floor division. (Hint: Use `input()` and arithmetic operators)
a_value=int(input())
b_value=int(input())
sum=a_value+b_value
diffrence=a_value-b_value
product=a_value*b_value
#exponent=a**b
float_division=a_value/b_value
division=a_value//b_value
print(sum,diffrence,product,float_division,division,sep=",")

 2
 3

5,-1,6,0.6666666666666666,0

In [1]:
#2. You have a variable `balance = 1000`. Simulate a transaction
#where you deposit $200 and then withdraw $50 using assignment operators. Print the balance after each operation
balance=1000
deposit=200
withdraw=50
balance+=deposit
print(balance)
balance-=withdraw
print(balance)

1200
1150

In [5]:
#3. Check if a given number `num = 25` is both greater than 20 AND
#less than 30. Print `True` or `False`. Then, check if `num` is equal to
#25 OR equal to 50. Print `True` or `False`. (Hint: Use logical
#operators `and`, `or`)
num=25
is_greater_20=True
is_less_30=True
print(f"num {num} is greater than 20 and lesser than 30 :",{is_greater_20 and is_less_30})
is_equal_25=True
is_higher_50=True
print(f"num {num} is equal to or greater than 25 :{is_equal_25 or is_higher_50}")

num 25 is greater than 20 and lesser than 30 : {True}
num 25 is equal to or greater than 25 :True

In [6]:
#4. Create two lists: `list_a = [1, 2, 3]` and `list_b = [1, 2, 3]`. Create
#another variable `list_c = list_a`. Use the `is` operator to compare
#`list_a` with `list_b` and `list_a` with `list_c`. Explain the difference
#in output.
list_a=[1,2,3]
list_b=[1,2,3]
list_c=list_a
print(f" list_a is list_b :{list_a is list_b} and list a is list_c :{list_a is list_c}")

 list_a is list_b :False and list a is list_c :True

In [8]:
id(list_a)

1987396700864

In [9]:
id(list_b)

1987396707840

In [10]:
id(list_c)

1987396700864

In [14]:
#5. Given a string `sentence = "Python is fun and powerful"`. Check if
#the word "fun" is in the sentence and if the word "Java" is not in
#the sentence, using membership operators.
sentence="pyhton is fun and powerful"
print(f"fun is in senetence:{"fun" in sentence}")
print(f"java is not in sentence:{"java" not in sentence}")

fun is in senetence:True
java is not in sentence:True

Conditional statement

In [18]:
#1. Write a program that asks the user for a number. Print "Positive"
#if the number is greater than 0, "Negative" if it's less than 0, and
#"Zero" if it's equal to 0. (Hint: Use `input()` and `if-elif-else`)
number=int(input())
if number>0:
    print("positive")
elif number<0:
    print("negative")
else:
    print("number is zero")

 834384934837

positive

In [25]:
#2. Ask the user for their age. If the age is less than 13, print "Child".
#If it's between 13 and 19 (inclusive), print "Teenager". Otherwise,
#print "Adult".
age=int(input())
if age<13:
    print("Child")
elif age>=13 and age<=19:
    print("Teenager")
else:
    print("Adult")

 20

Adult

In [27]:
#3. Simulate a simple login system. Ask for a `username` and
#`password`. If `username` is "admin" AND `password` is
#"password123", print "Login successful!". Otherwise, print "Invalid
#credentials.".
user_name=input()
password=input()
if user_name=="admin" and password=="password123":
    print("Login successfull!")
else:
    print("Invalid credentials")

 admin
 password123

Login successfull!

In [39]:
#4. Extend the previous login system: if the username is correct but
#the password is wrong, print "Incorrect password for admin.". If
#the username is wrong, print "Username not found.".
user_name=input()
password=input()
if user_name=="admin" and password=="password123":
    print("Login succesfull!")
elif user_name=="admin":
    print("Incorrect password for admin")
else:
    print("Username not found")

 admin
 17263

Incorrect password for admin

In [45]:
#5. You are building a simple vending machine. If the user selects 'A'
#for soda, 'B' for chips, 'C' for candy, print the item name. If they
#select anything else, print "Invalid selection." (Hint: Use `input()`
#and `if-elif-else`)
input_val=input()
if input_val=="A":
    print("Soda")
elif input_val=="B":
    print("CHips")
elif input_val=="C":
    print("Candy")
else:
    print("Invalid selection")

 D

Invalid selection

Loops-for loop

In [1]:
fruits=["banana","apple","cherry"]
for i in fruits:
    print(i)

banana
apple
cherry

In [2]:
name="python"
for char in name:
    print(char)

p
y
t
h
o
n

In [6]:

for char in "Python":
    print(char,end=',')

P,y,t,h,o,n,

In [10]:
tuple_1=("a","b","c")
for i in tuple_1:
    print(i,end=",")

a,b,c,

In [2]:
a="fruits","talib"
for char in a:
    print(char,end=",")
type(a)

fruits,talib,

tuple

## range

In [17]:
print("loop 0-4 :") # if there is one value in range then it will called as the end point value
for i in range(4):
    print(i)

loop 0-4 :
0
1
2
3

In [18]:
print("loop 0 to 10")# here range has two value one is called a starting value and other is stop value
for i in range(0,10):
    print(i)

loop 0 to 10
0
1
2
3
4
5
6
7
8
9

In [19]:
print("loop 0 to 15") # the third value is step value means how many steps we have to move in one move
for i in range(0,15,1):
    print(i)

loop 0 to 15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [21]:
print("loop 0 to 10 with step value 2 which is also called as even value")
for i in range(0,10,2):
    print(i)

loop 0 to 10 with step value 2 which is also called as even value
0
2
4
6
8

In [23]:
print("loop 0 to 15 with step value 3 which is also called as odd value")
for i in range(0,15,3):
    print(i)

loop 0 to 15 with step value 3 which is also called as odd value
0
3
6
9
12

 ## Indexing

In [29]:
product_name="books"
product_name[0]

'b'

In [30]:
product_name="Icecream"
product_name[::]

'Icecream'

In [32]:
name="talib" # it is used to print the reverse of the string
name[::-1]

'bilat'

In [33]:
list_a=["talib","ansari","fruit"]
list_a[::-1]

['fruit', 'ansari', 'talib']

In [35]:
list_a[1]

'ansari'

In [36]:
tuple_a=("talib","ansari","fruit")
tuple_a[::]

('talib', 'ansari', 'fruit')

In [37]:
tuple_a[::-1]

('fruit', 'ansari', 'talib')

In [38]:
tuple_a[2]

'fruit'

In [44]:
set_a={"talib","ansari","fruit"} # in set indexing is not used 
#set_a[::]
set_a[::-1]

TypeError: 'set' object is not subscriptable

In [9]:
name="talib"
name[::]

'talib'

In [46]:
name[0:2]

'ta'

In [49]:
name[0:5:2]

'tlb'

In [50]:
name[0:5:1]

'talib'

In [51]:
name[1:5:2]

'ai'

In [10]:
# print odd number between 1 to 100
print("odd number between 1 to 100")
for i in range(1,100,2):
    print(i,end=" ")

odd number between 1 to 100
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [1]:
# print even numbers from 1 to 100
print("even number from 1 to 100")
for i in range(0,100,2):
    if i==0:
        continue
    print(i,end=" ")

even number from 1 to 100
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [8]:
# print prime number from 1 to 100 or 0 to 100
print("prime is from 0 to 100")
for num in range(2,101):
    is_prime=True
    for i in range(2,int(num**0.5)+1):
        if num % i==0:
            is_prime=False
            break
    if is_prime:
        print(num,end=",")

prime is from 0 to 100
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [14]:
# palindrome number
str_name=input()
rev_str_name=str_name[::-1]
if str_name==rev_str_name:
    print("its a palindrome number:",str_name)
else:
    print("its not a palindrome number:",str_name)

 546645

its a palindrome number: 546645

In [4]:
# fibonacci series
def fibonacci(n):
    list_a=[0,1]
    for i in range(2,n):
        list_a.append(list_a[-1]+list_a[-2])
    return list_a
print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [27]:
def fibonacci(n):
    list_b=[0,1]
    for i in range(2,n):
        list_b.append(list_b[i-1]+list_b[i-2])
    return list_b
print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [30]:
def fibonacci(p): # not allowed in python because of set is not use indexing
    set_a={0,1}
    for i in range(2,p):
        set_a.add(set_a(i-1)+set_a(i-2))
    return set_a
print(fibonacci(10))

TypeError: 'set' object is not callable

In [38]:
# strong number
import math
n=int(input())
sum=0
for i in str(n):
    sum+=math.factorial(int(i))
if sum==n:
    print("its a strong number")
else:
    print("its not a strong number")

 10

its not a strong number

In [41]:
#perfect number
import math
formula=1
for num in range(2,101):
    is_prime=True
    for i in range(2,int(num**0.5)+1):
        if num % i==0:
            is_prime=False
            break
    if is_prime:
        p=num
        formula=math.pow(2,p-1)*(math.pow(2,p)-1)
        print(formula)

6.0
28.0
496.0
8128.0
2096128.0
33550336.0
8589869056.0
137438691328.0
35184367894528.0
1.4411518780742042e+17
2.305843008139952e+18
9.444732965670571e+21
2.4178516392281588e+24
3.8685626227663736e+25
9.903520314282972e+27
4.0564819207303336e+31
1.661534994731145e+35
2.658455991569832e+36
1.0889035741470031e+40
2.787593149816328e+42
4.460149039706125e+43
1.8268770466636286e+47
4.6768052394588893e+49
1.915619426082361e+53
1.2554203470773362e+58

In [45]:
import math
formula=1
for num in range(2,11):
    check_prime=True
    for i in range(2,int(num**0.5)+1):
        if num % i==0:
            check_prime=False
            break
    if check_prime:
        p=num
        formula=math.pow(2,p-1)*(math.pow(2,p)-1)
        print(formula)

6.0
28.0
496.0
8128.0

In [52]:
#multiplication table
for i in range(1,5):
    for j in range(1,10):
        print(f"{i}*{j}={i*j}",end="\t")

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9	2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18	3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27	4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36

In [54]:
print("Multiplication Table (1 to 3):")
for i in range(1, 4): # Outer loop for rows
    for j in range(1, 4): # Inner loop for columns
        print(f"{i} * {j} = {i * j}", end="\t")

Multiplication Table (1 to 3):
1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	3 * 1 = 3	3 * 2 = 6	3 * 3 = 9

In [60]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,11):
        print(f"{i} * {j} ={i*j}",end="\t")
    print()

 3

0 * 1 =0
	0 * 2 =0
	0 * 3 =0
	0 * 4 =0
	0 * 5 =0
	0 * 6 =0
	0 * 7 =0
	0 * 8 =0
	0 * 9 =0
	0 * 10 =0
	1 * 1 =1
	1 * 2 =2
	1 * 3 =3
	1 * 4 =4
	1 * 5 =5
	1 * 6 =6
	1 * 7 =7
	1 * 8 =8
	1 * 9 =9
	1 * 10 =10
	2 * 1 =2
	2 * 2 =4
	2 * 3 =6
	2 * 4 =8
	2 * 5 =10
	2 * 6 =12
	2 * 7 =14
	2 * 8 =16
	2 * 9 =18
	2 * 10 =20

In [4]:
#enumrates : used to get index with value
name=["abbu","talib","ansari"]
for index,i in enumerate(name):
    print(f"index{index}:{i}")

index0:abbu
index1:talib
index2:ansari

In [6]:
for index,n in enumerate(name,start=1):
    print(index,n)

1 abbu
2 talib
3 ansari

In [7]:
# zip value where you can iterate in multiple list or tuples
list_a=["talib","ansari"]
list_b=["vipul","singh"]
for i,j in zip(list_a,list_b):
    print(i,j)

talib vipul
ansari singh

In [9]:
# zip value where you can iterate in multiple list or tuples
list_a=["talib","ansari"]
#list_b=["vipul","singh","brijesh"]
for i in zip(list_a):
    print(i)

('talib',)
('ansari',)

In [10]:
# zip value where you can iterate in multiple list or tuples
list_a=["talib","ansari"]
list_b=["vipul"]
for i,j in zip(list_a,list_b):
    print(i,j)

talib vipul

In [12]:
list_a=["talib","ansari","brijesh"]
list_b=["vipul","ansari"]
for i,j in zip(list_a,list_b):
    print(i,j)

talib vipul
ansari ansari

In [14]:
list_a=["talib","ansari","brijesh"]
money=["20","50"]
combine=list(zip(list_a,money))
print(combine)

[('talib', '20'), ('ansari', '50')]

In [15]:
list_a=["talib","ansari","brijesh"]
money=["20","50"]
my_dic=dict(zip(list_a,money))

In [16]:
print(my_dic)

{'talib': '20', 'ansari': '50'}

In [5]:
# unzipped number
zipped=[('talib', '20'), ('ansari', '50')]
liat_a,money=zip(*zipped)
print(liat_a)
print(money)

('talib', 'ansari')
('20', '50')

In [6]:
#1.iteration 2.dictionary creation 3.unzipping value 4.uneven value
phone=["samsung","iPhone","redmi","nokia"]
price=["25000","100000","15000"]
name=["brijesh","vipul","talib"]
for i,j,k in zip(phone,price,name):
    print(f"{k}-{i} :{j}")

brijesh-samsung :25000
vipul-iPhone :100000
talib-redmi :15000

In [31]:
#1.iteration 2.dictionary creation 3.unzipping value 4.uneven value
phone=["samsung","iPhone","redmi","nokia"]
price=["25000","100000","15000"]
name=["brijesh","vipul","talib"]
my_dict=dict(zip(phone,price))
print(my_dict)

{'samsung': '25000', 'iPhone': '100000', 'redmi': '15000'}

In [32]:
phone=["samsung","iPhone","redmi","nokia"]
price=["25000","100000","15000"]
name=["brijesh","vipul","talib"]
combine=list(zip(phone,price,name))

In [33]:
print(combine)

[('samsung', '25000', 'brijesh'), ('iPhone', '100000', 'vipul'), ('redmi', '15000', 'talib')]

In [34]:
zipped=[('samsung', '25000', 'brijesh'), ('iPhone', '100000', 'vipul'), ('redmi', '15000', 'talib')]
phone,price,name=zip(*zipped)
print(phone,price,name)

('samsung', 'iPhone', 'redmi') ('25000', '100000', '15000') ('brijesh', 'vipul', 'talib')

loops

In [35]:
#1. Write a `for` loop that prints all even numbers from 0 to 20
#(inclusive). (Hint: Use `range()` with a step)
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [38]:
#2. Write a `while` loop that asks the user to enter a number. The
#loop should continue until the user enters 'q' to quit. When 'q' is
#entered, print "Exiting program.". (Hint: Use `input()`, `while` loop,
#and `break`)

while True:
    user=input("enter a number to continue and enter q to break")
    if user=="q":
        print("Exiting program")
        break
    else:
        print("enter the next number that you wanted to print ",user)

enter a number to continue and enter q to break 5

enter the next number that you wanted to print  5

enter a number to continue and enter q to break e

enter the next number that you wanted to print  e

enter a number to continue and enter q to break q

Exiting program

In [37]:
while True:
    user = input("Enter a number to continue and enter 'q' to quit: ")
    if user == "q":
        print("Exiting program.")
        break
    else:
        print("You entered:", user)

Enter a number to continue and enter 'q' to quit:  5

You entered: 5

Enter a number to continue and enter 'q' to quit:  4

You entered: 4

Enter a number to continue and enter 'q' to quit:  q

Exiting program.

In [48]:
#3. Iterate through the string `my_word = "programming"`. Count
#how many times the letter 'g' appears in the word using a `for`
#loop.
count=0
my_word="programming"
for i,char in enumerate(my_word):
    if char=="g":
        count+=1
print(f"the letter g appears :{count} times in the word programming")
        
    #else:
      #  print(" there is no such letter g come in programming")

the letter g appears :2 times in the word programming

In [51]:
count=0
my_word="programming"
for char in str(my_word):
    if char=="g":
        count+=1
print(f"letter g comes : {count} times ")

letter g comes : 2 times

In [52]:
#4. Create a list of numbers: `numbers = [1, 5, 8, 12, 15, 20]`. Use a
#`for` loop with `break` to find the first number greater than 10
#and print it, then stop the loop.
numbers=[1, 5, 8, 12, 15, 20]
num=10
for i in numbers:
    if num<i:
        print(f"the first number is :{i}")
        break

the first number is :12

In [58]:
#5. Using a `for` loop, print numbers from 1 to 10. If the number is 5,
#use `continue` to skip printing it.
for i in range(1,11):
    if i==5:
        continue
    else:
        print("the numbers are:",i)

the numbers are: 1
the numbers are: 2
the numbers are: 3
the numbers are: 4
the numbers are: 6
the numbers are: 7
the numbers are: 8
the numbers are: 9
the numbers are: 10

In [66]:
#6. Write a nested loop to print the following pattern:
#
#*
#**
#***
#****
#*****

#(Hint: Use a `for` loop for rows and another `for` loop for
#columns, or string multiplication
for i in range(1,7):
    for j in range(1,i+1):
        print("*" ,end="")
    print()

*
**
***
****
*****
******

In [11]:
for i in range(1,4):
    for j in range(6,1,-1):
        print("*",end="")
    print()

*****
*****
*****

In [13]:
for i in range(1,5):
    for j in range(1,5):
        print("*",end="")
    print()

****
****
****
****

In [12]:
for i in range(4,1,-1):
    for j in range(6,1,-1):
        print("*",end="")
    print()

*****
*****
*****

In [13]:
for i in range(4,1,-1):
    for j in range(1,6):
        print("*",end="")
    print()

*****
*****
*****

In [14]:
for i in range(1,5):
    for j in range(5,1,-2):
        print("*",end="")
    print()

**
**
**
**

In [17]:
for i in range(6,0,-1):
    print("*"*i)

******
*****
****
***
**
*

*****
 ****
  ***
   **
     *

In [20]:
for i in range(1,2):
    for j in range(6,0,-1):
        print("*"*j)

******
*****
****
***
**
*

In [36]:
for i in range(5,0,-1):
    print(" "*(5-i) + "*"*i)

*****
 ****
  ***
   **
    *

In [35]:
for i in range(5,0,-1):
    for space in range(5-i):
        print(" " ,end="")
    for star in range(i):
            print("*",end="")
    print()

*****
 ****
  ***
   **
    *

In [39]:
while True:
    num=input("enter any number: (if you want to quit then enter 'stop')")
    if num=="stop":
        print("loop ended")
        break
    print("you have entered:",num)

enter any number: (if you want to quit then enter 'stop') 10

you have entered: 10

enter any number: (if you want to quit then enter 'stop') aha

you have entered: aha

enter any number: (if you want to quit then enter 'stop') stop

loop ended

In [40]:
#Create a loop that asks the user to enter their name. Stop the loop when the user types "exit". Print a thank you message at the end.
while True:
    user_name=input("enter your name:(or type 'exit' to stop the loop)")
    if user_name=="exit":
        print("exit from the loop")
        break
    print("you have entered the name is:",user_name)
print("thank you")

enter your name:(or type 'exit' to stop the loop) talib

you have entered the name is: talib

enter your name:(or type 'exit' to stop the loop) exit

exit from the loop
thank you

In [41]:
#Write a program that keeps asking for a password until the correct password "python123" is entered. Once correct, print "Access granted" and stop the loop.
while True:
    password=input("enter the input:")
    if password=="python123":
        print("Access granted")
        break
    print(f"{password} :Entered password is wrong! please enter again")

enter the input: tskjdh

tskjdh :Entered password is wrong! please enter again

enter the input: python123

Access granted

In [52]:
#Make a loop that continues to ask for numbers and adds them to a total. Stop when the user enters "done". Finally, print the total sum.total_sum=0
total_sum=0
while True:
    num=input()
    if num=="done":
        print(f"the total_sum is :{total_sum}")
        break
    else:
        if num.isdigit():
            total_sum+=int(num)
        else:
            print("enter valid number")
      #  print("enter again")

 10
 20
 30
 done

the total_sum is :60

In [54]:
#Ask the user to enter words and store them in a list. Stop when the user types "stop". After that, print the list of words.
list_a=[]
while True:
    user=input("enter the words")
    if user=="stop":
        print(f'the list_a is:{list_a}')
        break
    else:
        if user.isdigit():
            print("enter word not number")
        else:
            list_a.append(user)
            print(f"list_a is:{list_a}")

enter the words talib

list_a is:['talib']

enter the words stop

the list_a is:['talib']

In [71]:
#Keep prompting the user to enter a positive number. If they enter a negative number, print "Invalid input" and continue. If they enter "quit", end the loop.
while True:
    user_num=input()
    if not user_num.isdigit():
        if user_num=="quit":
            print("end the loop")
            break
        else:
            print("invalid string")
    else:
        if int(user_num) >0:
            print("yeah! positive number ,please enter some other positive number")
        else:
            print("please enter a positive number")

 0

please enter a positive number

 ddfjdfj

invalid string

 quit

end the loop

In [70]:
while True:
    user_num = input("Enter a positive number (or 'quit' to stop): ")

    if not user_num.isdigit():
        if user_num == "quit":
            print("End the loop.")
            break
        else:
            print("Invalid input! Please enter a positive number.")
    else:
        if int(user_num) > 0:
            print("Yeah! Positive number, please enter some other positive number.")
        else:
            print("Invalid input! Zero is not a positive number.")

Enter a positive number (or 'quit' to stop):  0

Invalid input! Zero is not a positive number.

Enter a positive number (or 'quit' to stop):  quit

End the loop.

In [63]:
#Keep prompting the user to enter a positive number. If they enter a negative number, print "Invalid input" and continue. If they enter "quit", end the loop.
while True:
    user_num=input()
    if not user_num.isdigit():
          if user_num=="quit":
              print("end the loop")
              break
         # else:
            #  print("not valid word")
    elif int(user_num) >0:
         print("yeah! positive number ,please enter some other positive number")
    else:
        if int(user_num)<0:
            print("Invalid input")
       # if int(user_num) >0:

 -19
 20

yeah! positive number ,please enter some other positive number

 quit

end the loop

In [74]:
#Write a program that repeatedly asks for a number and checks whether it is even or odd. Stop the loop if the user enters "end".
flag=False
while True:
    user_input=input("enter the number or(type 'end' to stop the loop):")
    if not user_input.isdigit():
        if user_input=="end":
            print("stop the loop")
            break
        else:
            print("Invalid string")
    else:
        if int(user_input) % 2==0:
            print("its an even number :",user_input)
        else:
            print("odd number:",user_input)

enter the number or(type 'end' to stop the loop): hdhsj

Invalid string

enter the number or(type 'end' to stop the loop): 13

odd number: 13

enter the number or(type 'end' to stop the loop): 66666

its an even number : 66666

enter the number or(type 'end' to stop the loop): end

stop the loop

In [1]:
#Create a simple chatbot that keeps replying with "Hello!" every time the user types something. If the user says "bye", the bot says "Goodbye!" and exits.
while True:
    input_user=input()
    if input_user=="bye":
        print("Goodbye!")
        break
    else:
        print(f"hello {input_user} !")

 hello

hello hello !

 talib

hello talib !

 adity

hello adity !

 bye

Goodbye!

In [11]:
#Keep asking the user to guess a secret number (e.g., 7). Stop when they guess it right. If wrong, tell them to try again.
import random
secret=random.randint(1,10)
while True:
    guess=input()
    if guess.isdigit():
        guess=int(guess)
        if guess==secret:
            print("i guessed it",guess)
            break
        else:
            print("try again please!")
    else:
        print("please enter a number")

 1

try again please!

 2

i guessed it 2

In [14]:
import random
secret=random.randint(50,100)
while True:
    guess=input()
    if guess.isdigit():
        guess=int(guess)
        if guess>=50 and guess<60:
            if guess==secret:
                print("found it!")
                break
            else:
                print("try again please! is in above 50")
        elif guess>=60  and guess<70:
             if guess==secret:
                print("found it!")
                break
             else:
                 print("try again please!is in above 60")
        elif guess>=70 and guess<80:
             if guess==secret:
                print("found it!")
                break
             else:
                 print("try again please! is in above 70")
        elif guess>=80 and guess<90:
             if guess==secret:
                print("found it!")
                break
             else:
                 print("try again please! is in above 80")
                 
        elif guess>=90 and guess<100:
             if guess==secret:
                print("found it!")
                break
             else:
                 print("try again please! is in above 90")
        else:
            print("try again please!")
    else:
        print("please! enter a number")

 80

try again please! is in above 80

KeyboardInterrupt: Interrupted by user

In [22]:
import random

secret = random.randint(50, 100)

while True:
    guess = input("Enter a number between 50 and 100: ")

    if guess.isdigit():
        guess = int(guess)

        if guess == secret:
            print(" Found it!")
            break
        elif 50 <= guess < 60:
            print("It's above 50")
        elif 60 <= guess < 70:
            print("It's above 60")
        elif 70 <= guess < 80:
            print("It's above 70")
        elif 80 <= guess < 90:
            print("It's above 80")
        elif 90 <= guess <= 100:
            if guess < secret:
                print("Too low! Think of a higher number.")
            else:
                print("Too high! Think of a smaller number.")
        else:
            print("Try again please!")
    else:
        print(" Please enter a valid number.")

Enter a number between 50 and 100:  50

It's above 50

Enter a number between 50 and 100:  80

It's above 80

Enter a number between 50 and 100:  90

Too high! Think of a smaller number.

Enter a number between 50 and 100:  85

It's above 80

Enter a number between 50 and 100:  86

It's above 80

Enter a number between 50 and 100:  87

It's above 80

Enter a number between 50 and 100:  88

It's above 80

Enter a number between 50 and 100:  89

It's above 80

Enter a number between 50 and 100:  70

 Found it!

In [27]:
#Make a menu loop that asks the user to type "1" to view data, "2" to add data, or "exit" to quit. Show a different message for each choice.
list_a=[]
while True:
    print("\n menu")
    print("\n 1-view data")
    print("\n 2-add data")
    choice=input("enter the choice:")
    if choice=="2":
        new_item=input("enter the new_item to add into the list:")
        list_a.append(new_item)
        print(f"Add data :{new_item}")
    elif choice=="1":
        print("menu is:",list_a)
    elif choice=="exit":
        print("quited from the menu ! Goodbye.")
        break
    else:
        print("enter the data")

 menu

 1-view data

 2-add data

enter the choice: 2
enter the new_item to add into the list: samosa

Add data :samosa

 menu

 1-view data

 2-add data

enter the choice: 2
enter the new_item to add into the list: jalebi

Add data :jalebi

 menu

 1-view data

 2-add data

enter the choice: 2
enter the new_item to add into the list: poha

Add data :poha

 menu

 1-view data

 2-add data

enter the choice: 1

menu is: ['samosa', 'jalebi', 'poha']

 menu

 1-view data

 2-add data

enter the choice: ffdfhjf

enter the data

 menu

 1-view data

 2-add data

enter the choice: exit

quited from the menu ! Goodbye.

In [29]:
#Keep asking for student scores (0100). If the score is more than 100 or less than 0, print "Invalid score". Stop when the user types "stop", and then print the average score.
list_a=[]
while True:
    students_score=input("enter the score of the students")
    if students_score.isdigit():
        students_score=int(students_score)
        if 0<=students_score<=100:
            list_a.append(students_score)
            print("students scores are:",list_a)
        else:
            print("Invalid Score")
    elif students_score=="stop":
        print("stop")
        break
    else:
        print("provide numbers")

enter the score of the students 50

students scores are: [50]

enter the score of the students 40

students scores are: [50, 40]

enter the score of the students 50

students scores are: [50, 40, 50]

enter the score of the students 35789

Invalid Score

enter the score of the students 60

students scores are: [50, 40, 50, 60]

enter the score of the students -9

provide numbers

enter the score of the students 70

students scores are: [50, 40, 50, 60, 70]

enter the score of the students stop

stop

for loops

In [12]:
#multiplication table
for i in range(9):
    for j in range(1,11):
        print("\t",i*j,end=" ")
    print()

	 0 	 0 	 0 	 0 	 0 	 0 	 0 	 0 	 0 	 0
	 1 	 2 	 3 	 4 	 5 	 6 	 7 	 8 	 9 	 10
	 2 	 4 	 6 	 8 	 10 	 12 	 14 	 16 	 18 	 20
	 3 	 6 	 9 	 12 	 15 	 18 	 21 	 24 	 27 	 30
	 4 	 8 	 12 	 16 	 20 	 24 	 28 	 32 	 36 	 40
	 5 	 10 	 15 	 20 	 25 	 30 	 35 	 40 	 45 	 50
	 6 	 12 	 18 	 24 	 30 	 36 	 42 	 48 	 54 	 60
	 7 	 14 	 21 	 28 	 35 	 42 	 49 	 56 	 63 	 70
	 8 	 16 	 24 	 32 	 40 	 48 	 56 	 64 	 72 	 80

In [27]:
# factorial of a number
num=input("enter number:")
result=1
num=int(num)
def fact(n):
    if n==0 or n==1:
        return 1
    res=1
    for i in range(1,n+1):
        res*=i
    return res
result=fact(num)
print("factorial is:",result)

enter number: 4

factorial is: 24

In [31]:
#sum of first n natural number
num=int(input("enter the number"))
result=0
def add(n):
    res=0
    for i in range(1,n+1):
        res+=i
    return res
result=add(num)
print("addition is:",result)

enter the number 10

addition is: 55

In [47]:
#print star pattern
for i in range(1,6):
    for j in range(1,6):
        if i==j:
            print("*"*j)
        else:
            print(" ",end="" )
    print()

*

 **

  ***

   ****

    *****

In [57]:
row=4
cols=8
for i in range(1,row+1):
    for j in range(1,cols+1):
        if i==1 or i==row or j==1 or j==cols:
                   print("*",end="")
        else:
            print(" ",end="")
    print()

********
*      *
*      *
********

In [18]:
#prime number in range
num=int(input())
for i in range(2,num+1):
    check_prime=True
    for j in range(2,int(i**0.5)+1):
        if i % j==0:
            check_prime=False
            break
    if check_prime:
        print("prime number is:",i )
   # print("prime number is:",num)

 9

prime number is: 2
prime number is: 3
prime number is: 5
prime number is: 7

In [19]:
#Reverse a String
str_name="fruits"
rev_str_name=str_name[::-1]
print(rev_str_name)

stiurf

In [32]:
str_name="talib"
list_a=[]
for i in str_name:
    list_a.append(i)
    if i=="":
        break
    print(list_a[::-1])

['t']
['a', 't']
['l', 'a', 't']
['i', 'l', 'a', 't']
['b', 'i', 'l', 'a', 't']

In [49]:
#Fibonacci Series
def fibonacci(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)
print(fibonacci(10))

55

In [44]:

def fibonacci(n):
    list_a=[0,1]
    for i in range(2,n+1):
        list_a.append(list_a[i-1]+list_a[i-2])
    return list_a
print(fibonacci(5))

[0, 1, 1, 2, 3, 5]

In [52]:
#Count Vowels in a String
str_name="aaauuueeeiii"
count=0
for j in str_name:
    if j=="a" or j=="e" or j=="i" or j=="o" or j=="u":
        count+=1
    else:
        continue
print(count)

12

In [58]:
#Sum of Digits of a Number
n=input()
sum_of_digit=0
for digit in n:
    sum_of_digit+=int(digit)
print("sum_of_digit is:",sum_of_digit)

 12

sum_of_digit is: 3

In [64]:
#Find the Largest Number in a List
import math
list_a=["20","49","40","39"]
for i in list_a:
    max_num=max(list_a)
print(max_num)

49

In [67]:
#Palindrome Check
input_value=input()
for i in input_value:
    if input_value==input_value[::-1]:
        print("its a palindrome :",input_value)
        break
    else:
        print("its not a palindrome :", input_value)

 321123

its a palindrome : 321123

In [76]:
#Armstrong Number Check
import math
num=input()
n=len(num)
sum_digit=0
for i in num:
    i=int(i)
    sum_digit+=math.pow(i,n)
if int(sum_digit)==int(num):
    print("its an armstrong number :",num)

    
else:
    print("its not an armstrong number :",num)

 407

its an armstrong number : 407

In [83]:
#Print Even or Odd Numbers
num=int(input())
list_a=[]
list_b=[]
for i in range(num):
    if i % 2==0:
        list_a.append(i)
        print("its an even number list:",list_a)
        print()
    else:
        list_b.append(i)
        print("its an odd number list:",list_b)
print()

 10

its an even number list: [0]

its an odd number list: [1]
its an even number list: [0, 2]

its an odd number list: [1, 3]
its an even number list: [0, 2, 4]

its an odd number list: [1, 3, 5]
its an even number list: [0, 2, 4, 6]

its an odd number list: [1, 3, 5, 7]
its an even number list: [0, 2, 4, 6, 8]

its an odd number list: [1, 3, 5, 7, 9]

In [91]:
#Generate a List of Squares
import math
num=int(input())
list_a=[]
for i in range(1,num+1):
    list_a.append(int(math.pow(i,2)))
print(list_a)

 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [94]:
#Count Occurrences of a Character in a String
str_name=input()
char=input()
count=0
for i in str_name:
    if char==i:
        count+=1
print(f"count of  {char} is :{count}")

 eeeee
 e

count of  e is :5

In [95]:
# direct count
str_name=input("enter the string name:")
char=input("enter the char:")
print(f"count of char {char} is : {str_name.count(char)}")

enter the string name: talib
enter the char: t

count of char t is : 1

In [106]:
#Calculate Average of List
list_a=[20,30,20,30]
avg=0
int_n=[int(x) for x in list_a]
for i in int_n:
    avg+=i/2
print(avg)

50.0

In [26]:
#Check if a Number is Perfect
import math
n=int(input())
formula=1
for i in range(2,n):
    is_prime=True
    for j in range(2,int(n**0.5)+1):
        if i%j==0:
            is_prime=False
            break
    if is_prime:
        p=i
        formula=math.pow(2,p-1)*(math.pow(2,p)-1)
        print(formula)

 10

496.0
8128.0

In [27]:
#Check if a Number is Perfect
import math
n=int(input())
formula=1
for i in range(2,n):
    is_prime=True
    for j in range(2,int(i**0.5)+1):
        if i%j==0:
            is_prime=False
            break
    if is_prime:
        p=i
        formula=math.pow(2,p-1)*(math.pow(2,p)-1)
        print(formula)

 10

6.0
28.0
496.0
8128.0

In [35]:
num=int(input())
sum_of_divisor=0
for i in range(1,n):
    num % i==0
    sum_of_divisor+=i
    if num==sum_of_divisor:
        print("this is perfect number",sum_of_divisor)
        break

 28

this is perfect number 28

In [40]:
#Print Elements in Reverse
str_name=input()
list_a=[]
for i in str_name:
    list_a.append(str_name[::-1])
    print(list_a)
    break

 talib

['bilat']

In [44]:
product_name="redmi"
print(product_name[::-1])

imder

In [46]:
str_name=input()
list_a=[]
for i in str_name:
    list_a.append(i)
    print(list_a[::-1])

 talib

['t']
['a', 't']
['l', 'a', 't']
['i', 'l', 'a', 't']
['b', 'i', 'l', 'a', 't']

In [49]:
#Remove Duplicates from a List
list_a=input()
set_a=set(list_a)
print(set_a)

 2222234444555522

{'4', '2', '5', '3'}

In [55]:
list_a=input().split()
list_a=[int(x) for x in list_a]
list_b=list(set(list_a))
print(list_b ,end=",")

 2 2 3 4 4 5 5 5

[2, 3, 4, 5],

In [60]:
#Merge Two Lists
list_a=["talib","vipul","pranav","brijesh"]
list_b=[5,6,7,3,8,9,4]
for i in list_a:
    list_b.append(i)
print(list_b)

[5, 6, 7, 3, 8, 9, 4, 'talib', 'vipul', 'pranav', 'brijesh']

In [61]:
#Merge Two Lists
list_a=["talib","vipul","pranav","brijesh"]
list_b=[5,6,7,3,8,9,4]
merged_list=list_a+list_b
print(merged_list)

['talib', 'vipul', 'pranav', 'brijesh', 5, 6, 7, 3, 8, 9, 4]

for loop

In [7]:
#Print 1 to 10 using a for loop.
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [8]:
int_num=int(input())
for i in range(int_num):
    print(i,end=" ")

 15

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [13]:
int_num=int(input())
while 0<=int_num:
    print(int_num)
    int_num-=1

 4

4
3
2
1
0

In [22]:
#Print even numbers from 2 to 20.
for i in range(2,20):
    if i%2==0:
        print("even numbers are:",i)

even numbers are: 2
even numbers are: 4
even numbers are: 6
even numbers are: 8
even numbers are: 10
even numbers are: 12
even numbers are: 14
even numbers are: 16
even numbers are: 18

In [27]:
int_num=int(input())
for i in range(int_num):
    if i%2==0:
        print(f"enven numbers are:{i}")

 20

enven numbers are:0
enven numbers are:2
enven numbers are:4
enven numbers are:6
enven numbers are:8
enven numbers are:10
enven numbers are:12
enven numbers are:14
enven numbers are:16
enven numbers are:18

In [32]:
int_num=int(input())
while int_num<=40:
    print(int_num)
    int_num+=2

 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

In [42]:
#Calculate the sum of numbers from 1 to N.
int_num=int(input())
sum_n=0
for i in range(1,int_num+1):
    sum_n+=i
print("the sum of n is:",sum_n)

 5

the sum of n is: 15

In [43]:
int_num=int(input())
res=0
while int_num>0:
    res+=int_num
    int_num-=1
print("sum of n is:",res)

 5

sum of n is: 15

In [56]:
#Print the multiplication table of a given number N.
int_n=int(input())
for i in range(1,2):
    res=1
    for j in range(1,11):
        res=int_n*j
        print(f"the multiplication of {int_n}*{j} :{res}")
        print()

 10

the multiplication of 10*1 :10

the multiplication of 10*2 :20

the multiplication of 10*3 :30

the multiplication of 10*4 :40

the multiplication of 10*5 :50

the multiplication of 10*6 :60

the multiplication of 10*7 :70

the multiplication of 10*8 :80

the multiplication of 10*9 :90

the multiplication of 10*10 :100

In [65]:
int_n=int(input())
res=1
while res<=10:
    print(f"the multiplication is {res}*{int_n}:{res*int_n}")
    res+=1

 10

the multiplication is 1*10:10
the multiplication is 2*10:20
the multiplication is 3*10:30
the multiplication is 4*10:40
the multiplication is 5*10:50
the multiplication is 6*10:60
the multiplication is 7*10:70
the multiplication is 8*10:80
the multiplication is 9*10:90
the multiplication is 10*10:100

In [73]:
#Print all numbers divisible by 3 between 1 and 100.

for i in range(1,101):
    if i%3==0:
        print(i,end=" ")

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [75]:
i=1
while i<=101:
    if i%3==0:
        print(i,end=" ")
    i+=1

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [76]:
i = 1
while i <= 101:
    if i % 3 == 0:
        print(i, end=" ")
    i += 1

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

while loop

In [77]:
#Print numbers from 10 down to 1 using a while loop.
i=int(input())
while i>0:
    print(i)
    i-=1

 10

10
9
8
7
6
5
4
3
2
1

In [78]:
for i in range(11,1,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2

In [88]:
## Keep asking the user to enter a number until they enter 0. Then print the sum of all entered numbers.
add=0
while True:
    int_num=input("enter the number:")
    if int_num.isdigit():
        int_num=int(int_num)
        if int_num==0:
            break
        add+=int_num
    else:
        print("please!enter the number")
print("the sum is:",add)

enter the number: 20
enter the number: 0

the sum is: 20

In [90]:
#Find the factorial of a number using a while loop.
n=int(input())
fact=1
i=1
while i<=n:
    fact*=i
    i+=1
print(fact)

 5

120

In [95]:
#Print digits of a number in reverse order (e.g., 123  3 2 1).
n=int(input())
while n>0:
    digit=n%10
    print(digit,end=" ")
    n//=10

 2536

6 3 5 2

In [98]:
#Count the number of digits in a given number.
n=int(input())
count=0
while n>0:
    digit=n%10
    count+=1
    print(count)
    n//10

 10

1
2
3
4
5
6
7
8
9
10

simple chat bot project

In [31]:

import pywhatkit
import time
import random
print("I'm an Ai chatbot")
while True:
    jokes = [
    "Why don't scientists trust atoms? Because they make up everything!",
    "I told my computer I needed a break, and it said 'No problem  Ill go to sleep.'",
    "Why did the Python developer go broke? Because he used up all his cache.",
    "Why did the function stop calling? Because it had too many arguments!",
    "Why did the AI cross the road? Because it was programmed to do so."
]
    choice=input("to clean file type(yes)")
    if choice=="yes":
        open("talib.txt","w") .close()
        print("file cleaned")
    user=input("talib:").lower()
    time.sleep(1)
    print("Ai:i'm thinking now..")
    time.sleep(1)
    response="you are here to chat"
    
    if user=="bye":
        response="Ai:bye! thank you for your time."
        print(f"{response}")
        break
        
    if user=="hii":
        response=" Ai:hi ! what's your name?"
        
    elif user.startswith("play "):
        song = user.replace("play ", "")
        print(f"AI: Playing {song} on YouTube...")
        time.sleep(1)
        pywhatkit.playonyt(song)
        with open("talib.txt", "a") as f:
            f.write(f"talib: {user}\n")
            f.write(f"AI: Playing {song} on YouTube...\n\n")
        continue

    elif user=="talib ansari":
        response="Ai:it's good name,talib what can i do for you?"
        
    elif user=="help":
        response="Ai:what kind of help do you want?"
        
    elif user=="for my project":
        response="Ai:which type of project are you designing can you specify"
        
    elif user=="ai chatbot":
        response="Ai:its a good project . what features do you want to include?"
        
    elif user=="all about ai":
        response="Ai:good to know about it . i can help you"
        
    elif user=="tell me a joke":
        response=random.choice(jokes)
        
    elif user=="this is not funny":
        response="Ai:oh sorry.."
        
    else:
        response="Ai:try again please!"
        
    print(f"Ai:{response}")
    
    with open("talib.txt","a") as f:
        f.write(f"talib:{user}\n")
        f.write(f"{response}\n\n")

I'm an Ai chatbot

to clean file type(yes) n
talib: play kesariya

Ai:i'm thinking now..
AI: Playing kesariya on YouTube...

to clean file type(yes) n
talib: bye

Ai:i'm thinking now..
Ai:bye! thank you for your time.

-practice coaching problem

In [3]:
#factorial                                                                                                                                                            
fact=1
n=10
while n>0:
    fact*=n
    n-=1
print(fact)

3628800

In [6]:
n=int(input())
fact=1
while n>0:
    fact*=n
    n-=1
print(fact)

 4

24

In [8]:
fact=1
n=5
for i in range(1,n+1):
    fact*=i
    print(fact)

1
2
6
24
120

In [9]:
fact=1
n=int(input())
for i in range(1,n+1):
    fact*=i
    print(fact)

 10

1
2
6
24
120
720
5040
40320
362880
3628800

In [10]:
def factorial_for(n):
    fact=1
    for i in range(1,n+1):
        fact*=i
    return fact

In [11]:
factorial_for(10)

3628800

In [16]:
def factorial_while(n):
    fact=1
    i=1
    while i<n+1:
        fact*=i
        i+=1
    return fact

In [17]:
factorial_while(10)

3628800

.string manipulation

In [26]:
#reverse a string
str_name="talib"
rev_str=" "
for char in str_name:
    rev_str=char+rev_str
    print(rev_str)

t
at
lat
ilat
bilat

In [44]:
def str_name(s):
    rev_str=" "
    for i in range(len(s)-1,-1,-1):
        rev_str+=s[i]
    return rev_str

In [45]:
str_name("talib")

' bilat'

In [51]:
str_name=input()
i=len(str_name)-1
rev_str=" "
while i>=0:
    rev_str=rev_str+str_name[i]
    i-=1
print(rev_str)

 talib

 bilat

In [52]:
def str_name(s):
    rev_str=" "
    i=len(s)-1
    while i>=0:
        rev_str+=s[i]
        i-=1
    return rev_str

In [54]:
str_name("1452")

' 2541'

String---
## string originally never change it creates an object to print or to find anything but never change it self because it is an immutable object
     here in if else case space is also count as an element in ""

1.immutable
2.str to int with base 36
3.seq of characters
4.concatenation & slicing
5.ordered
6.iterable
7.indexd

#.String Manipulation--                           new object creation while manipualting it
1.str_name.upper()
2.str_name.lower()
3.str_name.capitalize()---to do capital of first letter in th sentence or a word
4.str_name.title()------------to do capital of first letter of each word
5.str_name.strip()------------to remove white space
6.str_name.replace()----------to replace any word or letter with old to new

#.String Search--
1.str_name.find()------to find the index default value is -1
2.str_name.index()
3.str_name.startswith()
4.str_name.endswith()

#..String Validation----
1.str_name.isdigit()
2.str_name.isalpha()
3.str_name.isalnum()-----to check alphanumeric value
4.str_name.isspace()-----it only check space no other letter or word 

#.Other----
1.str_name.count()
2.str_name.swapcase()
3str_name.zfill()

.String Manipulatio-->

1..isdigit() 2..lower() 3..upper() 4..endswith() 5..startswith() 6..find() 7..split() 8..sprit() 9.isalpha() 10..replace()

In [57]:
# .isdigit() checks that string is in digit form or not if it is in then it gives the boolean value true if not then provide false
str_name="talib"
str_name.isdigit()

False

In [58]:
str_n="36546"
str_n.isdigit()

True

In [85]:
#.lower() is used make any string in lower case and gives value in str type
str_name="Talib"
str_name.lower()
type(str_name.lower())

str

In [62]:
#.upper() is used make any string in upper case we do not give any argument to it
str_name.upper()

'TALIB'

In [63]:
#.endswith() check that is the string really endswith the provided string or not it gives boolean value means true or false
string="python is an very prominent language"
string.endswith("e")

True

In [64]:
#.startswith()check that is the string really startswith the provided string or not it gives boolean value means true or false
string.endswith("language")

True

In [66]:
string.endswith("very")

False

In [67]:
string.startswith("p")

True

In [68]:
string.startswith("python")

True

In [69]:
string.startswith("is")

False

In [70]:
#.find() provides the index of the given string and its value is in integer
string.find("an")

10

In [74]:
string.find(" ")

6

In [76]:
#.split() just split the string into different-different word or letter with a comma and it is a list type 
string.split()

['python', 'is', 'an', 'very', 'prominent', 'language']

In [78]:
#.isalpha() is used check that the given string is alphabetical or not and its provide boolean value
str_name="talibansari"
str_name.isalpha()

True

In [79]:

str_name="talibansari1914"
str_name.isalpha()

False

In [80]:
#.replace() is used to replace a letter or a word or a sentence from the string and returns the value in str type
str_name.replace("talib","abbu")

'abbuansari1914'

In [86]:
type(str_name.replace("talibansari","talib"))

str

.String Manipulation--                           new object creation while manipualting it
1.str_name.upper()
2.str_name.lower()
3.str_name.capitalize()---to do capital of first letter in th sentence or a word
4.str_name.title()------------to do capital of first letter of each word
5.str_name.strip()------------to remove white space
6.str_name.replace()----------to replace any word or letter with old to new

In [90]:
string="he is good at coding"
string.capitalize()

'He is good at coding'

In [91]:
string.title()

'He Is Good At Coding'

In [93]:
str_y="now i'm doing well right "
str_y.title()

"Now I'M Doing Well Right "

In [98]:
str_x="they are your teacher "
str_x.strip()

'they are your teacher'

In [100]:
str_x.capitalize()
str_y.capitalize()

"Now i'm doing well right "

.String Search--
1.str_name.find()------to find the index default value is -1
2.str_name.index()
3.str_name.startswith()
4.str_name.endswith()

In [115]:
st_w="talib is a good person"
st_w.index("b ")

4

In [118]:
st_w.find(" i i")

-1

.String Splitting and joining--
1.str_name.split()
2.str_name.rsplit()------it removes the word which will be mentioned in the parenthesis
3.str_name.join()

In [119]:
str_w="talib have good study skills set"
str_w.split()

['talib', 'have', 'good', 'study', 'skills', 'set']

In [121]:
str_w.rsplit("talib")

['', ' have good study skills set']

In [123]:
str_w.rsplit('good')

['talib have ', ' study skills set']

In [130]:
str_w.join(' a ')

' talib have good study skills setatalib have good study skills set '

In [134]:
str_name="abb"
str_name.join('cdef')

'cabbdabbeabbf'

.String Validation----
1.str_name.isdigit()
2.str_name.isalpha()
3.str_name.isalnum()-----to check alphanumeric value
4.str_name.isspace()-----it only check space no other letter or word

In [135]:
str_name="talib"
str_obj="talib1914"
str_name.isdigit()

False

In [136]:
str_obj.isdigit()

False

In [137]:
str_name.isalpha()

True

In [138]:
str_obj.isalpha()

False

In [139]:
str_name.isalnum()

True

In [140]:
str_obj.isalnum()

True

In [142]:
st_sp="   "
st_nsp="  talib"
st_nsp1="  talib  "
st_nsp2="talib  "
st_sp.isspace()

True

In [143]:
st_nsp.isspace()

False

In [144]:
st_nsp1.isspace()

False

In [145]:
st_nsp2.isspace()

False

In [172]:
str_name="Python is ok"
str_name.count("y")

1

In [157]:
str_name.count("o")

2

In [158]:
str_name.swapcase()

'    pYTHON IS OK'

In [177]:
str_name.zfill(14)

'00Python is ok'

In [180]:
str_name="talib"
str_name.zfill(6)

'0talib'

In [2]:
str_name="talib ansai"
str_obj="abbu"
str_full=str_name+str_obj
print(str_full)

talib ansaiabbu

## .List Data Structure----
1.ordered
2.mutable---we can add or delete element dynamically
3.hetrogeneous--multitype value
4.dynamic
5.iterable
6.indices used to derive the element
7.indices slicing also done([::-1],[::])

function of list--

In [3]:
empty_list=[]
empty_list.append("talib")

In [4]:
print(empty_list)

['talib']

In [5]:
list_a=["abbu","talib","ansari",4,5,6,7]
print(list_a)

['abbu', 'talib', 'ansari', 4, 5, 6, 7]

In [6]:
list_a.remove("abbu")

In [7]:
print(list_a)

['talib', 'ansari', 4, 5, 6, 7]

In [15]:
print(list_a.remove(list_a[1]))

None

In [19]:
print(list_a[0])

talib

In [22]:
#2-d list
list_num=[[1,2,3],
          [4,5,6],
          [7,8,9]
         ]
print(list_num)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:
print(list_num.remove(list_num[0]))

None

In [26]:
print(list_num)

[[4, 5, 6], [7, 8, 9]]

In [27]:
list_num.append(list_num[0][1])

In [28]:
print(list_num)

[[4, 5, 6], [7, 8, 9], 5]

In [29]:
print(list_num.append(list_num[1][0]))

None

In [30]:
print(list_num)

[[4, 5, 6], [7, 8, 9], 5, 7]

# .List Data Structure----
        in if else case space is not count as an element

1.ordered
2.mutable---we can add or delete element dynamically
3.hetrogeneous--multitype value
4.dynamic
5.iterable
6.indices used to derive the element
7.indices slicing also done([::-1],[::])

**methods of list--
## object creation --.count() , sorted() ,index()---these methods doesn't change the original list but the rest of the methods change the original list when we try to do something
# --->1.list concatenation is allowed
# ---->2.no other arithmatic operation can be performed(-,*,/,%)

1.list_name.append()---elements can be added in empty list,list,nested list<br>
2.list_name.extend()---it iterates on the given exactly one argument and then add it into the list<br>
3.list_name.insert(,)--it takes exactly 2 arguments one is index second one is what to insert in the list<br>
4.list_name.index()----it takes one element as argument from the list and then return its index & does not provide the index of nested list element<br>
5.list_name.remove()---give value or item from the list to remove it<br>
6.list_name.pop()------give index of that value to remove it<br>
7.list_name.sort()----it takes no arg & work for  integer & character both and for single list<br>
8.list_name.reverse()-just reverse the list element not the character<br>
9.list_name.count()---it takes one arg to count that number in the 1-D list not the nested list<br>

In [32]:
list_a=[]
list_a.append("talib","123")
print(list_a)

TypeError: list.append() takes exactly one argument (2 given)

In [33]:
list_a=[]
list_a.append("talib")
print(list_a)

['talib']

In [34]:

list_a.append("ansari")
print(list_a)

['talib', 'ansari']

In [35]:
list_b=["talib","ansari","123"]
list_b.append("abbu")
print(list_b)

['talib', 'ansari', '123', 'abbu']

In [40]:
list_c=[
    ["banana","apple","grapes","cherry"],
    [1,2,3,4,5],
    ["@","$","%"]
]
print(list_c)

[['banana', 'apple', 'grapes', 'cherry'], [1, 2, 3, 4, 5], ['@', '$', '%']]

In [41]:
print(list_c.append(list_c[0][0]))

None

In [42]:
print(list_c)

[['banana', 'apple', 'grapes', 'cherry'], [1, 2, 3, 4, 5], ['@', '$', '%'], 'banana']

In [45]:
list_a=[]
list_a.extend("talib")
print(list_a)

['t', 'a', 'l', 'i', 'b']

In [48]:
list_c=[
    ["banana","apple","grapes","cherry"],
    [1,2,3,4,5],
    ["@","$","%"]
]
print(list_c.extend("talib"))

None

In [49]:
print(list_c)

[['banana', 'apple', 'grapes', 'cherry'], [1, 2, 3, 4, 5], ['@', '$', '%'], 't', 'a', 'l', 'i', 'b']

In [50]:
list_b=["talib","ansari","123"]
list_c=[
    ["banana","apple","grapes","cherry"],
    [1,2,3,4,5],
    ["@","$","%"]
]
print(list_c.extend(list_b))

None

In [51]:
print(list_c)

[['banana', 'apple', 'grapes', 'cherry'], [1, 2, 3, 4, 5], ['@', '$', '%'], 'talib', 'ansari', '123']

In [52]:
list_c=[
    ["banana","apple","grapes","cherry"],
    [1,2,3,4,5],
    ["@","$","%"]
]
print(list_c.insert(0,1))

None

In [53]:
print(list_c)

[1, ['banana', 'apple', 'grapes', 'cherry'], [1, 2, 3, 4, 5], ['@', '$', '%']]

In [54]:
list_a=[]
list_a.insert(1,"talib")
print(list_a)

['talib']

In [57]:
print(list_a.index("talib"))

0

In [62]:
list_c=[
    ["banana","apple","grapes","cherry"],
    [1,2,3,4,5],
    ["@","$","%"]
]
print(list_c.remove("banana"))

ValueError: list.remove(x): x not in list

In [63]:
print(list_c)

[['banana', 'apple', 'grapes', 'cherry'], [1, 2, 3, 4, 5], ['@', '$', '%']]

In [64]:
list_b=["talib","ansari","123"]
print(list_b.remove("talib"))

None

In [65]:
print(list_b)

['ansari', '123']

In [66]:
list_c=[
    ["banana","apple","grapes","cherry"],
    [1,2,3,4,5],
    ["@","$","%"]
]
print(list_c.pop(1))

[1, 2, 3, 4, 5]

In [67]:
print(list_c)

[['banana', 'apple', 'grapes', 'cherry'], ['@', '$', '%']]

In [72]:
list_c=[
    ["banana","apple","grapes","cherry"],
    [1,2,3,4,5],
    ["@","$","%"]
]
print(list_c.index(0,1))

ValueError: 0 is not in list

In [75]:
list_b=["talib","ansari","123"]
print(list_b.index("123"))

2

In [77]:
list_c=[
    ["banana","apple","grapes","cherry"],
    [1,2,3,4,5],
    ["@","$","%"]
]
print(list_c.sort())

TypeError: '<' not supported between instances of 'int' and 'str'

In [78]:
list_d=[7,3,9,2,3,0,-1]
print(list_d.sort())

None

In [79]:
print(list_d)

[-1, 0, 2, 3, 3, 7, 9]

In [82]:
list_e=[
    [5,4,1],
    [9,2,1],
    [8,3,2,5]
]
list_e.sort()
print(list_e)

[[5, 4, 1], [8, 3, 2, 5], [9, 2, 1]]

In [83]:
list_f=["b","e","a","c"]
list_f.sort()
print(list_f)

['a', 'b', 'c', 'e']

In [87]:
list_g=["abby","abbc","1234"]
list_g.sort()
print(list_g)

['1234', 'abbc', 'abby']

In [88]:
list_g=["abby","abbc","1234"]
list_g.reverse()
print(list_g)

['1234', 'abbc', 'abby']

In [96]:
list_h=["talib","ansari"]
print(list_h)

['talib', 'ansari']

In [98]:
list_i=[2,3,4,5,5,6,7,2,2,3,3,3,3,3,3]
print(list_i.count(2))

3

In [14]:
list_j=[
    [2,2,3,3,3],
    [4,4,5,5,6,7],
    [3,2,32,3,3],
]
print(list_j.count(3))

0

.String-revision---
1.Manipulation--.upper(),.lower(),.capitalize(),.title(),.replace()
2.search-------.find(),.index(),.startswith(),.endswith(),.strip()
3.validation---.isdigit(),.isalpha(),.isalnum(),.isspace()
4.split&join---.split(),.rsplit(),.join()
5.other--------.count(),.zfill(),.swapcase()

In [6]:
name="talib ansari"
z=name.upper()
print(z)

TALIB ANSARI

In [4]:
id(name)

2099561443248

In [5]:
id(name.upper())

2099561520240

In [7]:
print(name)

talib ansari

In [9]:
z=name.capitalize()
print(z)
print(name)

Talib ansari
talib ansari

In [12]:
x=name.title()
print(x)
print(name)
id(x)

Talib Ansari
talib ansari

2099561531440

In [13]:
id(name)

2099561522864

In [21]:
y=name.replace("talib","abbu")
print(name)

talib ansari

In [22]:
print(y)

abbu ansari

In [23]:
name="  TALIb ANsari "
a=name.lower()
print(a)

talib ansari

In [24]:
print(name)

TALIb ANsari

In [26]:
z=name.find("a")

In [27]:
print(z)

9

In [28]:
id(z)

140718084633768

In [29]:
id(name)

2099576083952

In [30]:
name.find("k")

-1

In [39]:
name.index("AN")

6

In [40]:
name.startswith("t")

False

In [42]:
z=name.startswith("T")

In [43]:
print(z)

True

In [44]:
id(z)

140718083721696

In [45]:
id(name)

2099576083952

In [46]:
name.endswith("i")

True

In [49]:
z=name.strip()

In [50]:
print(z)

TALIb ANsari

In [51]:
id(z)

2099576083952

In [52]:
id(name)

2099576083952

In [53]:
id(z) is id(name)

False

In [54]:
id(name) is id(z)

False

In [59]:
type(name.strip())

str

In [56]:
id(name.strip()) is id(z)

False

In [65]:
name="talib ansari"
name.isdigit()

False

In [66]:
id(name.isdigit())

140718083721728

In [67]:
id(name)

2099576207984

In [69]:
name.isalpha()

False

In [70]:
name.isalnum()

False

In [71]:
name.isspace()

False

In [84]:
str="pythonisacodinglanguage"
str.isdigit()

False

In [85]:
str.isalpha()

True

In [86]:
str.isalnum()

True

In [87]:
str.isspace()

False

In [88]:
str="hey ! how are you"
str_name=[word.isalpha() for word in str.split()]

In [89]:
print(str_name)

[True, False, True, True, True]

In [90]:
word=[word.isspace() for word in str.split()]

In [91]:
print(word)

[False, False, False, False, False]

In [92]:
str="hey! i have 20 rs"
word=[word.isdigit() for word in str.split()]

In [93]:
print(word)

[False, False, False, True, False]

In [94]:
str.split()

['hey!', 'i', 'have', '20', 'rs']

In [95]:
id(str)

2099576211504

In [96]:
id(str.split())

2099576211072

In [97]:
type(str.split())

list

In [98]:
str.rsplit("hey")

['', '! i have 20 rs']

In [99]:
str.join("hey")

'hhey! i have 20 rsehey! i have 20 rsy'

In [100]:
str.count("e")

2

In [104]:
type(str.count(a))

int

In [105]:
str.zfill(19)

'00hey! i have 20 rs'

In [108]:
type(str.zfill(1))

str

In [109]:
str.swapcase()

'HEY! I HAVE 20 RS'

.list-Revision--
1..append()
2..insert()
3..remove()
4..pop()
5..sort()
6..count()
7..reverse()
8..index()
9..extend()

In [115]:
# empty list-- here no object will be created
num=[]
id(num)
num.append("talib")
print(num)

2099561602112

In [113]:
id(num)

2099575603136

In [117]:
num.insert(0,"abbu")

None

In [118]:
print(num)

['abbu', 'abbu']

In [122]:
num.insert(0,"ansari")
print(num)

['ansari', 'abbu', 'abbu']

In [123]:
name=[]
name.append("vipul")
print(name)

['vipul']

In [125]:
name.insert(0,"brijesh")
print(name)

['brijesh', 'vipul', 'brijesh']

In [126]:
name=["vipul"]
name.insert(0,"brijesh")
print(name)

['brijesh', 'vipul']

In [127]:
name.insert(0,"raj")
print(name)

['raj', 'brijesh', 'vipul']

In [128]:
name.remove("raj")
print(name)

['brijesh', 'vipul']

In [129]:
name.pop()
print(name)

['brijesh']

In [130]:
print(name)

['brijesh']

In [131]:
print(name.pop(0))

brijesh

In [149]:
name1=["vipul","123","has"]
name1.sort()
print(name1)

['123', 'has', 'vipul']

In [136]:
name2=["z","d","A","e","a","b","B"]
name2.sort()
print(name2)

['A', 'B', 'a', 'b', 'd', 'e', 'z']

In [138]:
id(name2.sort())

140718083803264

In [139]:
id(name2)

2099576874240

In [144]:
name3=[1,7,2,8,9]
z=sorted(name3)
print(z)

[1, 2, 7, 8, 9]

In [145]:
print(name3)

[1, 7, 2, 8, 9]

In [146]:
name3.count(2)

1

In [150]:
z=name3.count(2)
print(z)

1

In [153]:
name3.reverse()
print(name3)

[9, 8, 2, 7, 1]

In [157]:
z=name3.index(7)
print(z)

3

In [160]:
name3.extend("talib")

None

In [159]:
print(name3)

[9, 8, 2, 7, 1, 't', 'a', 'l', 'i', 'b']

In [165]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name.append("1")
print(name)

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd'], ['@', '$', '%'], '1']

print(name[0].append("9"))

In [168]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name[0].append("a")
print(name)

[[1, 2, 3, 4, 5, 'a'], ['a', 'b', 'c', 'd'], ['@', '$', '%']]

In [171]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name.insert(3,9)
print(name)

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd'], ['@', '$', '%'], 9]

In [190]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name[2].append("[2,3,8,8]")
print(name)

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd'], ['@', '$', '%', '[2,3,8,8]']]

In [192]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name.append("[2,3,8,8]")
print(name)

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd'], ['@', '$', '%'], '[2,3,8,8]']

In [173]:

name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name.remove("1")
print(name)

ValueError: list.remove(x): x not in list

In [177]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name[1].remove("a")
print(name)

[[1, 2, 3, 4, 5], ['b', 'c', 'd'], ['@', '$', '%']]

In [180]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name[0].remove(5)
print(name)

[[1, 2, 3, 4], ['a', 'b', 'c', 'd'], ['@', '$', '%']]

In [187]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name.pop(1)
print(name)

[[1, 2, 3, 4, 5], ['@', '$', '%']]

In [189]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name[1].pop(1)
print(name)

[[1, 2, 3, 4, 5], ['a', 'c', 'd'], ['@', '$', '%']]

In [199]:
name=[
    [1,9,4,6,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name[0].sort()
print(name)

[[1, 4, 5, 6, 9], ['a', 'b', 'c', 'd'], ['@', '$', '%']]

In [203]:
name=[
    [1,2,7,9,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
z=sorted(name[0])
print(z)

[1, 2, 5, 7, 9]

In [205]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
z=name[1].count(1)
print(z)

0

In [207]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
z=name[1].count("a")
print(z)

1

In [214]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
z=name[0].index(2)
print(z)

1

In [218]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name[0].extend("pyhton")
print(name)

[[1, 2, 3, 4, 5, 'p', 'y', 'h', 't', 'o', 'n'], ['a', 'b', 'c', 'd'], ['@', '$', '%']]

In [217]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
z=name[2].extend("java")
print(z)

None

In [219]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name[0].extend("[talib,ansari]")
print(name)

[[1, 2, 3, 4, 5, '[', 't', 'a', 'l', 'i', 'b', ',', 'a', 'n', 's', 'a', 'r', 'i', ']'], ['a', 'b', 'c', 'd'], ['@', '$', '%']]

In [221]:
name=[
    [1,2,3,4,5],
    ["a","b","c","d"],
    ["@","$","%"],
]
name[0].reverse()
print(name)

[[5, 4, 3, 2, 1], ['a', 'b', 'c', 'd'], ['@', '$', '%']]

In [225]:
str="have you been looked for enything"
word=[word.isspace() for word in str]
print(word)

[False, False, False, False, True, False, False, False, True, False, False, False, False, True, False, False, False, False, False, False, True, False, False, False, True, False, False, False, False, False, False, False, False]

In [228]:
str="i have 2 and 10 rupee note"
word=[word.isdigit() for word in str.split()]
print(word)

[False, False, True, False, True, False, False]

list comprehension--

In [229]:
list=[x for x in range(0,10)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [231]:
list=[x+x for x in range(0,20)]

In [232]:
print(list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [233]:
list=[2*x for x in range(0,10)]
print(list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [235]:
list=[x**x for x in range(2,10)]
print(list)

[4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]

In [236]:
square=[ x**2 for x in range(2,10)]
print(square)

[4, 9, 16, 25, 36, 49, 64, 81]

In [237]:
cube=[x**3 for x in range(2,10)]
print(cube)

[8, 27, 64, 125, 216, 343, 512, 729]

In [238]:
list=[x for x in range(0,20) if x%2==0]
print(list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [239]:
list=[i for i in range(0,30) if i%2 !=0]
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

list slicing--

In [240]:
num=["a","b","c","d","e"]
num[0]

'a'

In [242]:
num[4]

'e'

In [244]:
a=num[4]
print(a)

e

In [245]:
num[::-1]

['e', 'd', 'c', 'b', 'a']

In [246]:
num[::]

['a', 'b', 'c', 'd', 'e']

In [254]:
# backward slicing
num[-5::1]

['a', 'b', 'c', 'd', 'e']

In [255]:
num[-5:2:]

['a', 'b']

In [256]:
num[1::]

['b', 'c', 'd', 'e']

In [257]:
num[-1::]

['e']

In [265]:
num[-1:-6:-1]

['e', 'd', 'c', 'b', 'a']

In [3]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
firstrow = matrix[0]
firstrow

#print(matrix[0][0])
#print(matrix[1][1])
#print(matrix[1][2])

[1, 2, 3]

In [4]:
list_seq = [x for x in range(10)]
print(list_seq)

list_seq_doble = [x+x for x in range(10)]
print(list_seq_doble)

list_seq_square = [x*x for x in range(10)]
print(list_seq_square)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
num=[x for x in range(10)]
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
num[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [12]:
num[-1:-10:-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
num[-1:-10:]

[]

In [15]:
num[-1:-10:-2]

[9, 7, 5, 3, 1]

In [ ]:

import pywhatkit
import time
import random
print("I'm an Ai chatbot")
while True:
    jokes = [
    "Why don't scientists trust atoms? Because they make up everything!",
    "I told my computer I needed a break, and it said 'No problem  Ill go to sleep.'",
    "Why did the Python developer go broke? Because he used up all his cache.",
    "Why did the function stop calling? Because it had too many arguments!",
    "Why did the AI cross the road? Because it was programmed to do so."
]
    choice=input("to clean file type(yes)")
    if choice=="yes":
        open("talib.txt","w") .close()
        print("file cleaned")
    user=input("talib:").lower()
    time.sleep(1)
    print("Ai:i'm thinking now..")
    time.sleep(1)
    response="you are here to chat"
    
    if user=="bye":
        response="Ai:bye! thank you for your time."
        print(f"{response}")
        break
        
    if user=="hii":
        response=" Ai:hi ! what's your name?"
        
    elif user.startswith("play "):
        song = user.replace("play ", "")
        print(f"AI: Playing {song} on YouTube...")
        time.sleep(1)
        pywhatkit.playonyt(song)
        with open("talib.txt", "a") as f:
            f.write(f"talib: {user}\n")
            f.write(f"AI: Playing {song} on YouTube...\n\n")
        continue

    elif user=="talib ansari":
        response="Ai:it's good name,talib what can i do for you?"
        
    elif user=="help":
        response="Ai:what kind of help do you want?"
        
    elif user=="for my project":
        response="Ai:which type of project are you designing can you specify"
        
    elif user=="ai chatbot":
        response="Ai:its a good project . what features do you want to include?"
        
    elif user=="all about ai":
        response="Ai:good to know about it . i can help you"
        
    elif user=="tell me a joke":
        response=random.choice(jokes)
        
    elif user=="this is not funny":
        response="Ai:oh sorry.."
        
    else:
        response="Ai:try again please!"
        
    print(f"Ai:{response}")
    
    with open("talib.txt","a") as f:
        f.write(f"talib:{user}\n")
        f.write(f"{response}\n\n")

1. Quiz Game (MCQ Style)
User se sawal poochho, 4 options do

Answer check karo aur score calculate karo

Loop se multiple questions poochho

In [7]:
print("Welcome! to the quiz comtetion..")
while True:
    user=input().lower()
    respones=" "
    if user=="exit":
        respones="End..."
        break
    elif user=="enter information":
        print("please enter your name & password")
        card=input("enter card no.")
        name=input("enter name here:")
        if card=="password123" and name=="talib":
            print(" Login accessed!")
        else:
            print("enter correct name & password")
    elif user=="start quiz":
        print("The first question is:\n")
        print("Q! :What is capital of India ?")
        print("Your 4 options are: 1.Delhi 2.Mumbai 3.Hyderabad 4.Bhopal")
        answer=input("enter your answer")
        if answer=="1":
            print("correct!")
        elif answer in ["2","3","4"]:
            print("oops!not correct")
        else:
            print("try again! better luck next time")
    else:
        print("try again!")
print(f"respones:{respones}\n")

Welcome! to the quiz comtetion..

 2

try again!

 start quiz

The first question is:

Q! :What is capital of India ?
Your 4 options are: 1.Delhi 2.Mumbai 3.Hyderabad 4.Bhopal

enter your answer 2

oops!not correct

 3

try again!

 4

try again!

 exit

respones:End...

strings

In [16]:
str="123"
str1="talib"
print(str+str1)

123talib

In [17]:
str1="talib"
str2="ansari"
print(str1-str2)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [18]:
name="123"
name1="talib"
print(name*name1)

TypeError: can't multiply sequence by non-int of type 'str'

In [19]:
name="123"
name1="talib"
print(name/name1)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [22]:
name=12
name1=456
print(name%name1)

12

In [23]:
name=[0,1,2,3,4]
name2=[3,2,4,5]
name+name2

[0, 1, 2, 3, 4, 3, 2, 4, 5]

In [24]:
name-name2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [25]:
name*name2

TypeError: can't multiply sequence by non-int of type 'list'

In [26]:
name/name2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [27]:
name%name2

TypeError: unsupported operand type(s) for %: 'list' and 'list'

In [28]:
str="talib"
print(str[1])

a

## Set 
1.unorederd
2.mutable
3.index are not used
4.dynamic change in variable
5.not iterable
# Set functions:-
1.set_name.add()     --> it takes one arg and this to the set
2.set_name.remove()  -->it takes the element name to remove it
3.set_name.pop()     -->it removes the element and return to variable in which it has stored
4.set_name.discard() -->it also removes the element which is given to it if the element does not found in the set then id does not generate "error"
5.set_name.clear()   -->it used to remove all the element from the set or to empty the set
6.set_name.copy()    -->it used to maintain the local copy of a set which is stored in the other variable
7.len(set_name)      -->it used to find the length of the set or how many elements a set have
## Set Operations
1.union-->set_a.union(set_b)--->it joins the two sets
2.intersection--> set_a.intersection(set_b)  --->it finds common in both sets
3.difference-->   set_a.difference(set_b)    --->it removes the common part from the set_a and then print it
4.symmetric--->   set_a^set_b                --->it removes the common part form both the sets and then add the sets
5.subset-->       set_a.issubset(set_b)      --->if set_a have only some elements of set_b and no other extra elements then it is print 'True' else 'false'
6.disjoint-->     set_a.isdisjoint(set_b)    ---> no elements will be equal from both sets or both set shuold contain the different-different element

## Note:-1.in if else case space is not count as an element
##       2.set does not do anything but give error in arithmatic operation(+,-,*,/,%)

In [29]:
# set creation
set_a={}
print(set_a)

{}

In [30]:
set_a

{}

In [32]:
num=set()
num

set()

In [35]:
#set value addition---tuple,list
set_a=set(x for x in range(10))
set_a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
set_a=set(list([x for x in range(10)]))
set_a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [41]:
# direct value addititon
set_b={"talib","123","name"}
set_b

{'123', 'name', 'talib'}

In [42]:
list_a=[x for x in range(10)]
list_a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
set_a=set(list_a)

In [44]:
set_a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [46]:
tuple_a=(1,2,3,3,4,4,"talib")
tuple_a

(1, 2, 3, 'talib')

In [47]:
set_b=set(tuple_a)
set_b

{1, 2, 3, 'talib'}

In [79]:
#set empty operation
set_a={}
if set_a:
    print("set_a is full")
else:
    print("set_a is empty")

set_a is empty

In [67]:
set_a={}
if not set_a:
    print("set_a is empty")
else:
    print("set_a have elements")

set_a is empty

In [77]:
list_a=[]
if list_a:
    print("list_a have elements")
else:
    print("list_a don't have element")

list_a don't have element

In [68]:
list_a=[]
if not list_a:
    print("list_a is empty")
else:
    print("list_a have elements")

list_a is empty

In [80]:
tuple_a=()
if tuple_a:
    print("tuple_a does have elements")
else:
    print("tuple_a does not have any element")

tuple_a does not have any element

In [69]:
tuple_a=()
if not tuple_a:
    print("tuple_a is empty")
else:
    print("tuple_a have elements")

tuple_a is empty

In [53]:
list_a=[x for x in range(10)]
if list_a:
    print("list_a elements are:",list_a)
else:
    print("list_a is empty")

list_a elements are: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
set_a={x for x in range(10)}
set_a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
set_a={x for x in range(10)}
if set_a:
    print("set_a elements are:",set_a)
else:
    print("set_a does not have any elements")

set_a elements are: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [59]:
tuple_a=tuple(list([x for x in range(10)]))

In [60]:
tuple_a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [65]:
tuple_b=tuple(set([x for x in range(10,1,-1)]))
if tuple_b:
    print("tuple_b have elements:",tuple_b)
else:
    print("do not have elements")

tuple_b have elements: (2, 3, 4, 5, 6, 7, 8, 9, 10)

In [66]:
tuple_b

(2, 3, 4, 5, 6, 7, 8, 9, 10)

In [71]:
str_name="python is a coding lanugange"
for i in str_name:
    print(i,end=" ")

p y t h o n   i s   a   c o d i n g   l a n u g a n g e

In [14]:
str_name=""
if str_name:
    print("str_name have string")
else:
    print("str_name is an empty string")

str_name is an empty string

In [15]:
str_name=""
if not str_name:
    print("str_name have string")
else:
    print("str_name is an empty string")

str_name have string

In [84]:
set_a={1,2,3,4}
set_b={4,5,6,7}
set_a+set_b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [89]:
list_a=[2,3,9,6,5,4,-1]
z=sorted(list_a)
print(z)
list_a.sort()

[-1, 2, 3, 4, 5, 6, 9]

In [87]:
list_a

[-1, 2, 3, 4, 5, 6, 9]

# set operations

In [90]:

#1.union
set_a={1,2,3,4}
set_b={4,5,6,7}
z=set_a.union(set_b)
print(z)

{1, 2, 3, 4, 5, 6, 7}

In [91]:
set_a={9,3,4,5}
set_b={"talib","ansari","123"}
z=set_a | set_b
print(z)

{3, 4, 5, 'talib', 9, 'ansari', '123'}

In [93]:
type(z)
id(z)

2510263642016

In [94]:
# intersection
set_a={1,2,3,4}
set_b={4,5,6,7}
z=set_a.intersection(set_b)
print(z)

{4}

In [95]:
set_a={1,2,3,4}
set_b={4,5,6,7}
z=set_a & set_b
print(z)

{4}

In [96]:
type(z)

set

In [97]:
#difference
set_a={1,2,3,4}
set_b={4,5,6,7}
z=set_a.difference(set_b)
print(z)

{1, 2, 3}

In [98]:
set_a={1,2,3,4}
set_b={4,5,6,7}
z=set_a-set_b
print(z)

{1, 2, 3}

In [99]:
set_a={1,2,3,4}
set_b={"ansari",5,6,"talib"}
z=set_a-set_b
print(z)

{1, 2, 3, 4}

In [100]:
set_a={1,2,3,4}
set_b={"ansari",5,6,"talib"}
z=set_b-set_a
print(z)

{'talib', 'ansari', 5, 6}

In [104]:
#symmetrick--a^b it removes the common element
set_a={1,2,3,4}
set_b={"ansari",5,6,2,"talib"}
z=set_a^set_b
print(z)

{1, 3, 4, 5, 6, 'talib', 'ansari'}

In [106]:
set_a={1,2,3,4}
set_b={"ansari",5,6,"talib"}
z=set_a.issubset(set_b)
print(z)

False

In [109]:
set_a={1,2,3,4,5,6}
set_b={"ansari",5,6,"talib"}
z=set_a.issubset(set_b)
print(z)

False

In [110]:
set_a={1,2,3,4}
set_b={3,1,2,5,6,8}
z=set_a.issubset(set_b)
print(z)

False

In [112]:
set_a={1,2,3,4}
set_b={1,2,3,4,5,6,7,8}
z=set_a.issubset(set_b)
print(z)

True

In [113]:
set_a={1,2,3,4}
set_b={1,2,3,4,5,6,7,8}
z=set_b.issubset(set_a)
print(z)

False

In [114]:
set_a={1,2,3,4,9}
set_b={1,2,3,4,5,6,7,8}
z=set_a.issubset(set_b)
print(z)

False

In [115]:
#disjoint--if any element from both the set is common then it will return false
set_a={1,2,3,4}
set_b={1,2,3,4,5,6,7,8}
z=set_a.isdisjoint(set_b)
print(z)

False

In [117]:
set_a={11,22,33,44}
set_b={1,2,3,4,5,6,7,8}
z=set_a.isdisjoint(set_b)
print(z)

True

In [118]:
set_a={12,32,43,4}
set_b={1,2,3,4,5,6,7,8}
z=set_a.isdisjoint(set_b)
print(z)

False

set funtion(.add(),.remove(),.pop(),.len())

In [125]:
set1=set()
set1.add(1)
print(set1)

{1}

In [127]:
set1.add("talib")
print(set1)

{'talib', 1}

In [129]:
set1.add("ansari")
print(set1)

{'talib', 1, 'ansari'}

In [130]:
print(len(set1))

3

In [135]:
set1.remove("talib")
print(set1)

{'ansari'}

In [136]:
num1={1,3,5,6,7,9}
num1.remove(1)
print(num1)

{3, 5, 6, 7, 9}

In [137]:
num1={1,3,5,6,7,9}
num1.pop()
print(num1)

{3, 5, 6, 7, 9}

In [141]:
num1={1,3,5,6,7,9}
z=num1.pop()
print(z)

1

In [149]:
num1={1,3,5,6,7,9}
z=num1.pop()
print(z)

1

In [150]:
#num1={1,3,5,6,7,9}
z=num1.pop()
print(z)

3

In [151]:
num1={1,"a",5,6,7,9}
z=num1.pop()
print(z)

1

In [152]:
#num1={1,"a",5,6,7,9}
z=num1.pop()
print(z)

7

In [153]:
#num1={1,"a",5,6,7,9}
z=num1.pop()
print(z)

5

In [154]:
#num1={1,"a",5,6,7,9}
z=num1.pop()
print(z)

6

In [155]:
#num1={1,"a",5,6,7,9}
z=num1.pop()
print(z)

a

In [156]:
#num1={1,"a",5,6,7,9}
z=num1.pop()
print(z)

9

In [159]:
num1={1,"a",5,6,7,9}
num1.discard(1)
print(num1)

{7, 5, 6, 'a', 9}

In [160]:
num1={1,"a",5,6,7,9}
num1.discard(2)
print(num1)

{1, 7, 5, 6, 'a', 9}

In [163]:
num1={1,"a",5,6,7,9}
num1.remove(1)
num1.pop()
num1.discard("a")
print(num1)

{5, 6, 9}

In [164]:
num1.discard(4)
print(num1)

{5, 6, 9}

In [167]:
try:
    num1.remove(4)
    print(num1)
except :
    print("this value is not belong to the set")

this value is not belong to the set

In [172]:
#copy function
num1={1,"a",5,6,7,9}
num2=set()
num1.copy()
print(num1)

{1, 7, 5, 6, 'a', 9}

In [175]:
num1={1,"a",5,6,7,9}
num2=set()
num1.copy()
num1.remove(1)
print(num1)

{7, 5, 6, 'a', 9}

In [15]:
num1={1,"a",5,6,7,9}
num2=set()
num2.copy(num1)
print(num2)

TypeError: set.copy() takes no arguments (1 given)

In [176]:
num1={1,"a",5,6,7,9}
num2=set()
num1.clear()
print(num1)

set()

In [177]:
name={"banana","cherry","dragon fruit","beatroot"}
print(name.copy())

{'banana', 'cherry', 'dragon fruit', 'beatroot'}

In [178]:
name={"banana","cherry","dragon fruit","beatroot"}
z=len(name)
print(z)

4

In [179]:
name={"banana","cherry","dragon fruit","beatroot"}
name.add(5)
print(name)

{5, 'dragon fruit', 'beatroot', 'banana', 'cherry'}

In [180]:
name={5,"banana","cherry","dragon fruit","beatroot"}
name.remove(5)
print(name)

{'banana', 'cherry', 'dragon fruit', 'beatroot'}

In [181]:
name={"banana","cherry","dragon fruit","beatroot"}
z=name.pop()
print(z)

banana

In [183]:
name={"banana","cherry","dragon fruit","beatroot"}
name.discard("banana")
print(name)

{'cherry', 'dragon fruit', 'beatroot'}

In [184]:
try:
    name={"banana","cherry","dragon fruit","beatroot"}  
    name.remove(6)
    print(name)
except:
    print("like no value is there")

like no value is there

In [185]:
name={"banana","cherry","dragon fruit","beatroot"}
name.discard(7)
print(name)

{'banana', 'cherry', 'dragon fruit', 'beatroot'}

In [187]:
name={"banana","cherry","dragon fruit","beatroot"}
name.clear()
print(name)

set()

In [188]:
set_a={0,1,1,0,1,0,1,0}
set_a

{0, 1}

In [189]:
set_a={True,False,True,False,True,False}
set_a

{False, True}

In [190]:
set_a={0,True,False,1,False,0,1}
set_a

{0, True}

In [191]:
set_b={True,1,True,1,True}
set_b

{True}

In [192]:
set_c={False,0,False,0,False,0}
set_c

{False}

In [193]:
set_d={1,1,1,1,1,1,1,1,True,True,True,True,True,True,0,0,0,0,0,0,0,0,0,0,False,False,False,False,False,False,False}
set_d

{0, 1}

In [194]:
set_e={"True","False",1,0,1,0,True,False}
set_e

{0, 1, 'False', 'True'}

In [195]:
set_f={True,True,True,True,1,1,1,1,1,1,1,1,1,1,1,1,1}
set_f

{True}

In [196]:
set_g={1,1,1,1,1,1,True,True,True,True,True,True,True,True,True}
set_g

{1}

In [197]:
set_h={0,0,0,0,0,False,False,False,False,False,False,False,False}
set_h

{0}

In [198]:
set_i={False,False,False,False,False,False,False,False,0,0,0,0,0,0,0,0,0,0,0,}
set_i

{False}

Input: 4
Output:
****
****
****
****

In [12]:
for i in range(1,5):
    print("*"*4)

****
****
****
****

*
**
***
****

In [13]:
for i in range(1,5):
    print("*"*i)

*
**
***
****

****
***
**
*

In [15]:
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

   *
  **
 ***
****

In [93]:
n=int(input())
for i in range(1,n+1):
    print(" "*(n-i),end="")
    print("*"*i)

 5

    *
   **
  ***
 ****
*****

1
12
123
1234

In [89]:

for i in range(1,5):
    for j in range(1,i+1):
        print(j,end="")
    print()
    
   # for j in range(1,5):
        #print(f'{i}'*j)

1
12
123
1234

1234
123
12
1

In [92]:
for i in range(4,0,-1):
    for j in range(1,i+1):
        print(j,end="")
    print()

1234
123
12
1

   *
  ***
 *****
*******

In [95]:
n=int(input())
for i in range(1,n+1):
    space=n-i
    stars=2*i-1
    print(" "*space,"*"*stars)

 7

       *
      ***
     *****
    *******
   *********
  ***********
 *************

In [7]:
n=int(input())
for i in range(n,0,-1):
    space=n-i
    stars=2*i-1
    print(" "*space,"*"*stars)

 5

 *********
  *******
   *****
    ***
     *

   *
  ***
 *****
  ***
   *

In [31]:
n=int(input())
for i in range(1,n+1):
    space=n-i
    stars=2*i-1
    print(" "*space,"*"*stars)
for j in range(n-1,0,-1):
    space=n-j
    stars=2*j-1
    print(" "*space,"*"*stars)

 5

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

1
2 3
4 5 6
7 8 9 10

In [27]:
n=1
for i in range(1,11):
    for j in range(i):
        print(n,end=" ")
        n+=1
    print()
    
    
   # for j in range(1,i+1):
     #   print(i,end="")
   # print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45
46 47 48 49 50 51 52 53 54 55

In [8]:
n=int(input())
for i in range(n):
    num=1
    for j in range(i+1):
        print(num,end=" ")
        num=num*(i-j)//(j+1)
    print()

 4

1
1 1
1 2 1
1 3 3 1

In [26]:
for i in range(n):
    for j in range(i+1):
        print((i+j)%2,end=" ")
    print()

0
1 0
0 1 0
1 0 1 0

1
0 1
1 0 1
0 1 0 1

In [28]:
for i in range(n):
    for j in range(i+1):
        print((i+j+1)%2,end=" ")
    print()

1
0 1
1 0 1
0 1 0 1

A
AB
ABC
ABCD

In [32]:
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()

A
A B
A B C
A B C D

In [39]:
for i in range(n):
    for j in range(n-i,0,-1):
        print(chr(64+j),end=" ")
    print()

D C B A
C B A
B A
A

      1
     12
    123
   1234
  12345

In [46]:
n=int(input())
for i in range(n):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(j,end="")
    print()

 5

     1
    12
   123
  1234

    1
   121
  12321
 1234321

In [52]:
n=int(input())
for i in range(n):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(j,end="")
print()

 5

           1    12   123  1234

In [53]:
n=int(input())
for i in range(1,n+1):
    space=n-i
    num=2*i-1
    print(" "*space,num)

 5

     1
    3
   5
  7
 9

In [55]:
n=int(input())
for i in range(n):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(j,end="")
    for j in range(i-1,0,-1):
        print(j,end="")
    print()

 5

    1
   121
  12321
 1234321

In [1]:
d={"name":"talib","age":124}
print(d)

{'name': 'talib', 'age': 124}

In [2]:
d.keys()

dict_keys(['name', 'age'])

In [3]:
d.values()

dict_values(['talib', 124])

In [4]:
print("hello world")

hello world