## Tuple--
# work on tuple-- original tuple does not change because it is immutable it just create object or to just reference the variable with same value
1.empty tuple creation
2.nested tuple creation
3.variable tuple creation
4.list to tuple <---> tuple to list
5.set to tuple <---->tuple to set
6.string to tuple <----> tuple to string
7.iteration on tuple
8.value access on tuple
9.value accessing with index
10.differnce btw string and tuple
# tuple properties
1.immutable
2.ordered
3.indexd
4.iterable
# function of tuple
1..count()
2..indexd()
3.tuple unpacking
4.tuple function
5.tuple comprehension
6.tuple as dict keyword
7.tuple with astrick(*)

In [1]:
tuple_name=()
tuple_name

()

In [2]:
type(tuple_name)

tuple

In [3]:
tuple_1=tuple()
tuple_1

()

In [4]:
z=tuple_1
z

()

In [9]:
tuple_a=[x for x in range(10)]
tuple_a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
type(tuple_a)

list

In [11]:
tuple_b=(x for x in range(10))
tuple_b

In [12]:
type(tuple_b)

generator

In [13]:
tuple_c=([x for x in range(10)])
tuple_c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
type(tuple_c)

list

In [15]:
tuple_d=tuple([x for x in range(10)])
tuple_d

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [16]:
type(tuple_d)

tuple

In [17]:
tuple_e=(([ x for x in range(10)]),)
tuple_e

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9],)

In [18]:
type(tuple_e)

tuple

In [19]:
tuple_f=(1,2,3,4)
tuple_f

(1, 2, 3, 4)

In [20]:
type(tuple_f)

tuple

In [21]:
tuple_g=("talib","vipul","brijesh")
tuple_g

('talib', 'vipul', 'brijesh')

In [22]:
# variable tuple
name="talib"
age=19
lang="python"
tuple_h=(name,age,lang)
tuple_h

('talib', 19, 'python')

In [24]:
tuple_i=(hey ,what ,are,you ,doing)
tuple_i

NameError: name 'hey' is not defined

In [25]:
# Nested Tuple
tuple_j=(
    ("banana","apple","cherry"),
    (1,2,3,4,5),
    ("@","#","$")
)
tuple_j

(('banana', 'apple', 'cherry'), (1, 2, 3, 4, 5), ('@', '#', '$'))

In [26]:
tuple_j[0]

('banana', 'apple', 'cherry')

In [27]:
tuple_j[0][0]

'banana'

In [28]:
tuple_j.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [29]:
tuple_j[0].append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
tuple_j[0][1].append(9)

AttributeError: 'str' object has no attribute 'append'

In [31]:
# Nested Tuple
tuple_k=(
    ("banana","apple","cherry"),
    ([1,2,3,4,5]),
    ("@","#","$")
)
tuple_k

(('banana', 'apple', 'cherry'), [1, 2, 3, 4, 5], ('@', '#', '$'))

In [32]:
tuple_k[1]

[1, 2, 3, 4, 5]

In [33]:
type(tuple_k[1])

list

In [34]:
tuple_k[1].append(9)
tuple_k

(('banana', 'apple', 'cherry'), [1, 2, 3, 4, 5, 9], ('@', '#', '$'))

In [35]:
tuple_1=(
    ([1,2,3,4]),)
tuple_1[0].append(10)

In [36]:
tuple_1

([1, 2, 3, 4, 10],)

In [37]:
tuple_2=(
    (1,2,3,4),
    (["banana","apple"])
)
tuple_2

((1, 2, 3, 4), ['banana', 'apple'])

In [38]:
tuple_2[1].append("cherry")

In [39]:
tuple_2

((1, 2, 3, 4), ['banana', 'apple', 'cherry'])

In [40]:
tuple_3=(1,2,3,4)
tuple_3

(1, 2, 3, 4)

In [41]:
type(tuple_3)

tuple

In [42]:
list_1=list(tuple_3)
list_1

[1, 2, 3, 4]

In [43]:
type(list_1)

list

In [44]:
list_2=[12,3,4,4]
tuple_4=tuple(list_2)
tuple_4

(12, 3, 4, 4)

In [45]:
type(tuple_4)

tuple

In [46]:
tuple_5=(
    (1,2,3,4,5),
    ("banana","cherry")
)
list_3=list(tuple_5)
list_3

[(1, 2, 3, 4, 5), ('banana', 'cherry')]

In [47]:
list_4=[
    [6,7,8,9],
    ["banana","cherry"]
]
tuple_6=tuple(list_4)

In [48]:
tuple_6

([6, 7, 8, 9], ['banana', 'cherry'])

In [49]:
type(tuple_4)

tuple

In [50]:
list_4=[
    [6,7,8,9],
    ["banana","cherry"]
]
tuple_6=((list_4),)
tuple_6

([[6, 7, 8, 9], ['banana', 'cherry']],)

In [3]:
list_4=[
    [6,7,8,9],
    ["banana","cherry"]
]
tuple_6=tuple(list_4)
tuple_6

([6, 7, 8, 9], ['banana', 'cherry'])

In [5]:
tuple_1=(1,2,3,4,5)
list_1=list(tuple_1)
list_1

[1, 2, 3, 4, 5]

In [6]:
tuple_2=(1,2,3,"banana","hey")
list_2=list(tuple_2)
list_2

[1, 2, 3, 'banana', 'hey']

In [7]:
list_3=[x for x in range(10)]
for i in list_3:
    tuple_4=()
    tuple_4.append(i)
    tuple_4

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
list_3=[x for x in range(10)]
for i in list_3:
    tuple_4=([])
    tuple_4[0].append(i)
tuple_4

IndexError: list index out of range

In [16]:
list_3=[x for x in range(10)]
for i in list_3:
    tuple_4=(([]),)
    tuple_4[0].append(i)
    print(tuple_4,end="")

([0],)([1],)([2],)([3],)([4],)([5],)([6],)([7],)([8],)([9],)

In [18]:
list_3=[x for x in range(10)]
tuple_4=(([]),)
for i in list_3:
    tuple_4[0].append(i)
print(tuple_4,end="")

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9],)

In [20]:
 list_3=[x for x in range(15)]
list_a=[]
tuple_4=((list_a),)
for i in list_3:
    list_a.append(i)
print(tuple_4,end="")

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],)

In [22]:
tuple_5=(1,2,3,4)
set_a=set(tuple_5)
print(set_a)

{1, 2, 3, 4}

In [23]:
type(set_a)

set

In [25]:
tuple_k=(
    ("banana","apple","cherry"),
    #([1,2,3,4,5]),
    ("@","#","$")
)
set_b=set(tuple_k)
set_b

{('@', '#', '$'), ('banana', 'apple', 'cherry')}

In [26]:
tuple_k=(
    ("banana","apple","cherry"),
    ([1,2,3,4,5]),
    ("@","#","$")
)
set_c=set(tuple_k)
set_c

TypeError: unhashable type: 'list'

In [27]:
list_4=[
    [6,7,8,9],
    ["banana","cherry"]
]
set_d=set(list_4)
set_d

TypeError: unhashable type: 'list'

In [28]:
list_5=[6,7,8,9]
set_e=set(list_5)
print(set_e)

{8, 9, 6, 7}

In [37]:
list_4=[
    [6,7,8,9],
    ["banana","cherry"]
]
set_d=set()
tuple_5=(([]),([]))
for i in list_4:
    tuple_5[0].append(i)
print(tuple_5)
print(set_d)

([[6, 7, 8, 9], ['banana', 'cherry']], [])
set()

In [40]:
list_4=[
    [6,7,8,9],
    ["banana","cherry"]
]
set_d=set()
tuple_5=(([]),)
for i in list_4:
    set_d.add(tuple_5[0].append(i))
print(tuple_5)
print(set_d)

([[6, 7, 8, 9], ['banana', 'cherry']],)
{None}

In [41]:
type(set_d)

set

In [42]:
set_d

{None}

In [43]:
z=set_d
print(z)

{None}

In [48]:
set_a={"banana","cherry"}
    # {6,7,8,9},

type(set_a)
print(set_a)

{'cherry', 'banana'}

In [49]:
list_a=list(set_a)
print(list_a)

['cherry', 'banana']

In [51]:
type(list_a)

list

In [52]:
set_a={"banana","cherry"}
set_b={6,7,8,9}
set_c={set_a,set_b}
print(set_c)

TypeError: unhashable type: 'set'

In [53]:
tuple_q=(1,2,3,4)
set_q=set(tuple_q)
set_q

{1, 2, 3, 4}

In [55]:
tuple_q=((1,2,3,4),"talib")
tuple_q[1]

'talib'

In [56]:
set_q=set(tuple_q)
set_q

{(1, 2, 3, 4), 'talib'}

In [58]:
tuple_q=((1,2,3,4),
         ("talib","apple","hey","hey")
        )
set_q=set(tuple_q)
set_q

{('talib', 'apple', 'hey', 'hey'), (1, 2, 3, 4)}

In [59]:
set_w={1,2,3,4}
tuple_w=tuple(set_w)
tuple_w

(1, 2, 3, 4)

In [60]:
set_w={1,2,3,4}
tuple_w=((set_w),)
tuple_w

({1, 2, 3, 4},)

In [61]:
set_w={1,2,3,4}
tuple_w=(set_w)
tuple_w

{1, 2, 3, 4}

In [62]:
set_e={
    {1,2,3,4},
    {"talib","apple","hey","hey"}
}
print(set_e)

TypeError: unhashable type: 'set'

In [63]:
str_name="talib"
tuple_name=tuple(str_name)
tuple_name

('t', 'a', 'l', 'i', 'b')

In [64]:
tuple_r=("hey","how",1,2)
str_r=str(tuple_r)
str_r

"('hey', 'how', 1, 2)"

In [65]:
type(str_r)

str

In [66]:
tuple_t=(
    ("hey","how"),
    (1,2,3,4,5)
)
str_t=str(tuple_t)
str_t

"(('hey', 'how'), (1, 2, 3, 4, 5))"

In [67]:
type(str_t)

str

In [69]:
tuple_y=("t","a","l","i","b")
str_y=' '
z=' '.join(tuple_y)
z

't a l i b'

In [70]:
tuple_y=("t","a","l","i","b")
str_y=''
z=''.join(tuple_y)
z

'talib'

In [77]:
tuple_u=("banana","apple","cherry")
str_i=''
print(''.split(tuple_u))

TypeError: must be str or None, not tuple

In [78]:
tuple_u=("banana","apple","cherry")
str_i=str(tuple_u)
print(str_i.split())

["('banana',", "'apple',", "'cherry')"]

In [79]:
type(str_i)

str

In [74]:
str_u="banana"
z=str_u.split()
z

['banana']

In [75]:
str_u="banana"
print(str_u.split())

['banana']

In [80]:
tuple_q=((1,2,3,4),
         ("talib","apple","hey","hey")
        )
for i in tuple_q:
    print(i)

(1, 2, 3, 4)
('talib', 'apple', 'hey', 'hey')

In [89]:
tuple_q= ((1,2,3,4),
    ("talib","apple","hey","hey")
       )
for i in tuple_q:
    print(i)

(1, 2, 3, 4)
('talib', 'apple', 'hey', 'hey')

In [90]:
tuple_q.count(1)

0

In [93]:
tuple_q= ((1,2,3,4),
    ("talib","apple","hey","hey")
       )
tuple_q.index([1])

ValueError: tuple.index(x): x not in tuple

In [94]:
tuple_q= ((1,2,3,4),
    ("talib","apple","hey","hey")
       )
a,b=tuple_q
print(a,b)

(1, 2, 3, 4) ('talib', 'apple', 'hey', 'hey')

In [95]:
tuple_q= ((1,2,3,4),
    ("talib","apple","hey","hey")
       )
a,*b=tuple_q
print(a,b)

(1, 2, 3, 4) [('talib', 'apple', 'hey', 'hey')]

In [97]:
type(b)

list

In [98]:
type(a)

tuple

In [101]:
def calc(a,b,c):
    return a+b+c,a-b+c,a%b
result=calc(9,6,3)
print(result)

(18, 6, 3)

In [102]:
type(result)

tuple

In [103]:
#tuple comprehension
tuple_q=([x for x in range(10)])
tuple_q

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
#tuple comprehension
tuple_q=(([x for x in range(10)]),)
tuple_q

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9],)

In [105]:
my_dict={(1,2):"talib",(2,3):"ansari"}
print(my_dict)

{(1, 2): 'talib', (2, 3): 'ansari'}

In [109]:
print(my_dict.keys())
my_dict.values()

dict_keys([(1, 2), (2, 3)])

dict_values(['talib', 'ansari'])

## Dictionary--
# Conversion--
1.dict to list-----list to dict
2.dict to tuple----tuple to dict
3.dict to set---- not possible due to unorderdness of sets
## Properties-- key:value
1.mutable
2.unorderd
3.indexd by keys
4.dynamic in nature
5.unique key
# work on--
1.empty dict creation
2.variable dict creation
3.nested dict creation
## Fuction--
1.get(key)
2.pop(key)
3.keys()
4.values()
5.items()
6.popitem()
7.update(key:value)
8.clear()
9.setdefault(key:default)
10.dict_name=dict_1|dict_2

In [52]:
my_dict={}
type(my_dict)

dict

In [53]:
dict_1=dict()
type(dict_1)

dict

In [57]:
dict_2={name:"talib",age:19}
dict_2

{'talib': 'talib', 19: 19}

In [72]:
dict_2[name]

'talib'

In [73]:
name="talib"
age=21
occupation="student"
code=486331
dict_3={name,age,code,occupation}
dict_3
#print(dict_3[name])

{21, 486331, 'student', 'talib'}

In [74]:
type(dict_3)

set

In [76]:
name="talib"
age=21
occupation="student"
code=486331
dict_3={
    name:"talib",
    age:21,
    occupation:"student",
    code:486331
}
dict_3
#print(dict_3[name])

{'talib': 'talib', 21: 21, 'student': 'student', 486331: 486331}

In [77]:
type(dict_3)

dict

In [78]:
dict_3[name]

'talib'

In [79]:
dict_3[code]

486331

In [80]:
dict_a={"talib",{"hey","what","are"}}
dict_a

TypeError: unhashable type: 'set'

In [83]:
dict_b={name:{age:21,code:486331}}
dict_b

{'talib': {21: 21, 486331: 486331}}

In [84]:
dict_b[name][age]

21

In [110]:
tuple_a=(
    (1,2,3,4),
    ("banana","have")
)
set_a=set(tuple_a)
set_a

{('banana', 'have'), (1, 2, 3, 4)}

In [115]:
list_a=[
    [1,2,3,4,6],
    ["banana","have"]
]
set_b=set(list_a)
set_b

TypeError: unhashable type: 'list'

In [8]:
dict_b.get(name)[age]

NameError: name 'dict_b' is not defined

In [5]:
dict_b={name:{age:21,code:486331}}
dict_b.get(name)[age]

NameError: name 'name' is not defined

In [6]:
z=dict_b.get(age)

NameError: name 'dict_b' is not defined

In [7]:
print(z)

NameError: name 'z' is not defined

In [92]:
dict_4={}
n=int(input("enter the number that much you key or value wants"))
for i in range(1,n):
    key=input("enter the key here:")
    value=input("enter value here:")
    dict_4[key]=value
    #sex=input("enter sex here:")
print(dict_4)

enter the number that much you key or value wants 4
enter the key here: name
enter value here: talib
enter the key here: age
enter value here: 21
enter the key here: code
enter value here: 486331

{'name': 'talib', 'age': '21', 'code': '486331'}

In [93]:
type(dict_4)

dict

In [95]:
dict_5={}
n=int(input())
for i in range(n+1):
    key=input("enter key here:")
    value=input("enter value here:")
    dict_5[key]=value
print(dict_5)

 4
enter key here: name
enter value here: talib
enter key here: age
enter value here: 21
enter key here: occupation
enter value here: student
enter key here: r.no
enter value here: 004
enter key here: college
enter value here: bhopal

{'name': 'talib', 'age': '21', 'occupation': 'student', 'r.no': '004', 'college': 'bhopal'}

In [98]:

n=input()
dict_6=eval(n)
print(dict_6)

 5

5

In [102]:
user_input = input("Enter dictionary (e.g., {'name': 'Talib', 'age': 21}): ")
dict_3 = eval(user_input)  #  Use with caution, unsafe with untrusted input
print(dict_3)

Enter dictionary (e.g., {'name': 'Talib', 'age': 21}):  name:Talib age:21

SyntaxError: invalid syntax (<string>, line 1)

In [104]:
import json
user_input=input()
dict_7=json.loads(user_input)
print(dict_7)

 "name":"Talib"

JSONDecodeError: Extra data: line 1 column 7 (char 6)

In [117]:
#user input dict
dict_a={}
n=int(input("enter number here:"))
for i in range(n):
    key=input("enter key here:")
    value=input("enter value here:")
    dict_a[key]=value
print(dict_a)

enter number here: 5
enter key here: name
enter value here: vipul
enter key here: age
enter value here: 21
enter key here: work
enter value here: business analsyst
enter key here: office
enter value here: rewa
enter key here: life
enter value here: unmarried

{'name': 'vipul', 'age': '21', 'work': 'business analsyst', 'office': 'rewa', 'life': 'unmarried'}

In [118]:
dict_a.keys()

dict_keys(['name', 'age', 'work', 'office', 'life'])

In [119]:
dict_a.values()

dict_values(['vipul', '21', 'business analsyst', 'rewa', 'unmarried'])

In [120]:
dict_b={'name': 'vipul', 'age': '21', 'work': 'business analsyst', 'office': 'rewa', 'life': 'unmarried'}
print(dict_b)

{'name': 'vipul', 'age': '21', 'work': 'business analsyst', 'office': 'rewa', 'life': 'unmarried'}

In [131]:
for i in dict_b:
    print(i)

name
age
work
office
life

In [134]:
for i in dict_b.keys():
    key=i
    print(dict_b[i])

vipul
21
business analsyst
rewa
unmarried

In [135]:
dict_1={
    'course':"Data Science",
    'duration':"6 months",
    'fee':27000,
    'teacher':'Jayant Kumar'
}
dict_1.get("teacher")

'Jayant Kumar'

In [137]:
dict_1.get("6 months")

In [138]:
dict_1.get("fee")

27000

In [140]:
dict_1.get("hii")

In [143]:
dict_2={
    "name":"jiyaul Hak",
    "relation":"uncle",
    "shop":"prince tailor",
    "rent":10000
}
    
dict_2.pop("rent")

10000

In [144]:
dict_2.pop("shop")

'prince tailor'

In [145]:
dict_2

{'name': 'jiyaul Hak', 'relation': 'uncle'}

In [148]:
dict_3={
    "shop":"jewellary shop",
    "owner":"brijesh soni",
    "place":"patehra",
    "earning":90000
}
dict_3.items("place")

TypeError: dict.items() takes no arguments (1 given)

In [149]:
dict_3.items()

dict_items([('shop', 'jewellary shop'), ('owner', 'brijesh soni'), ('place', 'patehra'), ('earning', 90000)])

In [150]:
type(dict_3.items())

dict_items

In [154]:
dict_3["place"]

'patehra'

In [156]:
dict_3.popitem()

('earning', 90000)

In [157]:
dict_3.popitem()

('place', 'patehra')

In [158]:
dict_3.popitem()

('owner', 'brijesh soni')

In [159]:
dict_3

{'shop': 'jewellary shop'}

In [163]:
dict_4={
    "company":"BMW",
    "car":"Rolse Royse",
    "price":"150k $"
}
dict_4

{'company': 'BMW', 'car': 'Rolse Royse', 'price': '150k $'}

In [169]:
dict_4.update("owner":"talib")

SyntaxError: invalid syntax (2352708069.py, line 1)

In [171]:
dict_4.update(price=15)

In [172]:
dict_4

{'company': 'BMW', 'car': 'Rolse Royse', 'price': 15}

In [174]:
dict_4.update(company="mercedes")

In [175]:
dict_4

{'company': 'mercedes', 'car': 'Rolse Royse', 'price': 15}

In [176]:
dict_4.update(owner="talib")
dict_4

{'company': 'mercedes', 'car': 'Rolse Royse', 'price': 15, 'owner': 'talib'}

In [178]:
dict_5={
    "bat":"mrf",
    "signed":"virat",
    "purachse":200
}
dict_6={
    "ball":"kukuborra",
    "weight":200,
    "price":3000
}
dict_5.update(dict_6)
dict_5

{'bat': 'mrf',
 'signed': 'virat',
 'purachse': 200,
 'ball': 'kukuborra',
 'weight': 200,
 'price': 3000}

In [181]:
dict_6["ball"]

'kukuborra'

In [179]:
dict_6["bowler"]

KeyError: 'bowler'

In [182]:
try:
    dict_6["bowler"]
except KeyError as e:
    print(f"keyError is:{e}")

keyError is:'bowler'

In [183]:
dict_6.setdefault("bowler","na")

'na'

In [184]:
dict_6["bowler"]

'na'

In [190]:
merged=dict_5|dict_6
merged

{'bat': 'mrf',
 'signed': 'virat',
 'purachse': 200,
 'ball': 'kukuborra',
 'weight': 200,
 'price': 3000}

In [191]:
merged_dict=dict_4|dict_5
merged_dict

{'company': 'mercedes',
 'car': 'Rolse Royse',
 'price': 3000,
 'owner': 'talib',
 'bat': 'mrf',
 'signed': 'virat',
 'purachse': 200,
 'ball': 'kukuborra',
 'weight': 200}

In [185]:
dict_6.clear()

In [186]:
dict_6

{}

In [187]:
type(dict_6)

dict

# Dict comprehension

In [192]:
flavors = ["vanilla", "chocolate", "strawberry", "mango", "coffee"]
prices_per_scoop = {flavor: len(flavor) * 5 for flavor in flavors}  # Simple logic: price = length of name  5
print(f"Ice cream prices: {prices_per_scoop}")

Ice cream prices: {'vanilla': 35, 'chocolate': 45, 'strawberry': 50, 'mango': 25, 'coffee': 30}

In [205]:
premium_flavors = {flavor: price for flavor, price in prices_per_scoop.items() if price > 30}
print(f"Premium flavors: {premium_flavors}")

Premium flavors: {'vanilla': 35, 'chocolate': 45, 'strawberry': 50}

In [193]:
fruits=["banana","apple"]
price_per_kg={x:len(fruits)*7 for x in fruits}
print(f"prices of the fruits:{price_per_kg}")

prices of the fruits:{'banana': 14, 'apple': 14}

In [196]:
list_bikes=["tvs","bmw","honda","royal enfield"]
quantity={quant: quant*2 for quant in list_bikes}
print(f"quantity of bikes are:{quantity}")

quantity of bikes are:{'tvs': 'tvstvs', 'bmw': 'bmwbmw', 'honda': 'hondahonda', 'royal enfield': 'royal enfieldroyal enfield'}

In [197]:
list_bikes=["tvs","bmw","honda","royal enfield"]
quantity={quant: list_bikes*2 for quant in list_bikes}
print(f"quantity of bikes are:{quantity}")

quantity of bikes are:{'tvs': ['tvs', 'bmw', 'honda', 'royal enfield', 'tvs', 'bmw', 'honda', 'royal enfield'], 'bmw': ['tvs', 'bmw', 'honda', 'royal enfield', 'tvs', 'bmw', 'honda', 'royal enfield'], 'honda': ['tvs', 'bmw', 'honda', 'royal enfield', 'tvs', 'bmw', 'honda', 'royal enfield'], 'royal enfield': ['tvs', 'bmw', 'honda', 'royal enfield', 'tvs', 'bmw', 'honda', 'royal enfield']}

In [204]:
list_bikes=["tvs","bmw","honda","royal enfield"]
quantity={list_bike: len(list_bike)*2 for list_bike in list_bikes}
print(f"quantity of bikes are:{quantity}")

quantity of bikes are:{'tvs': 6, 'bmw': 6, 'honda': 10, 'royal enfield': 26}

# Unpacking
1.list unpacking------------->
2.tuple unpacking------------> (*)astrick can be used in all of them
3.set unpacking-------------->    and when we use astrick on two(list,tuple,sets,dict) all were converted on tuple
4.dictionary unpacking------->     As:list_a,list_b
                                      c=list_a,list_b   it will converted on tuple directly